@import url("../../fonts/fonts.css");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.bridge-body-outer {
  background-color: #fff;
  border-radius: 8px;
  padding: 15px; }
  @media (max-width: 579px) {
    .bridge-body-outer {
      padding: 0; } }
  @media (max-width: 991px) {
    .bridge-body-outer .bridge-tab-body-2 {
      display: none; } }

.bridge-body-cover {
  display: flex;
  justify-content: center; }
  .bridge-body-cover .bridge-data-outer {
    width: 100%;
    max-width: 855px; }
    @media (max-width: 1679px) {
      .bridge-body-cover .bridge-data-outer {
        max-width: 600px; } }
    @media (max-width: 1199px) {
      .bridge-body-cover .bridge-data-outer {
        max-width: 530px; } }
    @media (max-width: 579px) {
      .bridge-body-cover .bridge-data-outer {
        padding-left: 10px;
        padding-right: 10px; } }
  .bridge-body-cover .tut-info-block {
    display: flex;
    border: 1px solid #DFD04C;
    background-color: #FFF27E;
    border-radius: 14px;
    padding: 15px; }
    .bridge-body-cover .tut-info-block .info-i {
      display: inline-block;
      margin-right: 5px;
      margin-top: -2px; }
      .bridge-body-cover .tut-info-block .info-i img {
        filter: brightness(0) saturate(100%) invert(15%) sepia(42%) saturate(600%) hue-rotate(7deg) brightness(93%) contrast(97%); }
      @media (max-width: 579px) {
        .bridge-body-cover .tut-info-block .info-i img {
          width: 14px; } }
    .bridge-body-cover .tut-info-block .info-data {
      text-align: left;
      font-size: 13px;
      color: #70650C; }
      @media (max-width: 579px) {
        .bridge-body-cover .tut-info-block .info-data {
          font-size: 12px; } }
  .bridge-body-cover .bridge-banner-sec {
    text-align: center;
    padding: 30px 0 50px; }
    @media (max-width: 1679px) {
      .bridge-body-cover .bridge-banner-sec {
        padding: 20px 0 30px; } }
    @media (max-width: 579px) {
      .bridge-body-cover .bridge-banner-sec {
        padding: 30px 0 50px; } }
    .bridge-body-cover .bridge-banner-sec h2 {
      color: #2966FF;
      font-size: 20px;
      font-weight: 500; }
    .bridge-body-cover .bridge-banner-sec p {
      color: #8393BA;
      font-size: 14px;
      max-width: 320px;
      margin: 0 auto 40px; }
    .bridge-body-cover .bridge-banner-sec .tut-block {
      width: 100%;
      border: 1px solid #E3E4F3;
      border-radius: 14px;
      background-color: #f4f7fd;
      padding: 16px 20px; }
      @media (max-width: 360px) {
        .bridge-body-cover .bridge-banner-sec .tut-block {
          padding: 15px 10px; } }
      .bridge-body-cover .bridge-banner-sec .tut-block .tut-link {
        text-decoration: underline;
        color: #2E4276;
        font-size: 13px;
        transition: .3s; }
        @media (max-width: 360px) {
          .bridge-body-cover .bridge-banner-sec .tut-block .tut-link {
            font-size: 12px; } }
        .bridge-body-cover .bridge-banner-sec .tut-block .tut-link:hover {
          opacity: .8; }
        .bridge-body-cover .bridge-banner-sec .tut-block .tut-link img {
          margin-right: 10px; }
      .bridge-body-cover .bridge-banner-sec .tut-block.bridge-info-1 {
        display: flex; }
        .bridge-body-cover .bridge-banner-sec .tut-block.bridge-info-1 .info-data {
          padding-left: 15px; }
          .bridge-body-cover .bridge-banner-sec .tut-block.bridge-info-1 .info-data p {
            text-align: left;
            max-width: 100%;
            margin: 0;
            color: #2E4276; }
            @media (max-width: 579px) {
              .bridge-body-cover .bridge-banner-sec .tut-block.bridge-info-1 .info-data p {
                font-size: 12px; } }
            .bridge-body-cover .bridge-banner-sec .tut-block.bridge-info-1 .info-data p span {
              font-weight: 700;
              color: #2966FF; }
  .bridge-body-cover .tokn-liq-det-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px; }
    @media (max-width: 380px) {
      .bridge-body-cover .tokn-liq-det-block {
        flex-wrap: wrap; } }
    .bridge-body-cover .tokn-liq-det-block .tokn-liq-card {
      padding: 12px 15px;
      border-radius: 8px;
      width: calc(50% - 5px);
      flex-direction: column;
      align-items: center;
      background-color: #f4f7fd;
      border: 1px solid #E3E4F3; }
      @media (max-width: 380px) {
        .bridge-body-cover .tokn-liq-det-block .tokn-liq-card {
          width: 100%;
          margin-bottom: 15px;
          align-items: unset; } }
      .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block {
        align-items: center; }
        .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block .props-icon {
          background-color: #E3E4F3;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          flex-shrink: 0;
          display: inline-flex;
          align-items: center;
          justify-content: center; }
          @media (max-width: 380px) {
            .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block .props-icon {
              width: 35px;
              height: 35px; } }
          .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block .props-icon img {
            max-width: 18px; }
            @media (max-width: 380px) {
              .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block .props-icon img {
                max-width: 20px; } }
        .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block .sm-data {
          padding-left: 10px; }
          .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block .sm-data h5 {
            color: #2E4276;
            margin: 0;
            font-size: 12px;
            font-weight: 500; }
          .bridge-body-cover .tokn-liq-det-block .tokn-liq-card .icon-block .sm-data p {
            color: #8393BA;
            font-size: 12px;
            font-weight: 300;
            margin-bottom: 2px; }
      .bridge-body-cover .tokn-liq-det-block .tokn-liq-card h4 {
        font-size: 16px;
        font-weight: 500;
        margin-top: 15px; }
  .bridge-body-cover .data-connect-cover {
    margin-bottom: 50px; }
    .bridge-body-cover .data-connect-cover .connect-card-outer {
      margin-bottom: 40px; }
      .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block {
        margin-bottom: 20px; }
        .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .id-add-wrapper {
          display: flex;
          border: 1px solid #E3E4F3;
          border-radius: 8px;
          align-items: stretch; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .id-add-wrapper .id-inp-block {
            flex-grow: 1; }
            .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .id-add-wrapper .id-inp-block .id-inp {
              padding: 10px 15px;
              width: 100%;
              max-width: 90%;
              background-color: transparent;
              border: none;
              color: #2E4276; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .id-add-wrapper .id-copy-btn {
            background-color: #E3E4F3;
            border: none;
            border-left: solid 1px #E3E4F3;
            padding: 5px;
            width: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            border-radius: 0 8px 8px 0; }
        .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .verify-det {
          padding-top: 5px;
          display: flex;
          align-items: center; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .verify-det span {
            display: inline-flex;
            align-items: center;
            font-size: 13px; }
            .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .verify-det span img {
              margin-right: 8px; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .verify-det .verified {
            color: #0DAD4D; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .id-add-block .verify-det .invalid {
            color: #FC5252; }
      .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px; }
        .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connected-id {
          display: flex;
          align-items: center; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connected-id img {
            margin-right: 7px;
            max-width: 16px;
            max-height: 17px; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connected-id .cnt-id {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            font-size: 15px;
            color: #0DAD4D; }
            @media (max-width: 1679px) {
              .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connected-id .cnt-id {
                font-size: 14px; } }
            @media (max-width: 360px) {
              .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connected-id .cnt-id {
                max-width: 120px; } }
        .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connect-btn {
          flex-shrink: 0;
          margin-left: auto;
          text-decoration: none;
          color: #2966FF;
          font-size: 15px;
          transition: .3s;
          border: none;
          box-shadow: none;
          outline: none;
          background-color: transparent;
          padding: 2px; }
          @media (max-width: 380px) {
            .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connect-btn {
              font-size: 14px; } }
          .bridge-body-cover .data-connect-cover .connect-card-outer .connect-btn-block .connect-btn:hover {
            opacity: .8; }
      .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card {
        border-radius: 14px;
        border: 1px solid #E3E4F3; }
        .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block {
          display: flex;
          background-color: #f4f7fd;
          border-radius: 14px 14px 0 0; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block {
            flex-grow: 1;
            padding: 13px; }
            @media (max-width: 380px) {
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block {
                padding-left: 10px; } }
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block .props-icon {
              background-color: #E3E4F3;
              width: 44px;
              height: 44px;
              border-radius: 50%;
              flex-shrink: 0;
              display: inline-flex;
              align-items: center;
              justify-content: center; }
              @media (max-width: 380px) {
                .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block .props-icon {
                  width: 35px;
                  height: 35px; } }
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block .props-icon img {
                max-width: 25px;
                filter: grayscale(1) invert(1); }
                @media (max-width: 380px) {
                  .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block .props-icon img {
                    max-width: 16px; } }
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block .sm-data {
              padding-left: 10px; }
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block .sm-data h5 {
                color: #2E4276;
                margin: 0;
                font-size: 12px;
                font-weight: 500; }
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .left-block .sm-data p {
                color: #8393BA;
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 2px; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block {
            padding: 13px;
            padding-left: 15px;
            border-left: 1px solid #E3E4F3;
            flex-shrink: 0;
            width: 40%;
            display: flex;
            align-items: center; }
            @media (max-width: 767px) {
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block {
                width: 150px; } }
            @media (max-width: 380px) {
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block {
                padding-left: 10px; } }
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .right-block-inner {
              display: flex; }
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .right-block-inner .props-icon {
                background-color: #E3E4F3;
                width: 44px;
                height: 44px;
                border-radius: 50%;
                flex-shrink: 0;
                display: inline-flex;
                align-items: center;
                justify-content: center; }
                @media (max-width: 380px) {
                  .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .right-block-inner .props-icon {
                    width: 35px;
                    height: 35px; } }
                .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .right-block-inner .props-icon img {
                  max-width: 25px; }
                  @media (max-width: 380px) {
                    .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .right-block-inner .props-icon img {
                      max-width: 22px; } }
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .right-block-inner .sm-data {
                padding-left: 10px; }
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block p {
              color: #8393BA;
              font-size: 12px;
              font-weight: 300;
              margin-bottom: 2px; }
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .select-block {
              margin-left: -4px; }
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .select-block .connect-select {
                padding: 0;
                background-color: transparent;
                border: none;
                color: #2E4276;
                font-size: 12px;
                font-weight: 500;
                outline: none;
                border-radius: 0 !important; }
                .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-title-block .right-block .select-block .connect-select option {
                  border-radius: 0;
                  background-color: #fff; }
        .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .data-block {
          padding: 13px; }
        @media (max-width: 370px) {
          .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper {
            flex-wrap: wrap; } }
        .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val {
          flex-grow: 1;
          max-width: calc(100% - 70px); }
          @media (max-width: 370px) {
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val {
              width: 100%;
              max-width: 100%;
              display: flex; } }
          @media (max-width: 370px) {
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val .props-inp-block {
              width: 100%;
              flex-grow: 1;
              max-width: calc(100% - 50px); } }
          .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val .props-inp {
            color: #4B4B4B;
            border: none;
            box-shadow: none;
            outline: none;
            width: 100%;
            max-width: 95%;
            padding: 0;
            font-size: 16px;
            font-weight: 500;
            background-color: transparent;
            margin-bottom: 10px; }
            @media (max-width: 479px) {
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val .props-inp {
                font-size: 15px; } }
            @media (max-width: 370px) {
              .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val .props-inp {
                font-size: 14px; } }
          @media (max-width: 370px) {
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val .max-btn-block {
              flex-shrink: 0;
              margin-left: auto; } }
          .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val .max-btn {
            background-color: #dbe2f6;
            color: #2E4276;
            display: inline-block;
            border-radius: 5px;
            padding: 5px 8px;
            color: #2E4276;
            font-size: 13px;
            border: none;
            box-shadow: none;
            outline: none; }
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .props-val .max-btn.active {
              background-color: #2966FF !important;
              color: #fff !important; }
        .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .bal-val {
          text-align: right;
          flex-shrink: 0;
          margin-left: auto;
          padding-left: 15px; }
          @media (max-width: 370px) {
            .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .bal-val {
              text-align: left;
              width: 100%;
              padding-left: 0;
              padding-top: 10px; } }
          .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .bal-val p {
            color: #8393BA;
            font-size: 13px;
            margin-bottom: 5px; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .data-connect-card .coin-wrapper .bal-val h5 {
            color: #2E4276;
            font-size: 13px;
            font-weight: 400;
            margin: 0; }
      .bridge-body-cover .data-connect-cover .connect-card-outer .trnsf-img-block {
        text-align: center;
        padding: 25px 15px 15px; }
        .bridge-body-cover .data-connect-cover .connect-card-outer .trnsf-img-block .icon {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #E3E4F3;
          border-radius: 50%;
          width: 46px;
          height: 46px;
          background: #E3E4F3; }
          .bridge-body-cover .data-connect-cover .connect-card-outer .trnsf-img-block .icon img {
            filter: brightness(0) saturate(100%) invert(36%) sepia(37%) saturate(616%) hue-rotate(185deg) brightness(92%) contrast(88%); }
    .bridge-body-cover .data-connect-cover .fee-det-wrapper {
      justify-content: space-between;
      margin-bottom: 15px; }
      .bridge-body-cover .data-connect-cover .fee-det-wrapper .fee-label {
        font-size: 13px;
        padding-right: 15px;
        color: #2E4276; }
      .bridge-body-cover .data-connect-cover .fee-det-wrapper .fee-info {
        color: #2E4276;
        font-size: 13px; }
    .bridge-body-cover .data-connect-cover .bridge-btn-block {
      padding-top: 15px; }
      .bridge-body-cover .data-connect-cover .bridge-btn-block .bridge-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        font-size: 15px;
        font-weight: 500;
        padding: 15px;
        border-radius: 8px;
        background-color: #2966FF;
        color: #fff;
        border: none; }
        .bridge-body-cover .data-connect-cover .bridge-btn-block .bridge-btn:hover {
          opacity: .8; }
        .bridge-body-cover .data-connect-cover .bridge-btn-block .bridge-btn img {
          margin-right: 8px; }
  @media (min-width: 991px) {
    .bridge-body-cover .my-transaction-mob {
      display: none !important; } }
  .bridge-body-cover .my-transaction-mob .title-search-box {
    width: 100%;
    margin-bottom: 20px; }
    .bridge-body-cover .my-transaction-mob .title-search-box .input-group {
      padding-left: 10px;
      padding-right: 10px;
      height: 42px;
      width: 100%;
      max-width: 100%; }
      .bridge-body-cover .my-transaction-mob .title-search-box .input-group .form-control {
        font-size: 14px; }
  .bridge-body-cover .my-transaction-cover .my-transaction-title {
    color: #2E4276;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 30px; }
    .bridge-body-cover .my-transaction-cover .my-transaction-title img {
      margin-right: 10px; }
  .bridge-body-cover .my-transaction-cover .my-transaction-card {
    margin-bottom: 15px;
    border: 1px solid #e3e4f3;
    border-radius: 14px;
    background-color: #f4f7fd;
    padding: 22px 22px 15px; }
    .bridge-body-cover .my-transaction-cover .my-transaction-card .show-more-btn-block {
      text-align: center; }
      .bridge-body-cover .my-transaction-cover .my-transaction-card .show-more-btn-block .show-more-btn-mob {
        display: inline-flex;
        align-items: center;
        padding: 3px 5px;
        background-color: transparent;
        border: none;
        font-size: 13px;
        color: #2966FF; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .show-more-btn-block .show-more-btn-mob img {
          width: 14px;
          margin-left: 5px;
          transition: .3s; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .show-more-btn-block .show-more-btn-mob.hide img {
          transform: rotate(180deg); }
    .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover {
      margin: 10px 0;
      border-top: 1px solid #E3E4F3;
      padding-top: 15px; }
      .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover h3 {
        color: #2E4276;
        font-size: 14px;
        font-weight: 600; }
      .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col {
        background-color: #fff;
        border: 1px solid #E3E4F3;
        border-radius: 8px;
        display: inline-block;
        padding: 10px 15px;
        margin-left: 0;
        width: 100%;
        margin-bottom: 10px; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col h5 {
          display: flex;
          align-items: center;
          font-size: 15px;
          font-weight: 600;
          color: #2E4276; }
          .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col h5 .status {
            padding-left: 10px;
            font-size: 12px;
            display: inline-block;
            color: #0DAD4D;
            font-weight: 400;
            margin-left: 5px;
            text-align: right;
            margin-left: auto; }
            .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col h5 .status.status-warning {
              color: #2966FF; }
            .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col h5 .status.status-dngr {
              color: #FC5252; }
          .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col h5 .lbl-sm {
            display: inline-block;
            margin-left: 5px;
            font-size: 13px;
            font-weight: 400;
            color: #8393BA; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col .id-data-col {
          display: flex;
          align-items: center; }
          .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col .id-data-col .data-id {
            padding-right: 10px;
            color: #2E4276;
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; }
          .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col .id-data-col .more-sm-btn {
            background-color: #e3e4f3;
            border: none;
            margin-left: 8px;
            padding: 0;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center; }
            @media (max-width: 479px) {
              .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col .id-data-col .more-sm-btn {
                width: 25px;
                height: 27px; } }
            .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col .id-data-col .more-sm-btn img {
              max-width: 14px; }
              @media (max-width: 479px) {
                .bridge-body-cover .my-transaction-cover .my-transaction-card .more-card-data-cover .more-det-col .id-data-col .more-sm-btn img {
                  max-width: 12px; } }
    .bridge-body-cover .my-transaction-cover .my-transaction-card .status-block {
      margin-bottom: 15px;
      border-radius: 13px;
      background-color: #d1d1d1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: #8393BA;
      padding: 12px; }
      .bridge-body-cover .my-transaction-cover .my-transaction-card .status-block span {
        display: inline-block; }
      .bridge-body-cover .my-transaction-cover .my-transaction-card .status-block .currnt-sts {
        color: #2E4276;
        display: inline-flex;
        align-items: center;
        padding-left: 6px; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .status-block .currnt-sts .sts-ind {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 5px;
          background-color: #2E4276; }
      .bridge-body-cover .my-transaction-cover .my-transaction-card .status-block.sts-delivered {
        background-color: #b8e3ca; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .status-block.sts-delivered .currnt-sts {
          color: #0DAD4D !important; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .status-block.sts-delivered .sts-ind {
          background-color: #0DAD4D !important; }
    .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper {
      flex-wrap: wrap;
      justify-content: space-between; }
      .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col {
        padding: 15px 0;
        max-width: 50%; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col:nth-child(odd) {
          padding-right: 10px; }
        @media (max-width: 370px) {
          .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col {
            font-size: 12px;
            max-width: 100%;
            width: 100%;
            padding-right: 0 !important; } }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col p {
          font-size: 12px;
          color: #8393BA;
          margin-bottom: 5px; }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trnx-data {
          display: flex;
          align-items: center; }
          .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trnx-data .trx-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: #E3E4F3;
            width: 19px;
            height: 19px;
            border-radius: 5px;
            margin-right: 8px; }
            .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trnx-data .trx-icon img {
              max-height: 95%;
              max-width: 100%; }
          .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trnx-data .trx-id {
            color: #2E4276;
            padding-right: 8px;
            font-size: 14px;
            max-width: 115px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
            @media (max-width: 400px) {
              .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trnx-data .trx-id {
                font-size: 13px;
                max-width: 100px; } }
            @media (max-width: 370px) {
              .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trnx-data .trx-id {
                max-width: 200px; } }
        .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trs-copy-btn {
          padding: 1px;
          background-color: transparent;
          border: none;
          box-shadow: none;
          line-height: 12px; }
          .bridge-body-cover .my-transaction-cover .my-transaction-card .trnx-data-wrapper .trnx-data-col .trs-copy-btn img {
            filter: brightness(0) saturate(100%) invert(36%) sepia(37%) saturate(616%) hue-rotate(185deg) brightness(92%) contrast(88%); }

.table-pagination-cover.mob-card-pagination {
  border: none;
  background-color: transparent;
  justify-content: center; }
  @media (max-width: 670px) {
    .table-pagination-cover.mob-card-pagination .pagination-block {
      justify-content: center !important; } }
  .table-pagination-cover.mob-card-pagination .pagination-block .pagination .page-item .page-link {
    width: 35px;
    height: 35px; }
  .table-pagination-cover.mob-card-pagination .pagination-block .pagination .page-item .page-link-dots {
    height: 35px; }

.my-transaction-web {
  padding-top: 25px; }
  @media (max-width: 767px) {
    .my-transaction-web {
      display: none !important; } }
  .my-transaction-web .table .acc-actn {
    width: 40px; }
  .my-transaction-web .table .table-acc-btn {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center; }
    .my-transaction-web .table .table-acc-btn img {
      width: 20px; }

.my-transaction-table-cover .trns-history-table td.sts-td {
  white-space: nowrap; }
  .my-transaction-table-cover .trns-history-table td.sts-td .sts-ind {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    background-color: #fff; }
.my-transaction-table-cover .trns-history-table td.sts-delivered {
  color: #0DAD4D !important; }
  .my-transaction-table-cover .trns-history-table td.sts-delivered .sts-ind {
    background-color: #0DAD4D; }
.my-transaction-table-cover .trns-history-table td .trx-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #E3E4F3;
  width: 19px;
  height: 19px;
  border-radius: 5px;
  margin-right: 8px; }
  .my-transaction-table-cover .trns-history-table td .trx-icon img {
    max-height: 95%;
    max-width: 100%; }
.my-transaction-table-cover .trns-history-table td .trx-id-td {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.my-transaction-table-cover .trns-history-table td .trx-data-td {
  display: flex;
  align-items: center;
  flex-grow: 1; }

@media (max-width: 991px) {
  .bridge-tab-cover {
    display: none; } }
.bridge-tab-cover .bridge-tab-block {
  width: 100%;
  margin: 0 auto;
  border-bottom: solid 1px #E3E4F3;
  display: flex;
  max-width: 855px; }
  @media (max-width: 1679px) {
    .bridge-tab-cover .bridge-tab-block {
      max-width: 600px; } }
  @media (max-width: 1199px) {
    .bridge-tab-cover .bridge-tab-block {
      max-width: 530px; } }
  @media (max-width: 767px) {
    .bridge-tab-cover .bridge-tab-block {
      max-width: 480px; } }
  .bridge-tab-cover .bridge-tab-block .bridge-tab-btn {
    width: 50%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #2E4276;
    transition: .3s;
    position: relative;
    font-size: 16px; }
    @media (max-width: 1679px) {
      .bridge-tab-cover .bridge-tab-block .bridge-tab-btn {
        padding: 15px;
        font-size: 15px; } }
    @media (max-width: 579px) {
      .bridge-tab-cover .bridge-tab-block .bridge-tab-btn {
        padding: 20px 15px; } }
    .bridge-tab-cover .bridge-tab-block .bridge-tab-btn::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      background-color: #2966FF;
      height: 2px;
      transition: .3s; }
    .bridge-tab-cover .bridge-tab-block .bridge-tab-btn:hover, .bridge-tab-cover .bridge-tab-block .bridge-tab-btn.active {
      color: #2966FF !important; }
      .bridge-tab-cover .bridge-tab-block .bridge-tab-btn:hover::after, .bridge-tab-cover .bridge-tab-block .bridge-tab-btn.active::after {
        width: 99%; }
      .bridge-tab-cover .bridge-tab-block .bridge-tab-btn:hover img, .bridge-tab-cover .bridge-tab-block .bridge-tab-btn.active img {
        filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(7453%) hue-rotate(221deg) brightness(105%) contrast(101%) !important; }
    .bridge-tab-cover .bridge-tab-block .bridge-tab-btn img {
      margin-right: 15px; }

.passcode-bridge {
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 25px; }
  @media (max-width: 767px) {
    .passcode-bridge {
      min-height: auto; } }
  @media (max-width: 420px) {
    .passcode-bridge {
      padding: 30px 10px; } }
  .passcode-bridge .passcode-content-block {
    width: 100%;
    max-width: 600px;
    padding: 80px 45px;
    border-radius: 16px;
    border: 1px solid #373737;
    background: #010101;
    border: 1px solid #E3E4F3;
    background-color: #fff; }
    @media (max-width: 1481px) {
      .passcode-bridge .passcode-content-block {
        max-width: 550px;
        padding: 70px 40px; } }
    @media (max-width: 1199px) {
      .passcode-bridge .passcode-content-block {
        max-width: 500px;
        padding: 60px 40px; } }
    @media (max-width: 767px) {
      .passcode-bridge .passcode-content-block {
        padding: 50px 40px; } }
    @media (max-width: 420px) {
      .passcode-bridge .passcode-content-block {
        padding: 50px 25px; } }
    .passcode-bridge .passcode-content-block h2 {
      text-align: center;
      font-size: 26px;
      color: #2E4276;
      font-weight: 400;
      margin-bottom: 35px; }
      @media (max-width: 1679px) {
        .passcode-bridge .passcode-content-block h2 {
          font-size: 24px; } }
      @media (max-width: 1481px) {
        .passcode-bridge .passcode-content-block h2 {
          font-size: 22px; } }
      @media (max-width: 579px) {
        .passcode-bridge .passcode-content-block h2 {
          font-size: 20px; } }
      .passcode-bridge .passcode-content-block h2 span {
        font-weight: 600; }
    .passcode-bridge .passcode-content-block p {
      text-align: center;
      font-size: 13px;
      color: #9FA0A3;
      font-weight: 500;
      margin-bottom: 0; }
    .passcode-bridge .passcode-content-block .form-block {
      width: 405px;
      max-width: 100%;
      margin: 0 auto; }
      .passcode-bridge .passcode-content-block .form-block .alert-msg-cover .alert-msg {
        left: 0; }
      .passcode-bridge .passcode-content-block .form-block .inp-block {
        margin-bottom: 15px; }
        .passcode-bridge .passcode-content-block .form-block .inp-block .form-label {
          color: #9FA0A3;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 5px; }
          @media (max-width: 579px) {
            .passcode-bridge .passcode-content-block .form-block .inp-block .form-label {
              font-size: 13px; } }
        .passcode-bridge .passcode-content-block .form-block .inp-block .form-control {
          padding: 5px 25px;
          height: 50px;
          font-size: 15px;
          width: 100%;
          border-radius: 8px;
          border: 1px solid #E3E4F3;
          background: #fff;
          color: #2E4276; }
          @media (max-width: 1679px) {
            .passcode-bridge .passcode-content-block .form-block .inp-block .form-control {
              height: 46px;
              font-size: 14px; } }
          @media (max-width: 1481px) {
            .passcode-bridge .passcode-content-block .form-block .inp-block .form-control {
              height: 44px; } }
          @media (max-width: 1199px) {
            .passcode-bridge .passcode-content-block .form-block .inp-block .form-control {
              height: 42px; } }
          .passcode-bridge .passcode-content-block .form-block .inp-block .form-control:-webkit-autofill {
            -webkit-text-fill-color: #fff; }
      .passcode-bridge .passcode-content-block .form-block .btn-block {
        padding-top: 15px;
        text-align: center; }
        .passcode-bridge .passcode-content-block .form-block .btn-block .proceed-btn {
          padding: 12px 15px;
          width: 223px;
          font-weight: 400;
          text-decoration: none;
          display: inline-block;
          cursor: pointer; }
          @media (max-width: 579px) {
            .passcode-bridge .passcode-content-block .form-block .btn-block .proceed-btn {
              width: 100%;
              font-size: 14px; } }

.more-det-outer .status-title {
  color: #2E4276;
  font-size: 14px;
  font-weight: 700; }
.more-det-outer .more-det-row {
  flex-wrap: wrap;
  display: flex; }
  .more-det-outer .more-det-row .more-det-col {
    background-color: #fff;
    border: 1px solid #E3E4F3;
    border-radius: 8px;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    margin-right: 15px;
    margin-left: 0;
    min-height: 78px; }
    .more-det-outer .more-det-row .more-det-col h5 {
      display: flex;
      align-items: center;
      font-size: 15px;
      font-weight: 600;
      color: #2E4276; }
      .more-det-outer .more-det-row .more-det-col h5 .status {
        padding-left: 10px;
        font-size: 13px;
        display: inline-block;
        color: #0DAD4D;
        font-weight: 400;
        margin-left: 5px;
        text-align: right;
        margin-left: auto; }
        .more-det-outer .more-det-row .more-det-col h5 .status.status-warning {
          color: #2966FF; }
        .more-det-outer .more-det-row .more-det-col h5 .status.status-dngr {
          color: #FC5252; }
      .more-det-outer .more-det-row .more-det-col h5 .lbl-sm {
        display: inline-block;
        margin-left: 5px;
        font-size: 13px;
        font-weight: 400;
        color: #8393BA; }
    .more-det-outer .more-det-row .more-det-col .id-data-col {
      display: flex;
      align-items: center; }
      .more-det-outer .more-det-row .more-det-col .id-data-col .data-id {
        color: #2E4276;
        font-size: 13px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px; }
      .more-det-outer .more-det-row .more-det-col .id-data-col .more-sm-btn {
        background-color: #e3e4f3;
        border: none;
        margin-left: 8px;
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center; }

/*# sourceMappingURL=bridge.css.map */
