@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.theme-dark {
  color: #fff;
  background-color: #000; }
  .theme-dark .nav-block .navbar-collapse-block, .theme-dark .nav-block, .theme-dark .body-wrapper .content-block-outer,
  .theme-dark .header-wrapper, .theme-dark .header-wrapper .header-title-block .live-active, .theme-dark .header-wrapper .right-block .buy-btn,
  .theme-dark .header-wrapper .wallet-btn, .theme-dark .header-wrapper .login-btn, .theme-dark .header-wrapper .right-block .my-acc-dropdown .my-acc-btn,
  .theme-dark .filter-wrapper, .theme-dark .filter-wrapper .filter-nav-btn, .theme-dark .card-sec .h-card-block, .theme-dark .welcome-cover
   {
    background-color: #000; }
  .theme-dark .header-wrapper .info-block, .theme-dark .header-wrapper .header-title-block .live-active, .theme-dark .header-wrapper .wallet-btn,
  .theme-dark .header-wrapper .login-btn, .theme-dark .header-wrapper .right-block .my-acc-dropdown .my-acc-btn,
  .theme-dark .filter-wrapper .filter-nav-btn, .theme-dark .card-sec .h-card-block, .theme-dark .card-sec .h-card-block .join-btn, .theme-dark .welcome-cover
   {
    color: #fff; }
  .theme-dark .header-wrapper .header-title-block .live-active, .theme-dark .header-wrapper .right-block .buy-btn,
  .theme-dark .header-wrapper .wallet-btn {
    border-color: #696969; }
  .theme-dark .header-wrapper .right-block .my-acc-dropdown .my-acc-btn {
    border: solid 1px #696969; }
  .theme-dark .header-wrapper .wallet-btn, .theme-dark .card-sec .h-card-block .join-btn {
    background-color: #2966FF; }
  .theme-dark .header-wrapper .login-btn img {
    filter: grayscale(1) invert(1); }
  .theme-dark .nav-block {
    border-right: solid 1px #484848;
    border-top: solid 1px #484848; }
  .theme-dark .header-wrapper {
    border-bottom: solid 1px #484848; }
  .theme-dark .header-wrapper .right-block .my-acc-dropdown .my-acc-btn img {
    border: solid 1px #696969;
    border-radius: 50%; }
  .theme-dark .property-listing-cover {
    margin-bottom: 20px; }
    .theme-dark .property-listing-cover .filter-wrapper {
      margin-bottom: 0;
      border-bottom: solid 1px #484848; }
  .theme-dark .filter-wrapper .filter-nav-btn {
    border: none;
    position: relative; }
    .theme-dark .filter-wrapper .filter-nav-btn::after {
      content: '';
      position: absolute;
      left: 0;
      width: 0;
      bottom: -15px;
      height: 3px;
      border-radius: 1.5px;
      background-color: #2966FF;
      transition: .3s; }
    .theme-dark .filter-wrapper .filter-nav-btn.active::after, .theme-dark .filter-wrapper .filter-nav-btn:hover::after {
      width: 100%; }
  .theme-dark .card-sec .h-card-block {
    border: solid 1px #484848; }
    .theme-dark .card-sec .h-card-block .join-btn {
      border: solid 1px #2966FF; }
      .theme-dark .card-sec .h-card-block .join-btn:hover {
        background-color: #fff;
        color: #2966FF; }
  .theme-dark .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link::after {
    background-color: #0C121F; }
  .theme-dark .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link.active {
    color: #2966FF; }
    .theme-dark .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link.active img {
      filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(7453%) hue-rotate(221deg) brightness(105%) contrast(101%); }

/*# sourceMappingURL=dark-theme.css.map */
