@import url("../../fonts/fonts.css");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.liq-pool-body-outer .liq-tab-wrapper {
  border-radius: 0;
  border-bottom: solid 1px #484848;
  background-color: #fff; }
.liq-pool-body-outer .liq-pool-title-wrapper {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px; }
  .liq-pool-body-outer .liq-pool-title-wrapper .title-left-block h4 {
    color: #2966FF;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px; }
  .liq-pool-body-outer .liq-pool-title-wrapper .title-left-block p {
    margin: 0;
    font-size: 14px;
    color: #697081; }
  .liq-pool-body-outer .liq-pool-title-wrapper .title-center-block .pool-tab-btn-block {
    border-radius: 16px;
    background-color: #0E0E10;
    padding: 8px; }
    .liq-pool-body-outer .liq-pool-title-wrapper .title-center-block .pool-tab-btn-block .pool-tab-btn {
      border-radius: 11px;
      min-width: 190px;
      text-align: center;
      padding: 11px;
      background-color: transparent;
      color: #9696C5;
      transition: .3s;
      font-size: 20px;
      font-weight: 500;
      margin: 1px; }
      .liq-pool-body-outer .liq-pool-title-wrapper .title-center-block .pool-tab-btn-block .pool-tab-btn.active, .liq-pool-body-outer .liq-pool-title-wrapper .title-center-block .pool-tab-btn-block .pool-tab-btn:hover {
        background-color: #2966FF;
        color: #fff; }
  .liq-pool-body-outer .liq-pool-title-wrapper .title-right-block {
    display: flex; }
    .liq-pool-body-outer .liq-pool-title-wrapper .title-right-block .primary-btn {
      font-size: 15px;
      padding: 14px;
      min-width: 188px; }
      .liq-pool-body-outer .liq-pool-title-wrapper .title-right-block .primary-btn:last-child {
        margin-left: 18px; }
.liq-pool-body-outer .pools-table-sec {
  overflow: visible !important;
  border: none !important; }
  .liq-pool-body-outer .pools-table-sec .table-cover {
    border: none !important; }
    .liq-pool-body-outer .pools-table-sec .table-cover .pools-table-container {
      overflow-y: visible !important; }
  .liq-pool-body-outer .pools-table-sec .custom-table thead th {
    background: transparent !important;
    padding: 20px 15px;
    border: none !important; }
    .liq-pool-body-outer .pools-table-sec .custom-table thead th .th-info {
      margin-top: -2px; }
  .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block {
    display: flex;
    align-items: center; }
    .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block .td-logo-block {
      display: flex;
      align-items: center; }
      .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block .td-logo-block .logo-icn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 7px;
        background-color: #26282C; }
        .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block .td-logo-block .logo-icn:nth-child(2) {
          background-color: #181A1C;
          margin-left: -10px; }
        .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block .td-logo-block .logo-icn img {
          max-width: 100%;
          max-height: 100%; }
    .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block .txt-block {
      padding-left: 20px; }
      .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block .txt-block h4 {
        color: #fff;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 500; }
      .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-block .txt-block p {
        margin: 0;
        color: #697081;
        font-size: 12px; }
  .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block {
    display: flex; }
    .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .sm-btn {
      margin-right: 10px; }
    .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu {
      min-width: 210px;
      background: #1C1C20;
      border-radius: 15px;
      padding: 15px; }
      .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu h4 {
        color: #fff;
        font-size: 12px;
        margin-bottom: 15px; }
      .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu .earnings-item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        background-color: #222227;
        padding: 12px 7px;
        border-radius: 5px; }
        .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu .earnings-item .drp-icon {
          margin-right: 8px;
          flex-shrink: 1;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          padding: 7px;
          background-color: #2C2C32; }
          .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu .earnings-item .drp-icon img {
            max-width: 100%;
            max-height: 100%; }
        .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu .earnings-item .txt-data h4 {
          margin-bottom: 0;
          font-size: 12px;
          font-weight: 600;
          color: #fff; }
        .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu .earnings-item .txt-data p {
          margin: 0;
          color: #96A1BE;
          font-size: 12px;
          font-weight: 500; }
      .liq-pool-body-outer .pools-table-sec .custom-table .pool-td-btn-block .earnings-dropdown .dropdown-menu .withdraw-fee-btn {
        width: 100%;
        font-size: 12px;
        font-weight: 500; }
  .liq-pool-body-outer .pools-table-sec .custom-table tbody tr {
    border-bottom: solid 15px #000; }
  .liq-pool-body-outer .pools-table-sec .custom-table td {
    background: #0E0E10 !important;
    padding-top: 25px;
    padding-bottom: 25px;
    border: none !important; }
    .liq-pool-body-outer .pools-table-sec .custom-table td:first-child {
      border-radius: 8px 0 0 15px; }
    .liq-pool-body-outer .pools-table-sec .custom-table td:last-child {
      border-radius: 0 8px 15px 0; }

/*# sourceMappingURL=liquidity-pool.css.map */
