@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.modal-backdrop.show {
  background: #01040B;
  opacity: 0.75; }

.custom-modal {
  font-family: "Poppins", sans-serif; }
  @media (min-width: 1200px) {
    .custom-modal .modal-xl {
      max-width: 895px; }
    .custom-modal .modal-lg {
      max-width: 1050px; }
    .custom-modal .modal-sm {
      max-width: 450px; } }
  .custom-modal .modal-header {
    border: 0; }
  .custom-modal .btn-close {
    margin: 2px;
    padding: 0;
    margin-left: auto;
    width: 20px;
    height: 20px;
    box-shadow: none;
    background-image: none;
    opacity: 1;
    transition: .3s; }
    .custom-modal .btn-close img {
      max-width: 100%; }
    .custom-modal .btn-close:hover {
      opacity: .8; }
  .custom-modal .modal-content {
    border-radius: 16px;
    background: #FFF; }
  .custom-modal .btn-cover-modal {
    text-align: right;
    margin-top: 30px; }
    @media (max-width: 579px) {
      .custom-modal .btn-cover-modal {
        margin-top: 25px; } }
    .custom-modal .btn-cover-modal .btn {
      height: auto;
      box-shadow: none;
      width: 137px;
      margin: 0 5px;
      transition: .3s; }
      .custom-modal .btn-cover-modal .btn:hover {
        opacity: .8; }
      @media (max-width: 1679px) {
        .custom-modal .btn-cover-modal .btn {
          font-size: 14px;
          width: 120px;
          padding: 8px 15px; } }
      @media (max-width: 579px) {
        .custom-modal .btn-cover-modal .btn {
          width: 100px; } }
    .custom-modal .btn-cover-modal .btn-save {
      background-color: #0DAD4D;
      color: #fff; }
    .custom-modal .btn-cover-modal .btn-prmary {
      color: #fff !important;
      background-color: #292D32 !important; }
  .custom-modal .modal-title h2 {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 600;
    color: #292D32; }
    @media (max-width: 1679px) {
      .custom-modal .modal-title h2 {
        font-size: 22px;
        margin-bottom: 30px; } }
    @media (max-width: 1199px) {
      .custom-modal .modal-title h2 {
        font-size: 20px;
        margin-bottom: 20px; } }
    @media (max-width: 767px) {
      .custom-modal .modal-title h2 {
        font-size: 18px; } }
  .custom-modal .inp-block-modal {
    margin-bottom: 30px; }
    .custom-modal .inp-block-modal textarea {
      resize: none;
      height: 100px; }
    .custom-modal .inp-block-modal .form-label {
      color: #697F9B;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      margin-bottom: 5px;
      display: block; }
    .custom-modal .inp-block-modal .custom-inp {
      width: 100%;
      border-radius: 8px;
      border: 1px solid #D1D1D7;
      background: #FFF;
      font-size: 14px;
      color: #000;
      padding: 10px 20px; }
    .custom-modal .inp-block-modal .custom-inp-disable {
      background-color: #F8F8F8;
      border-color: #F8F8F8; }
    .custom-modal .inp-block-modal .alert-msg {
      left: 0; }

@media (max-width: 1679px) {
  .custom-modal .modal-header {
    padding-bottom: 0; }

  .custom-modal .btn-cover-modal {
    margin-top: 20px; }

  .custom-modal .inp-block-modal {
    margin-bottom: 25px; } }
@media (max-width: 1441px) {
  .custom-modal .modal-title h2 {
    margin-bottom: 20px; }

  .custom-modal .inp-block-modal .custom-inp {
    padding: 8px 18px; } }
@media (max-width: 579px) {
  .custom-modal .modal-body {
    padding-top: 0; }

  .custom-modal .inp-block-modal .custom-inp {
    padding: 8px 15px; } }
.conect-wallet {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto auto 65px;
  position: relative;
  padding: 0 50px; }
  .conect-wallet p {
    margin: 0 auto;
    max-width: 550px;
    color: #697F9B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.5%; }
  .conect-wallet .wallet-title {
    color: #292D32;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 163.5%;
    width: 100%;
    margin-bottom: 20px; }
  .conect-wallet .walles-otr {
    display: flex;
    width: 100%;
    column-gap: 27px;
    margin-top: 40px; }
    .conect-wallet .walles-otr .wallet-btn-inner {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%; }
    .conect-wallet .walles-otr .wallet-btn {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #697F9B;
      font: 500 16px/22px "Poppins", sans-serif;
      padding: 5px 15px;
      border-radius: 8px;
      border: 1px solid #E3E4F3;
      background: #FFF;
      flex: 1 1 0%;
      height: 64px;
      box-shadow: none; }
      .conect-wallet .walles-otr .wallet-btn:hover, .conect-wallet .walles-otr .wallet-btn.active {
        border: 1px solid #292D32;
        background: #F3F4FA;
        color: #292D32; }
      .conect-wallet .walles-otr .wallet-btn .wallet-icon {
        border: 1px solid #ddd;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; }

@media (min-width: 576px) {
  .custom-modal .modal-medium {
    max-width: 830px; } }
.connect-wallet-info {
  background: #0E2248;
  border-radius: 9px;
  display: flex;
  align-items: center;
  min-height: 40px;
  padding: 5px 20px;
  width: 85%;
  margin: 0 auto;
  position: absolute;
  bottom: -80px;
  transform: translate(-50%, -50%);
  left: 50%; }
  .connect-wallet-info p {
    color: #FFB44D;
    font: normal normal 300 13px/17px "Poppins", sans-serif;
    margin-bottom: 0; }
  .connect-wallet-info .icon-info {
    margin-right: 10px; }

.modal-header .btn-close {
  margin-left: auto !important; }

.conect-wallet .walles-otr .wallet-btn {
  margin-bottom: 15px; }

.connect-wallet-modal .btn-cover {
  margin-top: 35px;
  width: 100%;
  text-align: center; }
  .connect-wallet-modal .btn-cover .primary-btn {
    width: 240px;
    background-color: #292D32;
    color: #fff;
    border: none; }

@media (max-width: 1679px) {
  .conect-wallet {
    margin-bottom: 55px; }

  .conect-wallet .wallet-title {
    font-size: 21px; }

  .conect-wallet .walles-otr .wallet-btn {
    font-size: 15px;
    height: 58px; } }
@media (max-width: 1481px) {
  .conect-wallet p {
    font-size: 13px; }

  .conect-wallet .wallet-title {
    font-size: 20px; }

  .conect-wallet .walles-otr .wallet-btn {
    font-size: 14px;
    height: 55px; }

  .conect-wallet .walles-otr .wallet-btn .wallet-icon {
    width: 28px;
    height: 28px; }

  .connect-wallet-modal .btn-cover .primary-btn {
    font-size: 14px;
    height: 46px; } }
@media (max-width: 1199px) {
  .connect-wallet-modal .btn-cover .primary-btn {
    width: 205px; } }
@media (min-width: 768px) and (max-width: 992px) {
  .connect-wallet-modal .modal-dialog {
    max-width: 750px; } }
@media (max-width: 767px) {
  .conect-wallet .walles-otr .wallet-btn-inner {
    max-width: 100%;
    width: 160px;
    text-align: left; }

  .conect-wallet .walles-otr .wallet-btn {
    justify-content: center; }

  .connect-wallet-modal .btn-cover {
    margin-top: 25px; }

  .conect-wallet .walles-otr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

  .privacy-policy p {
    font: 300 13px/23px "Poppins", sans-serif; }

  .connect-wallet-info {
    bottom: -90px; }

  .connect-wallet-modal .btn-cover .primary-btn {
    height: 45px; }

  .modal-header {
    padding-bottom: 0; }

  .conect-wallet .walles-otr {
    margin-top: 30px; }

  .conect-wallet {
    margin-bottom: 30px;
    padding: 0 35px; }

  .conect-wallet .walles-otr .wallet-btn {
    height: 50px;
    flex: 1 1 auto; } }
@media (max-width: 479px) {
  .conect-wallet {
    padding: 0 10px; } }
.logout-modal-body .img-block {
  text-align: center; }
.logout-modal-body h2 {
  color: #292D32;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 40px;
  padding: 0 50px; }
  @media (max-width: 991px) {
    .logout-modal-body h2 {
      padding: 0 30px; } }
  @media (max-width: 479px) {
    .logout-modal-body h2 {
      padding: 0 15px; } }
.logout-modal-body .btn-cover {
  padding-bottom: 50px;
  margin-top: 50px; }
  .logout-modal-body .btn-cover .btn {
    box-shadow: none;
    width: 137px;
    margin: 0 5px; }
  .logout-modal-body .btn-cover .btn-prmary {
    color: #fff !important;
    background-color: #292D32 !important; }

@media (min-width: 992px) {
  .logout-modal .modal-dialog {
    max-width: 600px; } }
@media (min-width: 1481px) {
  .logout-modal .modal-dialog {
    max-width: 680px; } }
@media (min-width: 1680px) {
  .logout-modal .modal-dialog {
    max-width: 730px; } }

@media (max-width: 1679px) {
  .logout-modal-body .img-block img {
    width: 75px; }

  .logout-modal-body h2 {
    font-size: 21px; }

  .logout-modal-body .btn-cover .btn {
    font-size: 15px; } }
@media (max-width: 1481px) {
  .logout-modal-body .img-block img {
    width: 70px; }

  .logout-modal-body h2 {
    font-size: 18px;
    margin-top: 35px; }

  .logout-modal-body .btn-cover .btn {
    font-size: 14px; }

  .logout-modal-body .btn-cover {
    padding-bottom: 45px;
    margin-top: 45px; } }
@media (max-width: 991px) {
  .logout-modal-body .img-block img {
    width: 65px; }

  .logout-modal-body h2 {
    margin-top: 30px; }

  .logout-modal-body .btn-cover {
    padding-bottom: 40px;
    margin-top: 40px; }

  .logout-modal-body .btn-cover .btn {
    padding: 9px 15px !important; } }
@media (max-width: 579px) {
  .logout-modal-body .btn-cover .btn {
    font-size: 13px; }

  .logout-modal-body .img-block img {
    width: 60px; }

  .logout-modal-body h2 {
    margin-top: 25px; }

  .logout-modal-body .btn-cover {
    padding-bottom: 30px;
    margin-top: 30px; }

  .logout-modal-body .btn-cover .btn {
    padding: 8px 15px !important;
    width: 120px; } }
.crate-stake-modal .crate-stake-modal-body {
  padding: 15px 64px 70px; }
  @media (max-width: 1679px) {
    .crate-stake-modal .crate-stake-modal-body {
      padding: 15px 60px 40px; } }
  @media (max-width: 1199px) {
    .crate-stake-modal .crate-stake-modal-body {
      padding: 0 40px 30px; } }
  @media (max-width: 479px) {
    .crate-stake-modal .crate-stake-modal-body {
      padding: 0 0 15px; } }
@media (min-width: 767px) and (max-width: 991px) {
  .crate-stake-modal .modal-dialog {
    max-width: 700px; } }

.success-modal .modal-dialog {
  max-width: 700px; }
  @media (max-width: 765px) {
    .success-modal .modal-dialog {
      max-width: 96%; } }
.success-modal .modal-body {
  padding: 15px 50px 55px; }
  @media (max-width: 575px) {
    .success-modal .modal-body {
      padding: 15px 20px 35px; } }
  .success-modal .modal-body .modal-title {
    text-align: center; }
    .success-modal .modal-body .modal-title img {
      height: 65px;
      margin-bottom: 15px; }
      @media (max-width: 1679px) {
        .success-modal .modal-body .modal-title img {
          height: 55px; } }
    .success-modal .modal-body .modal-title h2 {
      color: #292D32;
      font-size: 21px;
      font-weight: 600;
      margin-bottom: 8px; }
      @media (max-width: 1679px) {
        .success-modal .modal-body .modal-title h2 {
          font-size: 19px; } }
      @media (max-width: 575px) {
        .success-modal .modal-body .modal-title h2 {
          font-size: 16px; } }
    .success-modal .modal-body .modal-title h5 {
      color: #697F9B;
      font-size: 18px;
      font-weight: 400; }
      @media (max-width: 1679px) {
        .success-modal .modal-body .modal-title h5 {
          font-size: 15px; } }
      @media (max-width: 1679px) {
        .success-modal .modal-body .modal-title h5 {
          font-size: 14px; } }
  .success-modal .modal-body .stake-detail {
    border: 1px solid #E3E4F3;
    padding: 20px 15px;
    border-radius: 10px;
    margin-top: 30px; }
    .success-modal .modal-body .stake-detail .stake-amt {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      color: #697F9B; }
      @media (max-width: 575px) {
        .success-modal .modal-body .stake-detail .stake-amt {
          flex-direction: column; } }
      .success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #697F9B;
        font-weight: 400;
        font-size: 14px; }
        @media (max-width: 1679px) {
          .success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt {
            font-size: 13px; } }
        @media (max-width: 575px) {
          .success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt {
            margin-bottom: 0; } }
      .success-modal .modal-body .stake-detail .stake-amt .stake-rupees {
        color: #292D32;
        font-weight: 600;
        font-size: 14px;
        word-break: break-word; }
        @media (max-width: 1679px) {
          .success-modal .modal-body .stake-detail .stake-amt .stake-rupees {
            font-size: 13px; } }

.btn-black {
  border-radius: 24px;
  background: #292D32;
  color: #fff;
  height: 48px;
  min-width: 232px;
  margin-top: 17px;
  font-size: 15px; }
  @media (max-width: 1679px) {
    .btn-black {
      font-size: 14px; } }
  @media (max-width: 575px) {
    .btn-black {
      height: 45px;
      min-width: 210px; } }

.fail-modal .modal-dialog {
  max-width: 550px; }
  @media (max-width: 765px) {
    .fail-modal .modal-dialog {
      max-width: 96%; } }
.fail-modal .btn-black {
  margin-top: 25px; }

.vesting-confirm .modal-dialog {
  max-width: 600px; }
  @media (max-width: 765px) {
    .vesting-confirm .modal-dialog {
      max-width: 96%; } }
.vesting-confirm .modal-body .modal-title h4 {
  font-size: 20px;
  font-weight: 700;
  width: 366px;
  margin: 0 auto;
  line-height: 29px; }
  @media (max-width: 1679px) {
    .vesting-confirm .modal-body .modal-title h4 {
      font-size: 18px;
      line-height: 26px;
      width: 320px; } }
  @media (max-width: 450px) {
    .vesting-confirm .modal-body .modal-title h4 {
      font-size: 16px;
      line-height: 24px;
      width: 100%; } }
.vesting-confirm .modal-body .btn-otr {
  margin-top: 19px; }
  .vesting-confirm .modal-body .btn-otr .btn-black {
    width: 48%;
    min-width: auto; }
    @media (max-width: 575px) {
      .vesting-confirm .modal-body .btn-otr .btn-black {
        width: 45%; } }
    @media (max-width: 355px) {
      .vesting-confirm .modal-body .btn-otr .btn-black {
        width: 100%; } }
  .vesting-confirm .modal-body .btn-otr .btn-cancel {
    border-radius: 24px;
    border: 1px solid #000;
    background: #FFF;
    width: 48%;
    height: 48px;
    margin-right: 10px;
    font-size: 15px; }
    @media (max-width: 1679px) {
      .vesting-confirm .modal-body .btn-otr .btn-cancel {
        font-size: 14px; } }
    @media (max-width: 575px) {
      .vesting-confirm .modal-body .btn-otr .btn-cancel {
        height: 45px;
        width: 45%; } }
    @media (max-width: 355px) {
      .vesting-confirm .modal-body .btn-otr .btn-cancel {
        width: 100%; } }

.logout-modal .btn-block .btn-black.btn-border {
  background-color: #fff;
  color: #292D32;
  margin-right: 8px; }
@media (max-width: 1679px) {
  .logout-modal .btn-block .btn-black {
    min-width: auto;
    width: 180px; } }
@media (max-width: 767px) {
  .logout-modal .btn-block .btn-black {
    width: 150px; } }
@media (max-width: 400px) {
  .logout-modal .btn-block {
    justify-content: space-between;
    flex-wrap: nowrap;
    display: flex; }
    .logout-modal .btn-block .btn-black {
      width: calc(50% - 4px); } }

.change-pass-modal .modal-dialog {
  max-width: 600px !important;
  font-family: "Poppins", sans-serif; }
  @media (max-width: 991px) {
    .change-pass-modal .modal-dialog {
      max-width: 96% !important; } }
  .change-pass-modal .modal-dialog .modal-content {
    padding: 54px;
    border-radius: 25px; }
    @media (max-width: 575px) {
      .change-pass-modal .modal-dialog .modal-content {
        padding: 20px; } }
    @media (max-width: 350px) {
      .change-pass-modal .modal-dialog .modal-content {
        padding: 10px; } }
  .change-pass-modal .modal-dialog .modal-header {
    border-bottom: 0;
    padding-bottom: 0; }
    @media (max-width: 575px) {
      .change-pass-modal .modal-dialog .modal-header {
        padding-left: 0; } }
    .change-pass-modal .modal-dialog .modal-header .close {
      position: absolute;
      right: 14px;
      top: 20px; }
    .change-pass-modal .modal-dialog .modal-header .heading-top {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      @media (max-width: 575px) {
        .change-pass-modal .modal-dialog .modal-header .heading-top {
          flex-direction: column; } }
      @media (max-width: 575px) {
        .change-pass-modal .modal-dialog .modal-header .heading-top .header-sec {
          order: 2; } }
      .change-pass-modal .modal-dialog .modal-header .heading-top .modal-title {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 3px; }
        @media (max-width: 991px) {
          .change-pass-modal .modal-dialog .modal-header .heading-top .modal-title {
            font-size: 18px;
            margin-top: 16px; } }
        .change-pass-modal .modal-dialog .modal-header .heading-top .modal-title span {
          font-weight: 600; }
      .change-pass-modal .modal-dialog .modal-header .heading-top h5 {
        font-size: 12px;
        color: #292D32;
        padding-right: 15px; }
      .change-pass-modal .modal-dialog .modal-header .heading-top .icon-sec img {
        height: 150px;
        margin-top: -42px; }
        @media (max-width: 991px) {
          .change-pass-modal .modal-dialog .modal-header .heading-top .icon-sec img {
            height: 130px; } }
        @media (max-width: 575px) {
          .change-pass-modal .modal-dialog .modal-header .heading-top .icon-sec img {
            height: 115px;
            margin-top: -10px; } }
  .change-pass-modal .modal-dialog .modal-body {
    padding-top: 0; }
    @media (max-width: 575px) {
      .change-pass-modal .modal-dialog .modal-body .form-group {
        padding-top: 15px; } }
    .change-pass-modal .modal-dialog .modal-body .form-group .input-group {
      flex-direction: column;
      margin-bottom: 20px; }
      .change-pass-modal .modal-dialog .modal-body .form-group .input-group label {
        color: #697F9B;
        font-size: 14px; }
      .change-pass-modal .modal-dialog .modal-body .form-group .input-group .form-control {
        width: 100%;
        background: transparent;
        border: 1px solid #5E6C84;
        border-radius: 50px !important;
        height: 60px;
        margin-top: 11px;
        color: #333;
        padding-left: 53px; }
        @media (max-width: 1679px) {
          .change-pass-modal .modal-dialog .modal-body .form-group .input-group .form-control {
            height: 55px; } }
        @media (max-width: 991px) {
          .change-pass-modal .modal-dialog .modal-body .form-group .input-group .form-control {
            height: 50px; } }
      .change-pass-modal .modal-dialog .modal-body .form-group .input-group .fgt-mail-icon {
        position: absolute;
        top: 52px;
        left: 22px; }
        @media (max-width: 1679px) {
          .change-pass-modal .modal-dialog .modal-body .form-group .input-group .fgt-mail-icon {
            top: 49px; } }
        @media (max-width: 991px) {
          .change-pass-modal .modal-dialog .modal-body .form-group .input-group .fgt-mail-icon {
            top: 47px; } }
      .change-pass-modal .modal-dialog .modal-body .form-group .input-group .fgt-view-icon {
        position: absolute;
        right: 21px;
        background: none;
        border: none;
        top: 48px; }
        @media (max-width: 1679px) {
          .change-pass-modal .modal-dialog .modal-body .form-group .input-group .fgt-view-icon {
            top: 45px; } }
        @media (max-width: 991px) {
          .change-pass-modal .modal-dialog .modal-body .form-group .input-group .fgt-view-icon {
            top: 43px; } }
    .change-pass-modal .modal-dialog .modal-body .form-group .btn-otr {
      display: flex;
      justify-content: space-between;
      margin-top: 40px; }
      @media (max-width: 575px) {
        .change-pass-modal .modal-dialog .modal-body .form-group .btn-otr {
          margin-top: 25px;
          flex-direction: column;
          align-items: center;
          justify-content: center; } }
      .change-pass-modal .modal-dialog .modal-body .form-group .btn-otr .send-btn {
        background: #292D32;
        font-size: 16px;
        color: #fff;
        height: 52px;
        padding: 15px 15px;
        min-width: 155px;
        border-radius: 50px;
        width: 100%; }
        @media (max-width: 575px) {
          .change-pass-modal .modal-dialog .modal-body .form-group .btn-otr .send-btn {
            margin-bottom: 17px; } }

.delete-confirm .btn-otr {
  margin-top: 19px; }
  .delete-confirm .btn-otr .btn-black {
    width: 48%;
    min-width: auto; }
    @media (max-width: 575px) {
      .delete-confirm .btn-otr .btn-black {
        width: 45%; } }
    @media (max-width: 355px) {
      .delete-confirm .btn-otr .btn-black {
        width: 100%; } }
  .delete-confirm .btn-otr .btn-cancel {
    border-radius: 24px;
    border: 1px solid #000;
    background: #FFF;
    width: 48%;
    height: 48px;
    margin-right: 10px;
    font-size: 15px; }
    @media (max-width: 1679px) {
      .delete-confirm .btn-otr .btn-cancel {
        font-size: 14px; } }
    @media (max-width: 575px) {
      .delete-confirm .btn-otr .btn-cancel {
        height: 45px;
        width: 45%; } }
    @media (max-width: 355px) {
      .delete-confirm .btn-otr .btn-cancel {
        width: 100%; } }

@media (min-width: 992px) {
  .claim-reward-modal .modal-dialog, .claim-reward-modal .modal-xl {
    max-width: 600px; } }
.claim-reward-modal .claim-reward-modal-body {
  padding: 0 60px 50px; }
  .claim-reward-modal .claim-reward-modal-body .modal-title h4 {
    color: #292D32;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 600; }
    .claim-reward-modal .claim-reward-modal-body .modal-title h4 .title-icon {
      width: 58px;
      height: 58px;
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #F3F4FA;
      border-radius: 50%;
      margin-right: 15px; }
  .claim-reward-modal .claim-reward-modal-body .claim-count-block {
    padding-top: 25px; }
    .claim-reward-modal .claim-reward-modal-body .claim-count-block p {
      color: #697F9B;
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 5px; }
    .claim-reward-modal .claim-reward-modal-body .claim-count-block h4 {
      color: #292D32;
      font-size: 23px;
      font-weight: 600; }
  .claim-reward-modal .claim-reward-modal-body .btn-otr {
    padding-top: 40px; }
    .claim-reward-modal .claim-reward-modal-body .btn-otr .claim-btn {
      width: 100%;
      background-color: #0DAD4D;
      color: #fff;
      transition: .3s; }
      .claim-reward-modal .claim-reward-modal-body .btn-otr .claim-btn:hover {
        opacity: .8; }

@media (max-width: 1441px) {
  .claim-reward-modal .claim-reward-modal-body .modal-title h4 {
    font-size: 19px; }

  .claim-reward-modal .claim-reward-modal-body .modal-title h4 .title-icon {
    width: 55px;
    height: 55px; }
    .claim-reward-modal .claim-reward-modal-body .modal-title h4 .title-icon img {
      width: 26px; } }
@media (max-width: 991px) {
  .claim-reward-modal .claim-reward-modal-body {
    padding: 0 35px 40px; } }
@media (max-width: 579px) {
  .claim-reward-modal .claim-reward-modal-body .claim-count-block h4 {
    font-size: 21px; } }
@media (max-width: 479px) {
  .claim-reward-modal .claim-reward-modal-body {
    padding: 0 15px 30px; } }

/*# sourceMappingURL=modal.css.map */
