@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.filter-wrapper {
  margin-bottom: 20px; }
  @media (max-width: 1679px) {
    .filter-wrapper {
      margin-bottom: 15px; } }

.staking-dashboard-outer {
  display: flex; }
  @media (max-width: 1199px) {
    .staking-dashboard-outer {
      flex-direction: column; } }
  .staking-dashboard-outer .welcome-stake-outer {
    background: #fff;
    margin-right: 15px;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    border-radius: 6px; }
    @media (max-width: 1679px) {
      .staking-dashboard-outer .welcome-stake-outer {
        padding: 20px 30px; } }
    @media (max-width: 1199px) {
      .staking-dashboard-outer .welcome-stake-outer {
        margin-top: 0px;
        margin-right: 0px; } }
    @media (max-width: 575px) {
      .staking-dashboard-outer .welcome-stake-outer {
        flex-direction: column;
        padding: 20px 20px; } }
    .staking-dashboard-outer .welcome-stake-outer .img-sec-stake img {
      height: 130px; }
    @media (max-width: 575px) {
      .staking-dashboard-outer .welcome-stake-outer .img-sec-stake {
        order: 2; } }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake {
      padding-left: 45px; }
      @media (max-width: 1150px) {
        .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake {
          padding-left: 8px; } }
      @media (max-width: 575px) {
        .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake {
          padding-left: 0px; } }
      .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .props-badge .props-name {
        background: #A5B6DD;
        display: inline-flex;
        align-items: center;
        padding: 6px 17px;
        border-radius: 50px;
        color: #fff;
        margin-bottom: 13px;
        font-size: 14px;
        font-weight: 500; }
        .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .props-badge .props-name img {
          margin-right: 10px; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .props-badge .props-name {
            font-size: 12px; } }
      .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt h3 {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 600;
        color: #2E4276; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt h3 {
            font-size: 16px; } }
        @media (max-width: 991px) {
          .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt h3 {
            font-size: 14px; } }
      .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt p {
        color: #6477aa;
        font-size: 14px; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt p {
            font-size: 12px; } }
  .staking-dashboard-outer .total-value-outer {
    background: #fff;
    padding: 30px 22px;
    border-radius: 6px;
    flex: 0 0 28%; }
    @media (max-width: 1679px) {
      .staking-dashboard-outer .total-value-outer {
        flex: 0 0 35%;
        padding: 20px 22px; } }
    @media (max-width: 1441px) {
      .staking-dashboard-outer .total-value-outer {
        flex: 0 0 40%;
        padding: 20px 22px; } }
    @media (max-width: 1199px) {
      .staking-dashboard-outer .total-value-outer {
        flex: 0 0 35%;
        margin-top: 15px; } }
    .staking-dashboard-outer .total-value-outer .stake-tot-locked {
      border-bottom: 1px solid #e3e4f3;
      padding-bottom: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media (max-width: 991px) {
        .staking-dashboard-outer .total-value-outer .stake-tot-locked {
          padding-bottom: 8px; } }
      .staking-dashboard-outer .total-value-outer .stake-tot-locked .text-percent-count {
        font-weight: 500;
        font-size: 20px;
        color: #2E4276; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked .text-percent-count {
            font-size: 17px; } }
      .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 {
        font-size: 20px;
        font-weight: 600;
        color: #292D32;
        display: flex;
        align-items: center; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 {
            font-size: 17px; } }
        @media (max-width: 1199px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 {
            font-size: 15px; } }
        .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .txt-sec {
          display: inline-block;
          margin-left: 6px;
          margin-top: 3px;
          font-size: 16px; }
          @media (max-width: 1679px) {
            .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .txt-sec {
              font-size: 14px; } }
        .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .img-sec img {
          height: 30px;
          margin-right: 6px; }
          @media (max-width: 1679px) {
            .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .img-sec img {
              height: 26px; } }
      .staking-dashboard-outer .total-value-outer .stake-tot-locked h2 {
        font-weight: 700;
        font-size: 23px; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked h2 {
            font-size: 19px; } }
        @media (max-width: 1199px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked h2 {
            font-size: 17px; } }
    .staking-dashboard-outer .total-value-outer .tot-detl-outer {
      padding-top: 20px; }
      @media (max-width: 991px) {
        .staking-dashboard-outer .total-value-outer .tot-detl-outer {
          padding-top: 0px; } }
      .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner {
            margin-bottom: 20px; } }
        @media (max-width: 991px) {
          .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner {
            margin-bottom: 0px;
            padding-top: 15px; } }
        .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-txt {
          padding-right: 10px;
          color: #6477aa;
          font-size: 15px; }
          @media (max-width: 1679px) {
            .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-txt {
              font-size: 13px; } }
        .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-num {
          color: #2E4276;
          font-weight: 600;
          font-size: 16px;
          text-align: right; }
          @media (max-width: 1679px) {
            .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-num {
              font-size: 14px; } }
          @media (max-width: 1199px) {
            .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-num {
              padding-left: 5px; } }

@media (max-width: 475px) {
  .filter-wrapper {
    padding: 13px 10px; } }
@media (max-width: 475px) {
  .filter-wrapper .filter-nav-btn {
    min-width: 45px;
    padding: 7px 12px; } }

.card-section-outer {
  padding-top: 15px; }
  @media (max-width: 1350px) {
    .card-section-outer .h-card-col {
      width: 50%; } }
  @media (max-width: 1199px) {
    .card-section-outer .h-card-col {
      padding-right: 12px !important;
      padding-left: 4px !important; } }
  @media (max-width: 991px) {
    .card-section-outer .h-card-col {
      margin-bottom: 15px; } }
  @media (max-width: 700px) {
    .card-section-outer .h-card-col {
      width: 100%; } }
  .card-section-outer .h-card-col .h-card-block {
    border-radius: 6px; }
    @media (max-width: 1800px) {
      .card-section-outer .h-card-col .h-card-block {
        padding: 25px 30px; } }
    @media (max-width: 1679px) {
      .card-section-outer .h-card-col .h-card-block {
        padding: 25px 20px; } }
    @media (max-width: 767px) {
      .card-section-outer .h-card-col .h-card-block {
        padding: 25px 19px; } }
  @media (max-width: 1350px) {
    .card-section-outer .staking-outer {
      flex-wrap: wrap; } }
  .card-section-outer .top-block .icon-head-top {
    justify-content: end;
    align-items: center; }
    .card-section-outer .top-block .icon-head-top .certik-label {
      padding-left: 9px;
      font-size: 12px;
      font-style: italic; }
    @media (max-width: 1679px) {
      .card-section-outer .top-block .icon-head-top .img-icon {
        height: 22px; } }
  .card-section-outer .top-block .banner-img-block {
    aspect-ratio: 1.779;
    width: 100%;
    margin-bottom: 17px; }
    @media (max-width: 767px) {
      .card-section-outer .top-block .banner-img-block {
        max-height: 230px; } }
    .card-section-outer .top-block .banner-img-block img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-section-outer .top-block .heading-txt {
    padding-top: 15px;
    display: flex;
    margin-bottom: 15px; }
    @media (max-width: 1679px) {
      .card-section-outer .top-block .heading-txt {
        padding-top: 8px; } }
    .card-section-outer .top-block .heading-txt .img-txt {
      flex-shrink: 0; }
    @media (max-width: 991px) {
      .card-section-outer .top-block .heading-txt {
        margin-bottom: 20px; } }
    .card-section-outer .top-block .heading-txt img {
      max-height: 90px; }
      @media (max-width: 991px) {
        .card-section-outer .top-block .heading-txt img {
          max-height: 75px; } }
    .card-section-outer .top-block .heading-txt .desc-content {
      padding-top: 10px; }
      .card-section-outer .top-block .heading-txt .desc-content h2 {
        display: flex;
        align-items: center;
        word-break: break-word;
        text-transform: capitalize; }
      .card-section-outer .top-block .heading-txt .desc-content p.txt-content {
        margin-top: 5px;
        padding-left: 12px;
        overflow: hidden;
        text-align: left; }
    .card-section-outer .top-block .heading-txt h2 {
      margin-bottom: 0;
      padding-left: 11px;
      font-size: 19px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .heading-txt h2 {
          font-size: 15px; } }
  .card-section-outer .top-block .txt-content {
    margin-top: 13px;
    font-size: 13px;
    margin-bottom: 0; }
  .card-section-outer .top-block .timer-section {
    font-size: 13px; }
    .card-section-outer .top-block .timer-section label {
      color: #4D6090;
      font-size: 15px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .timer-section label {
          font-size: 12px; } }
    .card-section-outer .top-block .timer-section ul {
      padding: 0;
      list-style: none;
      display: flex;
      margin-top: 15px; }
      .card-section-outer .top-block .timer-section ul .dot-seprator {
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4D6090;
        font-size: 31px;
        margin-right: 8px;
        margin-left: 8px;
        margin-top: -10px; }
        @media (max-width: 1679px) {
          .card-section-outer .top-block .timer-section ul .dot-seprator {
            font-size: 25px;
            margin-right: 2px;
            margin-left: 2px; } }
      .card-section-outer .top-block .timer-section ul li {
        background: #E6EEFF;
        border-radius: 8px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .card-section-outer .top-block .timer-section ul li .label-count {
          color: #4D6090;
          padding: 10px 0px;
          font-weight: 400;
          font-size: 16px; }
          @media (max-width: 1679px) {
            .card-section-outer .top-block .timer-section ul li .label-count {
              font-size: 13px; } }
        .card-section-outer .top-block .timer-section ul li .num-txt {
          background: #C8D9FF;
          width: 100%;
          text-align: center;
          padding: 2px 0px 2px;
          color: #4D6090;
          font-weight: 400;
          font-size: 14px;
          border-radius: 0px 0px 10px 10px; }
          .card-section-outer .top-block .timer-section ul li .num-txt span {
            border-bottom: 2px solid #4D6090; }
          @media (max-width: 1679px) {
            .card-section-outer .top-block .timer-section ul li .num-txt {
              padding: 2px 0px 1px;
              font-size: 11px; } }
  .card-section-outer .top-block ul {
    padding-left: 31px; }
    .card-section-outer .top-block ul li {
      font-size: 15px;
      margin-bottom: 10px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block ul li {
          font-size: 13px; } }
  .card-section-outer .top-block .pool-cap-txt {
    margin-top: 20px; }
    .card-section-outer .top-block .pool-cap-txt .pool-label {
      font-weight: 600;
      font-size: 16px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .pool-cap-txt .pool-label {
          font-size: 13px; } }
    .card-section-outer .top-block .pool-cap-txt .pool-cont {
      font-weight: 600;
      font-size: 20px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .pool-cap-txt .pool-cont {
          font-size: 16px; } }
  .card-section-outer .top-block .progress-bar-section {
    display: flex;
    margin-top: 8px;
    margin-bottom: 12px;
    align-items: center; }
    .card-section-outer .top-block .progress-bar-section .progress-bar-block {
      flex: 1 1 auto; }
    .card-section-outer .top-block .progress-bar-section .progress-count {
      flex: 0 0 auto;
      color: #0C15F9;
      font-weight: 600;
      font-size: 15px;
      padding-left: 15px; }
      @media (max-width: 1800px) {
        .card-section-outer .top-block .progress-bar-section .progress-count {
          font-size: 13px; } }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .progress-bar-section .progress-count {
          font-size: 13px; } }
  .card-section-outer .top-block .btn-outer {
    display: flex; }
    @media (max-width: 450px) {
      .card-section-outer .top-block .btn-outer {
        flex-direction: column; } }
  .card-section-outer .top-block .btn-default {
    border-radius: 28px;
    border: 1px solid #B6C3E5;
    font-size: 15px;
    font-weight: 500;
    width: 50%;
    padding: 9px 5px;
    background: #fff;
    margin-right: 10px; }
    @media (max-width: 1679px) {
      .card-section-outer .top-block .btn-default {
        margin-right: 5px;
        font-size: 12px; } }
    @media (max-width: 1481px) {
      .card-section-outer .top-block .btn-default {
        font-size: 12px; } }
    @media (max-width: 450px) {
      .card-section-outer .top-block .btn-default {
        width: 100%;
        margin-bottom: 13px;
        margin-right: 0; } }
  .card-section-outer .top-block .btn-duration {
    margin-right: 0; }
  .card-section-outer .top-block .list-order-outer {
    margin-top: 20px; }
    .card-section-outer .top-block .list-order-outer .list-order {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px; }
      .card-section-outer .top-block .list-order-outer .list-order .label-content {
        color: #697F9B;
        font-weight: 500; }
        @media (max-width: 1679px) {
          .card-section-outer .top-block .list-order-outer .list-order .label-content {
            font-size: 13px; } }
        @media (max-width: 370px) {
          .card-section-outer .top-block .list-order-outer .list-order .label-content {
            font-size: 12px; } }
      .card-section-outer .top-block .list-order-outer .list-order .data-content {
        font-size: 15px;
        font-weight: 500; }
        @media (max-width: 1679px) {
          .card-section-outer .top-block .list-order-outer .list-order .data-content {
            font-size: 13px; } }
        @media (max-width: 370px) {
          .card-section-outer .top-block .list-order-outer .list-order .data-content {
            font-size: 12px; } }
  .card-section-outer .bottom-block {
    margin-top: 15px;
    padding-top: 24px !important;
    position: relative; }
    .card-section-outer .bottom-block::before {
      position: absolute;
      top: 0;
      background-color: #e3e4f3;
      content: '';
      left: -40px;
      width: calc(100% + 80px);
      height: 1px;
      display: block; }
      @media (max-width: 1679px) {
        .card-section-outer .bottom-block::before {
          left: -25px;
          width: calc(100% + 50px); } }
      @media (max-width: 767px) {
        .card-section-outer .bottom-block::before {
          left: -19px;
          width: calc(100% + 38px); } }
    .card-section-outer .bottom-block .badge-staking-date span {
      border: 1px solid #7DE0A5;
      background: #E7FFF0;
      padding: 7px 26px;
      border-radius: 50px;
      margin-bottom: 17px;
      margin-top: 12px;
      color: #0DAD4D;
      display: inline-block;
      font-size: 13px;
      font-weight: 500; }
      @media (max-width: 1679px) {
        .card-section-outer .bottom-block .badge-staking-date span {
          font-size: 11px; } }
      @media (max-width: 575px) {
        .card-section-outer .bottom-block .badge-staking-date span {
          padding: 7px 12px; } }
    .card-section-outer .bottom-block .btn-outr {
      display: flex; }
      @media (max-width: 375px) {
        .card-section-outer .bottom-block .btn-outr {
          flex-direction: column; } }
      .card-section-outer .bottom-block .btn-outr .btn-stake {
        margin-right: 10px;
        background-color: #2966FF;
        color: #fff;
        padding: 12px 15px;
        border: solid 1px #2966FF;
        width: 50%;
        text-align: center;
        text-decoration: none;
        border-radius: 50px; }
        .card-section-outer .bottom-block .btn-outr .btn-stake.not-allowed {
          opacity: .5; }
        @media (max-width: 1679px) {
          .card-section-outer .bottom-block .btn-outr .btn-stake {
            padding: 8px 15px;
            font-size: 14px; } }
        @media (max-width: 375px) {
          .card-section-outer .bottom-block .btn-outr .btn-stake {
            width: 100%;
            margin-bottom: 13px;
            margin-right: 0; } }
      .card-section-outer .bottom-block .btn-outr .btn-unstake {
        background: #fff;
        color: #697F9B;
        padding: 12px 15px;
        border: 1px solid #B6C3E5;
        width: 50%;
        text-align: center;
        text-decoration: none;
        border-radius: 50px; }
        .card-section-outer .bottom-block .btn-outr .btn-unstake.not-allowed {
          opacity: .5; }
        @media (max-width: 1679px) {
          .card-section-outer .bottom-block .btn-outr .btn-unstake {
            padding: 6px 12px;
            font-size: 14px;
            line-height: 26px; } }
        @media (max-width: 375px) {
          .card-section-outer .bottom-block .btn-outr .btn-unstake {
            width: 100%; } }

@media (max-width: 1679px) {
  .stake-modal .modal-header {
    padding-top: 5px; } }
.stake-modal .modal-dialog {
  max-width: 800px; }
  @media (max-width: 1679px) {
    .stake-modal .modal-dialog {
      max-width: 700px; } }
  @media (max-width: 991px) {
    .stake-modal .modal-dialog {
      max-width: 96%; } }
.stake-modal .modal-body {
  padding: 0px 50px 45px; }
  @media (max-width: 1679px) {
    .stake-modal .modal-body {
      padding: 0px 45px 28px; } }
  @media (max-width: 767px) {
    .stake-modal .modal-body {
      padding: 0px 25px 28px; } }
  @media (max-width: 767px) {
    .stake-modal .modal-body {
      padding: 0px 15px 28px; } }
  .stake-modal .modal-body .crate-stake-modal-body .modal-title h2 {
    font-size: 22px;
    display: flex;
    align-items: center; }
    @media (max-width: 1679px) {
      .stake-modal .modal-body .crate-stake-modal-body .modal-title h2 {
        margin-bottom: 15px;
        font-size: 18px; } }
    @media (max-width: 767px) {
      .stake-modal .modal-body .crate-stake-modal-body .modal-title h2 {
        font-size: 16px; } }
    @media (max-width: 575px) {
      .stake-modal .modal-body .crate-stake-modal-body .modal-title h2 {
        font-size: 15px; } }
  .stake-modal .modal-body .crate-stake-modal-body .modal-title img {
    background: #F3F4FA;
    border-radius: 50px;
    padding: 6px;
    height: 38px;
    margin-right: 8px; }
  .stake-modal .modal-body .stake-min-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px; }
    @media (max-width: 1679px) {
      .stake-modal .modal-body .stake-min-row {
        margin-bottom: 15px; } }
    .stake-modal .modal-body .stake-min-row .stake-min-block {
      font-size: 14px;
      color: #8393BA;
      margin-bottom: 10px; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .stake-min-row .stake-min-block {
          font-size: 13px; } }
      @media (max-width: 579px) {
        .stake-modal .modal-body .stake-min-row .stake-min-block {
          font-size: 12px; } }
      .stake-modal .modal-body .stake-min-row .stake-min-block:first-child {
        margin-right: 65px; }
        @media (max-width: 579px) {
          .stake-modal .modal-body .stake-min-row .stake-min-block:first-child {
            margin-right: 35px; } }
      .stake-modal .modal-body .stake-min-row .stake-min-block .val {
        display: inline-block;
        padding-left: 6px; }
  .stake-modal .modal-body .lock-period {
    color: #8393BA;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .stake-modal .modal-body .lock-period span {
      font-weight: 500; }
    @media (max-width: 1679px) {
      .stake-modal .modal-body .lock-period {
        font-size: 13px;
        margin-top: 8px;
        margin-bottom: 2px; } }
    @media (max-width: 767px) {
      .stake-modal .modal-body .lock-period {
        margin-top: 0px; } }
  .stake-modal .modal-body .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px; }
    .stake-modal .modal-body .input-group ::-webkit-input-placeholder {
      color: #8393BA; }
    .stake-modal .modal-body .input-group :-moz-placeholder {
      color: #8393BA; }
    .stake-modal .modal-body .input-group ::-moz-placeholder {
      color: #8393BA; }
    .stake-modal .modal-body .input-group :-ms-input-placeholder {
      color: #8393BA; }
    .stake-modal .modal-body .input-group .form-control {
      color: #2E4276;
      border: 1px solid #B4BFCD;
      border-radius: 50px !important;
      height: 60px;
      padding: 20px;
      padding-left: 27px;
      font-size: 14px;
      font-weight: 600; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .input-group .form-control {
          height: 50px; } }
      @media (max-width: 479px) {
        .stake-modal .modal-body .input-group .form-control {
          padding-left: 15px;
          height: 46px;
          font-size: 13px; } }
    .stake-modal .modal-body .input-group .badges {
      position: absolute;
      right: 2px;
      display: flex;
      top: 9px;
      cursor: pointer;
      z-index: 9; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .input-group .badges {
          top: 6px; } }
      @media (max-width: 575px) {
        .stake-modal .modal-body .input-group .badges {
          top: 9px; } }
      .stake-modal .modal-body .input-group .badges .num-badge {
        border-radius: 25px;
        padding: 9px 28px;
        border: solid 1px #B6C3E5;
        color: #2E4276;
        background-color: #fff;
        margin-right: 8px;
        font-size: 14px;
        font-weight: 500;
        z-index: 99;
        transition: .3s; }
        @media (max-width: 1679px) {
          .stake-modal .modal-body .input-group .badges .num-badge {
            font-size: 13px;
            padding: 9px 21px; } }
        @media (max-width: 575px) {
          .stake-modal .modal-body .input-group .badges .num-badge {
            padding: 6px 15px;
            font-size: 11px;
            margin-right: 4px; } }
        @media (max-width: 479px) {
          .stake-modal .modal-body .input-group .badges .num-badge {
            padding: 6px;
            font-size: 10px;
            margin-right: 2px; } }
        .stake-modal .modal-body .input-group .badges .num-badge:hover {
          border-color: #2966FF !important; }
      .stake-modal .modal-body .input-group .badges .max-active {
        background: #2966FF;
        color: #fff; }
  .stake-modal .modal-body .rwd-inner {
    margin-top: 25px;
    margin-bottom: 18px; }
    @media (max-width: 1679px) {
      .stake-modal .modal-body .rwd-inner {
        margin-top: 15px;
        margin-bottom: 9px; } }
    .stake-modal .modal-body .rwd-inner .detail-outer {
      margin-bottom: 20px;
      display: flex; }
      .stake-modal .modal-body .rwd-inner .detail-outer .props-col {
        color: #FF5050; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .rwd-inner .detail-outer {
          margin-bottom: 12px; } }
      .stake-modal .modal-body .rwd-inner .detail-outer img {
        margin-right: 15px;
        max-width: 19px; }
      .stake-modal .modal-body .rwd-inner .detail-outer span {
        color: #8393BA;
        font-size: 16px;
        font-weight: 500; }
        @media (max-width: 1679px) {
          .stake-modal .modal-body .rwd-inner .detail-outer span {
            font-size: 13px; } }
      .stake-modal .modal-body .rwd-inner .detail-outer .cnt {
        color: #2E4276;
        font-weight: 600;
        padding-left: 10px; }
      .stake-modal .modal-body .rwd-inner .detail-outer .props-col, .stake-modal .modal-body .rwd-inner .detail-outer .prop-num {
        font-weight: 600;
        color: #2E4276; }
      .stake-modal .modal-body .rwd-inner .detail-outer .penalty-cnt {
        color: #FC5252 !important; }
      .stake-modal .modal-body .rwd-inner .detail-outer .withdraw-cnt {
        color: #0DAD4D !important; }
    .stake-modal .modal-body .rwd-inner.rwd-col-inner {
      display: flex;
      flex-wrap: wrap; }
      .stake-modal .modal-body .rwd-inner.rwd-col-inner .detail-outer {
        width: 50%;
        flex-wrap: wrap;
        margin-bottom: 30px; }
        @media (max-width: 1679px) {
          .stake-modal .modal-body .rwd-inner.rwd-col-inner .detail-outer {
            margin-bottom: 20px; } }
        @media (max-width: 420px) {
          .stake-modal .modal-body .rwd-inner.rwd-col-inner .detail-outer {
            width: 100%; } }
        .stake-modal .modal-body .rwd-inner.rwd-col-inner .detail-outer .props-col {
          padding-top: 6px;
          width: 100%; }
  .stake-modal .modal-body .pool-cap-txt {
    color: #2E4276; }
    @media (max-width: 991px) {
      .stake-modal .modal-body .pool-cap-txt {
        margin-top: 20px; } }
    .stake-modal .modal-body .pool-cap-txt .pool-label {
      color: #2E4276;
      font-weight: 600;
      font-size: 16px; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .pool-cap-txt .pool-label {
          font-size: 13px; } }
    .stake-modal .modal-body .pool-cap-txt .pool-cont {
      color: #2E4276;
      font-weight: 600;
      font-size: 20px; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .pool-cap-txt .pool-cont {
          font-size: 16px; } }
  .stake-modal .modal-body .progress-bar-section {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 15px; }
    .stake-modal .modal-body .progress-bar-section .progress-count {
      color: #2966FF;
      font-weight: 600;
      font-size: 15px; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .progress-bar-section .progress-count {
          font-size: 13px; } }
  .stake-modal .modal-body .btn-outer {
    display: flex; }
    @media (max-width: 450px) {
      .stake-modal .modal-body .btn-outer {
        flex-direction: column; } }
  .stake-modal .modal-body .btn-stake {
    border-radius: 24px;
    background: #2966FF;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 52px;
    text-align: center;
    line-height: 48px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s; }
    .stake-modal .modal-body .btn-stake:hover {
      opacity: .8; }
    @media (max-width: 1679px) {
      .stake-modal .modal-body .btn-stake {
        height: 50px;
        font-size: 14px; } }
    @media (max-width: 579px) {
      .stake-modal .modal-body .btn-stake {
        height: 46px; } }
  .stake-modal .modal-body .withdraw-btn {
    background: #DFAB45; }
  .stake-modal .modal-body .btn-default {
    border-radius: 28px;
    border: 1px solid #B6C3E5;
    color: #2E4276;
    font-size: 15px;
    font-weight: 500;
    width: 47%;
    padding: 9px;
    background: #fff;
    margin-right: 10px;
    height: 50px; }
    .stake-modal .modal-body .btn-default span {
      font-weight: 600; }
    @media (max-width: 1679px) {
      .stake-modal .modal-body .btn-default {
        font-size: 13px;
        height: 40px; } }
    @media (max-width: 450px) {
      .stake-modal .modal-body .btn-default {
        width: 100%;
        margin-bottom: 13px;
        margin-right: 0; } }
  .stake-modal .modal-body .policy-stake {
    border-radius: 12px;
    background: #FFF6E1;
    margin-top: 30px;
    padding: 20px 22px; }
    @media (max-width: 1679px) {
      .stake-modal .modal-body .policy-stake {
        margin-top: 15px;
        padding: 10px 15px; } }
    @media (max-width: 575px) {
      .stake-modal .modal-body .policy-stake {
        margin-top: 13px; } }
    .stake-modal .modal-body .policy-stake .head-policy {
      color: #8B7645;
      font-weight: 600;
      font-size: 14px;
      display: flex;
      align-items: center;
      margin-bottom: 15px; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .policy-stake .head-policy {
          font-size: 12px;
          margin-bottom: 10px; } }
      .stake-modal .modal-body .policy-stake .head-policy img {
        margin-right: 9px;
        height: 15px;
        margin-top: -1px; }
    .stake-modal .modal-body .policy-stake .policy-text {
      color: #85744C;
      font-weight: 400;
      font-size: 12px; }
      @media (max-width: 1679px) {
        .stake-modal .modal-body .policy-stake .policy-text {
          font-size: 11px; } }
      .stake-modal .modal-body .policy-stake .policy-text p {
        margin-bottom: 8px; }

.card-section-outer .top-block .progress-bar-section .progress-bar-block .progress {
  height: 16px; }
  @media (max-width: 1679px) {
    .card-section-outer .top-block .progress-bar-section .progress-bar-block .progress {
      height: 14px; } }
  @media (max-width: 1481px) {
    .card-section-outer .top-block .progress-bar-section .progress-bar-block .progress {
      height: 12px; } }

.progress-bar-section {
  display: flex;
  margin-top: 8px;
  margin-bottom: 12px;
  align-items: center; }
  .progress-bar-section .progress-bar-block {
    flex: 1 1 auto; }
  .progress-bar-section .progress-count {
    flex: 0 0 auto;
    color: #2966FF;
    font-weight: 600;
    font-size: 15px;
    padding-left: 15px; }
    @media (max-width: 1679px) {
      .progress-bar-section .progress-count {
        font-size: 13px; } }

/*# sourceMappingURL=staking.css.map */
