@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** SP developers resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/* placeholder mixin */
.filter-wrapper {
  margin-bottom: 15px; }

.staking-dashboard-outer {
  display: flex; }
  .staking-dashboard-outer .welcome-stake-outer {
    background: #fff;
    margin-right: 15px;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    border-radius: 6px; }
    @media (max-width: 1679px) {
      .staking-dashboard-outer .welcome-stake-outer {
        padding: 20px 30px; } }
    .staking-dashboard-outer .welcome-stake-outer .img-sec-stake img {
      height: 130px; }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake {
      padding-left: 45px; }
      .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .props-badge .props-name {
        background: #657181;
        display: inline-block;
        padding: 6px 17px;
        border-radius: 50px;
        color: #fff;
        margin-bottom: 13px;
        font-size: 14px;
        font-weight: 500; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .props-badge .props-name {
            font-size: 12px; } }
      .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt h3 {
        font-size: 20px;
        margin-top: 10px;
        font-weight: 600; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt h3 {
            font-size: 16px; } }
      .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt p {
        color: #6e6c6c;
        font-size: 14px; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt p {
            font-size: 12px; } }
  .staking-dashboard-outer .total-value-outer {
    background: #fff;
    padding: 30px 22px;
    border-radius: 6px;
    flex: 0 0 28%; }
    @media (max-width: 1679px) {
      .staking-dashboard-outer .total-value-outer {
        padding: 20px 22px; } }
    .staking-dashboard-outer .total-value-outer .stake-tot-locked {
      border-bottom: 1px solid #e3e4f3;
      padding-bottom: 14px; }
      .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 {
        font-size: 20px;
        font-weight: 600;
        color: #292D32;
        display: flex;
        align-items: center; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 {
            font-size: 17px; } }
        .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .txt-sec {
          display: inline-block;
          margin-left: 6px;
          margin-top: 3px; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .img-sec img {
            height: 16px; } }
      .staking-dashboard-outer .total-value-outer .stake-tot-locked h2 {
        font-weight: 700;
        font-size: 23px; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .stake-tot-locked h2 {
            font-size: 19px; } }
    .staking-dashboard-outer .total-value-outer .tot-detl-outer {
      padding-top: 30px; }
      .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between; }
        @media (max-width: 1679px) {
          .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner {
            margin-bottom: 20px; } }
        .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-txt {
          color: #697F9B;
          font-size: 14px; }
          @media (max-width: 1679px) {
            .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-txt {
              font-size: 13px; } }
        .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-num {
          color: #000;
          font-weight: 600;
          font-size: 16px; }
          @media (max-width: 1679px) {
            .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-num {
              font-size: 14px; } }

.card-section-outer {
  padding-top: 15px; }
  .card-section-outer .h-card-col {
    padding-right: 15px;
    padding-left: 0; }
    .card-section-outer .h-card-col:nth-child(1) {
      padding-left: 15px !important; }
    .card-section-outer .h-card-col .h-card-block {
      border-radius: 6px; }
      @media (max-width: 1679px) {
        .card-section-outer .h-card-col .h-card-block {
          padding: 25px 25px 50px; } }
  .card-section-outer .top-block .heading-txt {
    display: flex;
    align-items: center;
    margin-bottom: 35px; }
    .card-section-outer .top-block .heading-txt img {
      height: 40px; }
    .card-section-outer .top-block .heading-txt h2 {
      margin-bottom: 0;
      padding-left: 11px;
      font-size: 19px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .heading-txt h2 {
          font-size: 17px; } }
  .card-section-outer .top-block .txt-content {
    font-size: 15px;
    margin-top: 13px; }
    @media (max-width: 1679px) {
      .card-section-outer .top-block .txt-content {
        font-size: 13px; } }
  .card-section-outer .top-block ul {
    padding-left: 31px; }
    .card-section-outer .top-block ul li {
      font-size: 15px;
      margin-bottom: 10px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block ul li {
          font-size: 13px; } }
  .card-section-outer .top-block .pool-cap-txt {
    margin-top: 50px; }
    .card-section-outer .top-block .pool-cap-txt .pool-label {
      font-weight: 600;
      font-size: 16px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .pool-cap-txt .pool-label {
          font-size: 13px; } }
    .card-section-outer .top-block .pool-cap-txt .pool-cont {
      font-weight: 600;
      font-size: 20px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .pool-cap-txt .pool-cont {
          font-size: 16px; } }
  .card-section-outer .top-block .progress-bar-section {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 12px; }
    .card-section-outer .top-block .progress-bar-section .progress-count {
      color: #0DAD4D;
      font-weight: 600;
      font-size: 15px; }
      @media (max-width: 1679px) {
        .card-section-outer .top-block .progress-bar-section .progress-count {
          font-size: 13px; } }
  .card-section-outer .top-block .btn-outer {
    display: flex; }
  .card-section-outer .top-block .btn-default {
    border-radius: 28px;
    border: 1px solid #B4BFCD;
    font-size: 15px;
    font-weight: 500;
    width: 47%;
    padding: 9px;
    background: #fff;
    margin-right: 10px; }
    @media (max-width: 1679px) {
      .card-section-outer .top-block .btn-default {
        font-size: 13px; } }
  .card-section-outer .top-block .list-order-outer {
    margin-top: 20px;
    border-bottom: 1px solid #e3e4f3;
    padding-bottom: 14px; }
    .card-section-outer .top-block .list-order-outer .list-order {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12px; }
      .card-section-outer .top-block .list-order-outer .list-order .label-content {
        color: #697F9B;
        font-weight: 500; }
        @media (max-width: 1679px) {
          .card-section-outer .top-block .list-order-outer .list-order .label-content {
            font-size: 13px; } }
      .card-section-outer .top-block .list-order-outer .list-order .data-content {
        font-size: 15px;
        font-weight: 500; }
        @media (max-width: 1679px) {
          .card-section-outer .top-block .list-order-outer .list-order .data-content {
            font-size: 13px; } }
  .card-section-outer .bottom-block .badge-staking-date span {
    border: 1px solid #7DE0A5;
    background: #E7FFF0;
    padding: 7px 26px;
    border-radius: 50px;
    margin-bottom: 17px;
    margin-top: 12px;
    color: #0DAD4D;
    display: inline-block;
    font-size: 13px;
    font-weight: 500; }
    @media (max-width: 1679px) {
      .card-section-outer .bottom-block .badge-staking-date span {
        font-size: 11px; } }
  .card-section-outer .bottom-block .btn-outr {
    display: flex; }
    .card-section-outer .bottom-block .btn-outr .btn-stake {
      margin-right: 11px;
      background-color: #0DAD4D;
      color: #fff;
      padding: 12px 15px;
      border: solid 1px #0DAD4D;
      width: 50%;
      text-align: center;
      text-decoration: none;
      border-radius: 50px; }
      @media (max-width: 1679px) {
        .card-section-outer .bottom-block .btn-outr .btn-stake {
          padding: 8px 15px;
          font-size: 14px; } }
    .card-section-outer .bottom-block .btn-outr .btn-unstake {
      background: #fff;
      color: #697F9B;
      padding: 12px 15px;
      border: 1px solid #B4BFCD;
      width: 50%;
      text-align: center;
      text-decoration: none;
      border-radius: 50px; }
      @media (max-width: 1679px) {
        .card-section-outer .bottom-block .btn-outr .btn-unstake {
          padding: 6px 12px;
          font-size: 14px;
          line-height: 26px; } }

/*# sourceMappingURL=staking.css.map */
