@import "partials/partials";
.bridge-body-outer{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    @media ($sm-579) {
        padding: 0;
    }
    .bridge-tab-body-2{
        @media ($sm-991) {
            display: none;
        }
    }
}
.bridge-body-cover{
    display: flex;
    justify-content: center;
    .bridge-data-outer{
        width: 100%;
        max-width: 855px;
        // max-width: 480px;
        @media ($sm-1679) {
            max-width: 600px;
        }
        @media ($sm-1199) {
            max-width: 530px;
        }
        @media ($sm-579) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .tut-info-block{
        display: flex;
        border: 1px solid #DFD04C;
        background-color: #FFF27E;
        border-radius: 14px;
        padding: 15px;
        .info-i{
            display: inline-block;
            margin-right: 5px;
            margin-top: -2px;
            img{
                filter: brightness(0) saturate(100%) invert(15%) sepia(42%) saturate(600%) hue-rotate(7deg) brightness(93%) contrast(97%);
            }
            @media ($sm-579) {
                img{
                    width: 14px;
                }
            }
        }
        .info-data{
            text-align: left;
            font-size: 13px;
            color: #70650C;
            @media ($sm-579) {
                font-size: 12px;
            }
        }
    }
    .bridge-banner-sec{
        text-align: center;
        padding: 30px 0 50px;
        @media ($sm-1679) {
            padding: 20px 0 30px;
        }
        @media ($sm-579) {
            padding: 30px 0 50px;
        }
        h2{
            color: $primary-blue;
            font-size: 20px;
            font-weight: 500;
        }
        p{
            color: $text-primary-light;
            font-size: 14px;
            max-width: 320px;
            margin: 0 auto 40px;
        }
        .tut-block{
            width: 100%;
            border: 1px solid #E3E4F3;
            border-radius: 14px;
            background-color: #f4f7fd;
            padding: 16px 20px;
            @media (max-width: 360px) {
                padding: 15px 10px;
            }
            .tut-link{
                text-decoration: underline;
                color: $text-primary-dark;
                font-size: 13px;
                transition: .3s;
                @media (max-width: 360px) {
                    font-size: 12px;
                }
                &:hover{
                    opacity: .8;
                }
                img{
                    margin-right: 10px;
                }
            }
        }
    }
    .tokn-liq-det-block{
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        @media (max-width: 380px) {
            flex-wrap: wrap;
        }
        .tokn-liq-card{
            padding: 12px 15px;
            border-radius: 8px;
            width: calc(50% - 5px);
            flex-direction: column;
            align-items: center;
            background-color: #f4f7fd;
            border: 1px solid #E3E4F3;
            @media (max-width: 380px) {
                width: 100%;
                margin-bottom: 15px;
                align-items: unset;
            }
            .icon-block{
                align-items: center;
                .props-icon{
                    background-color: #E3E4F3;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    flex-shrink: 0;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    @media (max-width: 380px) {
                        width: 35px;
                        height: 35px;
                    }
                    img{
                        max-width: 18px;
                        @media (max-width: 380px) {
                            max-width: 20px;
                        }
                    }
                }
                .sm-data{
                    padding-left: 10px;
                    h5{
                        color: $text-primary-dark;
                        margin: 0;
                        font-size: 12px;
                        font-weight: 500;
                    }
                    p{
                        color: $text-primary-light;
                        font-size: 12px;
                        font-weight: 300;
                        margin-bottom: 2px;
                    }
                }
                
            }
            h4{
                font-size: 16px;
                font-weight: 500;
                margin-top: 15px;
            }
        }
    }
    .data-connect-cover{
        margin-bottom: 50px;
        .connect-card-outer{
            .id-add-block{
                margin-bottom: 20px;
                .id-add-wrapper{
                    display: flex;
                    border: 1px solid #E3E4F3;
                    border-radius: 8px;
                    align-items: stretch;
                    .id-inp-block{
                        flex-grow: 1;
                        .id-inp{
                            padding: 10px 15px;
                            width: 100%;
                            max-width: 90%;
                            background-color: transparent;
                            border: none;
                            color: $text-primary-dark;
                        }
                    }
                    .id-copy-btn{
                        background-color: #E3E4F3;
                        border: none;
                        border-left: solid 1px #E3E4F3;
                        padding: 5px;
                        width: 50px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        border-radius: 0 8px 8px 0;
                    }
                }
                .verify-det{
                    padding-top: 5px;
                    display: flex;
                    align-items: center;
                    span{
                        display: inline-flex;
                        align-items: center;
                        font-size: 13px;
                        img{
                            margin-right: 8px;
                        }
                    }
                    .verified{
                        color: #0DAD4D;
                    }
                    .invalid{
                        color: #FC5252;
                    }
                }
            }

            margin-bottom: 40px;
            .connect-btn-block{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                .connected-id{
                    display: flex;
                    align-items: center;
                    img{
                        margin-right: 7px;
                        max-width: 16px;
                        max-height: 17px;
                    }
                    .cnt-id{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 200px;
                        font-size: 15px;
                        color: #0DAD4D;
                        @media ($sm-1679) {
                            font-size: 14px;
                        }
                        @media (max-width: 360px) {
                            max-width: 120px;
                        }
                    }
                }
                .connect-btn{
                    flex-shrink: 0;
                    margin-left: auto;
                    text-decoration: none;
                    color: $primary-blue;
                    font-size: 15px;
                    transition: .3s;
                    border: none;
                    box-shadow: none;
                    outline: none;
                    background-color: transparent;
                    padding: 2px;
                    @media (max-width: 380px) {
                        font-size: 14px;
                    }
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            .data-connect-card{
                border-radius: 14px;
                border: 1px solid #E3E4F3;
                .data-title-block{
                    display: flex;
                    background-color: #f4f7fd;
                    border-radius: 14px 14px 0 0;
                    .left-block{
                        flex-grow: 1;
                        padding: 13px;
                        @media (max-width: 380px) {
                            padding-left: 10px;
                        }
                        .props-icon{
                            background-color: #E3E4F3;
                            width: 44px;
                            height: 44px;
                            border-radius: 50%;
                            flex-shrink: 0;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            @media (max-width: 380px) {
                                width: 35px;
                                height: 35px;
                            }
                            img{
                                max-width: 25px;
                                filter: grayscale(1) invert(1);
                                @media (max-width: 380px) {
                                    max-width: 16px;
                                }
                            }
                        }
                        .sm-data{
                            padding-left: 10px;
                            h5{
                                color: $text-primary-dark;
                                margin: 0;
                                font-size: 12px;
                                font-weight: 500;
                            }
                            p{
                                color: $text-primary-light;
                                font-size: 12px;
                                font-weight: 300;
                                margin-bottom: 2px;
                            }
                        }
                    }
                    .right-block{
                        padding: 13px;
                        padding-left: 15px;
                        border-left: 1px solid #E3E4F3;
                        flex-shrink: 0;
                        width: 40%;
                        display: flex;
                        align-items: center;
                        @media ($sm-767) {
                            width: 150px;
                        }
                        @media (max-width: 380px) {
                            padding-left: 10px;
                        }
                        .right-block-inner{
                            display: flex;
                            .props-icon{
                                background-color: #E3E4F3;
                                width: 44px;
                                height: 44px;
                                border-radius: 50%;
                                flex-shrink: 0;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                @media (max-width: 380px) {
                                    width: 35px;
                                    height: 35px;
                                }
                                img{
                                    max-width: 25px;
                                    @media (max-width: 380px) {
                                        max-width: 16px;
                                    }
                                }
                            }
                            .sm-data{
                                padding-left: 10px;
                            }
                        }
                        p{
                            color: $text-primary-light;
                            font-size: 12px;
                            font-weight: 300;
                            margin-bottom: 2px;
                        }
                        .select-block{
                            margin-left: -4px;
                            .connect-select{
                                padding: 0;
                                background-color: transparent;
                                border: none;
                                color: $text-primary-dark;
                                font-size: 12px;
                                font-weight: 500;
                                outline: none;
                                border-radius: 0 !important;
                                option{
                                    border-radius: 0;
                                    background-color: #fff;
                                }
                            }
                        }
                    }
                }
                .data-block{
                    padding: 13px;
                }
                .coin-wrapper{
                    @media (max-width: 370px) {
                        flex-wrap: wrap;
                    }
                    .props-val{
                        flex-grow: 1;
                        max-width: calc(100% - 70px);
                        @media (max-width: 370px) {
                            width: 100%;
                            max-width: 100%;
                            display: flex;
                        }
                        .props-inp-block{
                            @media (max-width: 370px) {
                                width: 100%;
                                flex-grow: 1;
                                max-width: calc(100% - 50px);
                            }
                        }
                        .props-inp{
                            color: #4B4B4B;
                            border: none;
                            box-shadow: none;
                            outline: none;
                            // width: 100px;
                            max-width: 95%;
                            padding: 0;
                            font-size: 16px;
                            font-weight: 500;
                            background-color: transparent;
                            margin-bottom: 10px;
                            @media ($sm-479) {
                                font-size: 15px;
                            }
                            @media (max-width: 370px) {
                                font-size: 14px;
                            }
                        }
                        .max-btn-block{
                            @media (max-width: 370px) {
                                flex-shrink: 0;
                                margin-left: auto;
                            }
                        }
                        .max-btn{
                            background-color: #dbe2f6;
                            color: $text-primary-dark;
                            display: inline-block;
                            border-radius: 5px;
                            padding: 5px 8px;
                            color: $text-primary-dark;
                            font-size: 13px;
                            border: none;
                            box-shadow: none;
                            outline: none;
                            &.active{
                                background-color: $primary-blue !important;
                                color: #fff !important;
                            }
                        }
                    }
                    .bal-val{
                        text-align: right;
                        flex-shrink: 0;
                        margin-left: auto;
                        padding-left: 15px;
                        @media (max-width: 370px) {
                            text-align: left;
                            width: 100%;
                            padding-left: 0;
                            padding-top: 10px;
                        }
                        p{
                            color: $text-primary-light;
                            font-size: 13px;
                            margin-bottom: 5px;
                        }
                        h5{
                            color: $text-primary-dark;
                            font-size: 13px;
                            font-weight: 400;
                            margin: 0;
                        }
                    }
                }
            }
            .trnsf-img-block{
                text-align: center;
                padding: 25px 15px 15px;
                .icon{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #E3E4F3;
                    border-radius: 50%;
                    width: 46px;
                    height: 46px;
                    background: #E3E4F3;
                    img{
                        filter: brightness(0) saturate(100%) invert(36%) sepia(37%) saturate(616%) hue-rotate(185deg) brightness(92%) contrast(88%);
                    }
                }
            }
        }
        .fee-det-wrapper{
            justify-content: space-between;
            margin-bottom: 15px;
            .fee-label{
                font-size: 13px;
                padding-right: 15px;
                color: $text-primary-dark;
            }
            .fee-info{
                color: $text-primary-dark;
                font-size: 13px;
            }
        }
        .bridge-btn-block{
            padding-top: 15px;
            .bridge-btn{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .3s;
                font-size: 15px;
                font-weight: 500;
                padding: 15px;
                border-radius: 8px;
                background-color: $primary-blue;
                color: #fff;
                border: none;
                &:hover{
                    opacity: .8;
                }
                img{
                    margin-right: 8px;
                }
            }
        }
    }
    .my-transaction-mob{
        @media (min-width: 991px) {
            display: none !important;
        }
        .title-search-box{
            width: 100%;
            margin-bottom: 20px;
            .input-group{
                padding-left: 10px;
                padding-right: 10px;
                height: 42px;
                width: 100%;
                max-width: 100%;
                .form-control{
                    font-size: 14px;
                }
            }
        }
    }
    .my-transaction-cover{
        .my-transaction-title{
            color: $text-primary-dark;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 30px;
            img{
                margin-right: 10px;
            }
        }

        .my-transaction-card{
            margin-bottom: 15px;
            border: 1px solid $border-grey;
            border-radius: 14px;
            background-color: #f4f7fd;
            padding: 22px 22px 15px;
            .show-more-btn-block{
                text-align: center;
                .show-more-btn-mob{
                    display: inline-flex;
                    align-items: center;
                    padding: 3px 5px;
                    background-color: transparent;
                    border: none;
                    font-size: 13px;
                    color: $primary-blue;
                    img{
                        width: 14px;
                        margin-left: 5px;
                        transition: .3s;
                    }
                    &.hide{
                        img{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .more-card-data-cover{
                margin: 10px 0;
                border-top: 1px solid #E3E4F3;
                padding-top: 15px;
                h3{
                    color: $text-primary-dark;
                    font-size: 14px;
                    font-weight: 600;
                }
                .more-det-col{
                    background-color: #fff;
                    border: 1px solid #E3E4F3;
                    border-radius: 8px;
                    display: inline-block;
                    padding: 10px 15px;
                    margin-left: 0;
                    width: 100%;
                    margin-bottom: 10px;
                    h5{
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        font-weight: 600;
                        color: $text-primary-dark;
                        .status{
                            padding-left: 10px;
                            font-size: 12px;
                            display: inline-block;
                            color: #0DAD4D;
                            font-weight: 400;
                            margin-left: 5px;
                            text-align: right;
                            margin-left: auto;
                            &.status-warning{
                                color: $primary-blue;
                            }
                            &.status-dngr{
                                color: #FC5252;
                            }
                        }
                        .lbl-sm{
                            display: inline-block;
                            margin-left: 5px;
                            font-size: 13px;
                            font-weight: 400;

                            color: $text-primary-light;
                        }
                    }
                    .id-data-col{
                        display: flex;
                        align-items: center;
                        .data-id{
                            padding-right: 10px;
                            color: $text-primary-dark;
                            font-size: 13px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 200px;
                        }
                        .more-sm-btn{
                            background-color: #e3e4f3;
                            border: none;
                            margin-left: 8px;
                            padding: 0;
                            width: 30px;                
                            height: 30px;
                            border-radius: 5px;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                max-width: 14px;
                            }
                        }
                    }
                }
            }

            .status-block{
                margin-bottom: 15px;
                border-radius: 13px;
                background-color: #d1d1d1;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: $text-primary-light;
                padding: 12px;
                span{
                    display: inline-block;
                }
                .currnt-sts{
                    color: $text-primary-dark;
                    display: inline-flex;
                    align-items: center;
                    padding-left: 6px;
                    .sts-ind{
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        margin-right: 5px;
                        background-color: $text-primary-dark;
                    }
                }
                &.sts-delivered{
                    background-color: #b8e3ca;
                    .currnt-sts{
                        color: #0DAD4D !important;
                    }
                    .sts-ind{
                        background-color: #0DAD4D !important;
                    }
                }
            }
            .trnx-data-wrapper{
                flex-wrap: wrap;
                justify-content: space-between;
                .trnx-data-col{
                    padding: 15px 0;
                    max-width: 50%;
                    &:nth-child(odd){
                        padding-right: 10px;
                    }
                    @media (max-width: 370px) {
                        font-size: 12px;
                        max-width: 100%;
                        width: 100%;
                        padding-right: 0 !important;
                    }
                    p{
                        font-size: 12px;
                        color: $text-primary-light;
                        margin-bottom: 5px;
                    }
                    .trnx-data{
                        display: flex;
                        align-items: center;
                        .trx-icon{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #E3E4F3;
                            width: 19px;
                            height: 19px;
                            border-radius: 5px;
                            margin-right: 8px;
                            img{
                                max-height: 95%;
                                max-width: 100%;
                            }
                        }
                        .trx-id{
                            color: $text-primary-dark;
                            padding-right: 8px;
                            font-size: 14px;
                            max-width: 115px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @media (max-width: 400px) {
                                font-size: 13px;
                                max-width: 100px;
                            }
                            @media (max-width: 370px) {
                                max-width: 200px;
                            }
                        }
                    }
                    .trs-copy-btn{
                        padding: 1px;
                        background-color: transparent;
                        border: none;
                        box-shadow: none;
                        line-height: 12px;
                        img{
                            filter: brightness(0) saturate(100%) invert(36%) sepia(37%) saturate(616%) hue-rotate(185deg) brightness(92%) contrast(88%);
                        }
                    }
                }
            }

        }
    }
}

.table-pagination-cover.mob-card-pagination{
    border: none;
    background-color: transparent;
    justify-content: center;
    .pagination-block{
        @media (max-width: 670px) {
            justify-content: center !important;
        }
    }
    .pagination-block .pagination .page-item {
        .page-link{
            width: 35px;
            height: 35px;
        }
        .page-link-dots {
            height: 35px;
        }
    }
}

.my-transaction-web{
    padding-top: 25px;
    @media (max-width: 767px) {
        display: none !important;
    }
    .table{
        .acc-actn{
            width: 40px;
        }
        .table-acc-btn{
            background-color: transparent;
            border: none;
            width: 30px;
            height: 30px;
            padding: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            img{
                width: 20px;
            }
        }
    }
}
.my-transaction-table-cover{
    .trns-history-table{
        td{
            &.sts-td{
                white-space: nowrap;
                .sts-ind{
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 6px;
                    background-color: #fff;
                }
            }
            &.sts-delivered{
                color: #0DAD4D !important;
                .sts-ind{
                    background-color: #0DAD4D;
                }
            }
            .trx-icon{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #E3E4F3;
                width: 19px;
                height: 19px;
                border-radius: 5px;
                margin-right: 8px;
                img{
                    max-height: 95%;
                    max-width: 100%;
                }               
            }
            .trx-id-td{
                max-width: 180px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .trx-data-td{
                display: flex;
                align-items: center;
                flex-grow: 1;
            }
        }
    }
}

.bridge-tab-cover{
    @media ($sm-991) {
        display: none;
    }
    .bridge-tab-block{
        width: 100%;
        margin: 0 auto;
        border-bottom: solid 1px #E3E4F3;
        display: flex;
        max-width: 855px;
        @media ($sm-1679) {
            max-width: 600px;
        }
        @media ($sm-1199) {
            max-width: 530px;
        }
        @media ($sm-767) {
            max-width: 480px;
        }
        .bridge-tab-btn{
            width: 50%;
            padding: 20px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            background-color: transparent;
            border: none;
            color: $text-primary-dark;
            transition: .3s;
            position: relative;
            font-size: 16px;
            @media ($sm-1679) {
                padding: 15px;
                font-size: 15px;
            }
            @media ($sm-579) {
                padding: 20px 15px;
            }
            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 0;
                background-color: #2966FF;
                height: 2px;
                transition: .3s;
            }
            &:hover, &.active{
                color: $primary-blue !important;
                &::after {
                    width: 99%;
                }
                img{
                    filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(7453%) hue-rotate(221deg) brightness(105%) contrast(101%) !important;
                }
            }
            img{
                margin-right: 15px;
            }
        }
    }
}
.passcode-bridge{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 25px;
    @media ($sm-767) {
        min-height: auto;
    }
    @media (max-width: 420px) {
        padding: 30px 10px;
    }
    .passcode-content-block{
        width: 100%;
        max-width: 600px;
        padding: 80px 45px;
        border-radius: 16px;
        border: 1px solid #373737;
        background: #010101;
        // display: flex;
        // align-items: center;
        // flex-direction: column;
        border: 1px solid #E3E4F3;
        background-color: #fff;
        @media ($sm-1481) {
            max-width: 550px;
            padding: 70px 40px;
        }
        @media ($sm-1199) {
            max-width: 500px;
            padding: 60px 40px;
        }
        @media ($sm-767) {
            padding: 50px 40px;
        }
        @media (max-width: 420px) {
            padding: 50px 25px;
        }
        h2{
            text-align: center;
            font-size: 26px;
            color: $text-primary-dark;
            font-weight: 400;
            margin-bottom: 35px;
            @media ($sm-1679) {
                font-size: 24px;
            }
            @media ($sm-1481) {
                font-size: 22px;
            }
            @media ($sm-579) {
                font-size: 20px;
            }
            span{
                font-weight: 600;
            }
        }
        p{
            text-align: center;
            font-size: 13px;
            color: #9FA0A3;
            font-weight: 500;
            margin-bottom: 0;
        }
        .form-block{
            width: 405px;
            max-width: 100%;
            margin: 0 auto;
            .alert-msg-cover .alert-msg{
                left: 0;
            }
            .inp-block{
                margin-bottom: 15px;
                .form-label{
                    color: #9FA0A3;
                    font-size: 14px;
                    font-weight: 400;
                    margin-bottom: 5px;
                    @media ($sm-579) {
                        font-size: 13px;
                    }
                }
                .form-control{
                    padding: 5px 25px;
                    height: 50px;
                    font-size: 15px;
                    width: 100%;
                    border-radius: 8px;
                    border: 1px solid #E3E4F3;
                    background: #fff;
                    color: $text-primary-dark;
                    @media ($sm-1679) {
                        height: 46px;
                        font-size: 14px;
                    }
                    @media ($sm-1481) {
                        height: 44px;
                    }
                    @media ($sm-1199) {
                        height: 42px;
                    }
                    &:-webkit-autofill{
                        -webkit-text-fill-color: #fff;
                    }
                }
            }
            .btn-block{
                padding-top: 15px;
                text-align: center;
                .proceed-btn{
                    padding: 12px 15px;
                    width: 223px;
                    font-weight: 400;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;
                    @media ($sm-579) {
                        width: 100%;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.more-det-outer{
    .status-title{
        color: $text-primary-dark;
        font-size: 14px;
        font-weight: 700;
    }
    .more-det-row{
        flex-wrap: wrap;
        display: flex;
        .more-det-col{
            background-color: #fff;
            border: 1px solid #E3E4F3;
            border-radius: 8px;
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            margin-right: 15px;
            margin-left: 0;
            min-height: 78px;
            h5{
                display: flex;
                align-items: center;
                font-size: 15px;
                font-weight: 600;
                color: $text-primary-dark;
                .status{
                    padding-left: 10px;
                    font-size: 13px;
                    display: inline-block;
                    color: #0DAD4D;
                    font-weight: 400;
                    margin-left: 5px;
                    text-align: right;
                    margin-left: auto;
                    &.status-warning{
                        color: $primary-blue;
                    }
                    &.status-dngr{
                        color: #FC5252;
                    }
                }
                .lbl-sm{
                    display: inline-block;
                    margin-left: 5px;
                    font-size: 13px;
                    font-weight: 400;

                    color: $text-primary-light;
                }
            }
            .id-data-col{
                display: flex;
                align-items: center;
                .data-id{
                    color: $text-primary-dark;
                    font-size: 13px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                }
                .more-sm-btn{
                    background-color: #e3e4f3;
                    border: none;
                    margin-left: 8px;
                    padding: 0;
                    width: 30px;                
                    height: 30px;
                    border-radius: 5px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        
                    }
                }
            }
        }
    }
}