@import "partials/partials";

$dark-bg: #000;
$dark-border: #484848;
$dark-border-2:#4E4E4E;
$dark-border-3: #696969;
$dark-border-4: #2B2B2B;
$dark-block: #151618;
$dark-block-2: #2B2C2E;
.theme-dark{
    color: $primary-light;
    background-color: $dark-bg;
    // bg dark
    .nav-block .navbar-collapse-block, .nav-block, .body-wrapper .content-block-outer, 
    .header-wrapper, .header-wrapper .header-title-block .live-active, .header-wrapper .right-block .buy-btn, 
    .header-wrapper .wallet-btn, .header-wrapper .login-btn, .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, 
    .filter-wrapper, .filter-wrapper .filter-nav-btn, .card-sec .h-card-block, .welcome-cover, .portfolio-sec .lg-graph, 
    .portfolio-sec .portfolio-card, .portfolio-sec .portfolio-card .table-pagination-cover, 
    .custom-modal .modal-content, .title-search-box .input-group, .title-search-box .input-group .form-control, 
    
    {
        background-color: $dark-bg;
    }
    // text light
    .header-wrapper .info-block, .header-wrapper .header-title-block .live-active, .header-wrapper .wallet-btn, 
    .header-wrapper .login-btn, .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, 
    .filter-wrapper .filter-nav-btn, .card-sec .h-card-block, .card-sec .h-card-block .join-btn, .welcome-cover, 
    .portfolio-sec .lg-graph .graph-title-block .graph-title .graph-det p, 
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn, 
    .portfolio-sec .lg-graph .graph-table-block .graph-table tr td, .portfolio-sec .portfolio-card .title-wrapper .title-block h2, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .c-label, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .c-rate, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-tab-row .tab-label, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-tab-row .tab-val, 
    .portfolio-sec .portfolio-card .card-table th, .portfolio-sec .portfolio-card .card-table td, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .props-value .d-rate, 
    .table-pagination-cover .pagination-block .pagination .page-item .page-link-dots, .table-pagination-cover .entries-block, 
    .claim-reward-modal .claim-reward-modal-body .modal-title h4, .claim-reward-modal .claim-reward-modal-body .claim-count-block p, 
    .claim-reward-modal .claim-reward-modal-body .claim-count-block h4, .success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt, 
    .title-search-box .input-group .form-control, .filter-dropdown-group .filter-dropdown-btn
    {
        color: $primary-light;
    }

    // full border color 2
    .header-wrapper .header-title-block .live-active, .header-wrapper .right-block .buy-btn, 
    .header-wrapper .wallet-btn, .success-modal .modal-body .stake-detail, .title-search-box .input-group{
        border-color: $dark-border-2;
    }
    // full border
    .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, .portfolio-sec .portfolio-card{
        border: solid 1px $dark-border-2;
    }

    // Blue block
    .header-wrapper .wallet-btn, .card-sec .h-card-block .join-btn{
        background-color: $primary-blue;
    }
    // text blue
    .portfolio-sec .lg-graph .graph-title-block .graph-title .graph-det .g-rate span{
        color: $primary-blue;
    }

    // img white

    .header-wrapper .login-btn img, .portfolio-sec .portfolio-card .title-wrapper .title-block .title-icon img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-icon img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .props-value .icon-img, 
    .custom-modal .btn-close img
    {
        filter: grayscale(1) invert(1) brightness(2);
    }

    // img white
    .claim-reward-modal .claim-reward-modal-body .modal-title h4 .title-icon img{
        filter: grayscale(1) brightness(2);
    }

    .nav-block{
        border-right: solid 1px $dark-border;
        border-top: solid 1px $dark-border;
    }
    .header-wrapper{
        border-bottom: solid 1px $dark-border;
    }
    .header-wrapper .right-block .my-acc-dropdown .my-acc-btn img{
        border: solid 1px $dark-border-2;
        border-radius: 50%;
    }
    .property-listing-cover{
        margin-bottom: 20px;
        .filter-wrapper{
            margin-bottom: 0;
            border-bottom: solid 1px $dark-border;
        }
    }
    .filter-wrapper .filter-nav-btn{
        border: none;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            bottom: -15px;
            height: 3px;
            border-radius: 1.5px;
            background-color: $primary-blue;
            transition: .3s;
        }
        &.active, &:hover{
            &::after{
                width: 100%;
            }
        }
    }
    .card-sec .h-card-block {
        border: solid 1px $dark-border;
        .join-btn{
            border: solid 1px $primary-blue;
            &:hover{
                background-color: $primary-light;
                color: $primary-blue;
            }
        }
    }

    .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link{
        &::after{
            background-color: #0C121F;
        }
        &.active{
            color: $primary-blue;
            img{
                filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(7453%) hue-rotate(221deg) brightness(105%) contrast(101%);
            }
        }
    }
    // Portfolio
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover, 
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn{
        background-color: $dark-block;
    }
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn{
        &:hover, &.active{
            background-color: $dark-block-2;
        }
    }
    .portfolio-sec .lg-graph .graph-table-block .graph-table tr td{
        border: none;
        border-bottom: solid 1px #191919;
    }
    .portfolio-sec .lg-graph{
        border: solid 1px $dark-border-2;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-icon{
        background-color: $dark-block-2;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover{
        border-color: #2B2B2B;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title{
        background-color: #202020;
    }
    .portfolio-sec .portfolio-card .card-table th{
        background-color: $table-th;
    }
    .portfolio-sec .portfolio-card .card-table td{
        border: none;
        border-bottom: solid 1px #191919 !important;
    }
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td{
        border-bottom: none !important;
        &:last-child, &:first-child{
            border-radius: 0;
        }
    }
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td:first-child::after, 
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td:last-child::after{
        display: none;
    }
    // login dark
    .login-left-block
    {
        background: $dark-black;
        .logo-section-block
        {
            img.logo-img {
                display: none;
            }
            img.logo-img.d-none {
                display: block !important;
            }
            .welcome-text,.welcome-text h4,.form-group .input-group label,.bottom-content .checkbox-container
            {
                color:$primary-light;
    
            }
        }
        .form-group .input-group label
        {
            color:$primary-light;
        }
        .form-group .input-group .form-control
        {
                color:$primary-light !important;
                -webkit-text-fill-color:$primary-light!important;
                border: 1px solid $primary-light;
         }    
    }
    //fgt modal
    .fgt-modal
    {
        .modal-content {
            background: #000;
        }
        .modal-dialog .modal-header
        {
            .heading-top h5,.heading-top .modal-title
            {
                color: #ffffff;
            }
            .input-group .form-control
            {
                border: 1px solid #ffffff;
            }
            
        }
        .modal-dialog .modal-body .form-group .input-group label
        {
            color: #ffffff;
        }
        .modal-dialog  .modal-body .form-group .input-group .form-control
        {
            border: 1px solid #ffffff;
        }
    }
    .success-modal .modal-dialog.modal-dialog-centered .modal-content {
        background: #000;
    }
    // .success-modal .modal-body .modal-title h5, .success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt
    // {
    //     color: #9EB3CD;
    // }
    .success-modal .modal-body .modal-title h2,.success-modal .modal-body .stake-detail .stake-amt .stake-rupees
    {
        color:#fff;
    }
    .staking-dashboard-outer .welcome-stake-outer,.staking-dashboard-outer .total-value-outer
    {
       background-color:$dark-black;
       border:1px solid $dark-border 
    }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .props-badge .props-name
    {
        background:$bg-dark-blue;
    }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt h3,
    .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .txt-sec,
    .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-txt,
    .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-num,
    .card-section-outer .top-block .heading-txt .desc-content p.txt-content,
    .card-section-outer .top-block .timer-section label,
    .card-section-outer .top-block .timer-section ul li .label-count,
    .card-section-outer .top-block .list-order-outer .list-order .label-content,
    .staking-dashboard-outer .total-value-outer .stake-tot-locked .text-percent-count,
    .stake-modal .modal-body .crate-stake-modal-body .modal-title h2,
    .stake-modal .modal-body .pool-cap-txt .pool-label,
    .stake-modal .modal-body .pool-cap-txt .pool-cont,
    .stake-modal .modal-body .progress-bar-section .progress-count,
    .stake-modal .modal-body .btn-default,
    .stake-modal .modal-body .rwd-inner .detail-outer span,
    .stake-modal .modal-body .rwd-inner .detail-outer .cnt,
    .stake-modal .modal-body .rwd-inner.rwd-col-inner .detail-outer .props-col,
    .sec-title-block .sec-title
    {
        color:$primary-light;
    }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt p
    {
        color:$light-grey-txt;
    }
    .staking-dashboard-outer .total-value-outer .stake-tot-locked
    {
        border-bottom: 1px solid #484848;
    }
    .card-section-outer .top-block .timer-section ul li
    {
        background: #2B2C2E;
    }
    .card-section-outer .top-block .timer-section ul li .num-txt
    {
        background: #151618;
        color: #A3A3A3;
    }
    .card-section-outer .top-block .btn-default
    {
        background: transparent;
        color: #fff;
        border: 1px solid #B4BFCD;
    }
    .card-section-outer .bottom-block
    {
        border-top: 1px solid #353535;
    }
    .card-section-outer .bottom-block .btn-outr .btn-unstake {
        background: transparent;
        color: #ffffff;
    }
    button.login-btn.header-btn-web
    {
        border: 1px solid #4E4E4E;
    }
    .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .img-sec img
    {
        filter: grayscale(1) brightness(3);
    }
    .card-section-outer .top-block .icon-head-top .img-icon.d-none
    {
        display:block !important;
    }
    .card-section-outer .top-block .icon-head-top .img-icon-white
    {
        display:none !important;
    }
    .table-no-data p
    {
        color: #ffffff;
    }
    .stake-modal
    {
       .modal-content
        {
            border: 1px solid #272727;
            background: #000;
        }
        .modal-body .btn-default
        {
            background: transparent;
        }
        .modal-body .btn-default
        {
            border: 1px solid #B2B2B2;
        }
        .modal-body .lock-period
        {
            color: #B2B2B2;
        }
        .modal-body .policy-stake {
            border: 1px solid #2B2B2B;
            background: #0F0F0F;
        }
        .modal-body .policy-stake .head-policy,.modal-body .policy-stake .policy-text
        {
            color: #B2B2B2;
        }
        .modal-body .input-group .form-control
        {
            background: transparent;
            border: 1px solid #3F3F3F;
        }
        .modal-body .input-group .badges .num-badge
        {
            border: 1px solid #B2B2B2;
            color: #fff;
        }
        .modal-body .input-group .badges .max-active
        {
            border: 1px solid #2966FF;
        }
        .modal-body .crate-stake-modal-body .modal-title img
        {
            background: transparent;
            filter: grayscale(1) brightness(3);
        }
        .modal-body .policy-stake .head-policy img
        {
            filter: grayscale(1) brightness(3);
        }
        .modal-body .rwd-inner .detail-outer img
        {
            filter: grayscale(1) brightness(1);
        }
        .modal-body .input-group .form-control
        {
            color: #B2B2B2;
        }
    }
    .stake-modal .modal-body .withdraw-btn {
        background: #EE8728;
    }
    .table-no-data .img-block .no-data-img.d-none
    {
        display:block !important;
    }
    .table-no-data .img-block .no-data-img
    {
        display:none !important;
    }
    .custom-modal.crate-stake-modal .inp-block-modal .custom-inp
    {
        border: 1px solid #484848;
        background: transparent;
        color: #ffffff;
    }
    .custom-modal.crate-stake-modal .inp-block-modal .form-label {
        color: #9EB3CD;
    }
    .crate-stake-modal .img-box-cover .img-name-block .img-name,
    .custom-modal.crate-stake-modal .modal-title h2
    {
        color: #ffffff;
    }
    .custom-modal.crate-stake-modal .btn-cover-modal .btn-border {
        color: #ffffff !important;
        border-color: #9EB3CD !important;
        background: transparent;
    }
    .custom-modal.crate-stake-modal .modal-info-cover .modal-info-block {
        background-color: #251E0D;
        color: #FBCB5E;
    }
    .crate-stake-modal .img-box-cover .img-select-btn
    {
        background-color: #242734;
        color: #ffffff;
    }


    // CreATE STAKEABLE
    .title-search-box .input-group{
        @include placeholder{
            color: $primary-light;
        }
    }
    .title-search-box .input-group img, .filter-dropdown-group .filter-dropdown-btn img{
        filter: grayscale(1) brightness(4);
    }
    .filter-dropdown-group .filter-dropdown-btn{
        border-color: $dark-border-2 !important;
    }
    .filter-dropdown-group .filter-dropdown-btn
    {
        background-color: $dark-bg !important;
    }


    // Table common
    .table-cover .custom-table thead th{
        background-color: $table-th;
        color: $primary-light;
        border-color: $table-bodrer !important;
    }
    .table-cover .custom-table .th-sort img{
        filter: grayscale(1) brightness(4);
    }
    .table-cover .custom-table tbody td{
        background-color: $dark-bg;
        color: $primary-light;
        border-color: $table-bodrer;
    }
    .table-cover .custom-table .text-dark{
        color: $primary-light !important;
    }
    .table-sec{
        border-color: #3E3E3E;
        background-color: $dark-bg;
    }
    .table-cover .custom-table .td-action-btn{
        border-color: $dark-bg;
        &:hover img{
            border-color: $primary-light;
        }
    }
    .table-cover .custom-table .td-action-btn .edit-icon{
        filter: grayscale(1) invert(1) brightness(2);
        border-color: $primary-light;
        &:hover{
            border-color: $dark-bg;
        }
    }
    .table-cover .custom-table .tr-completed{
        td{
            background-color: #031A0B;
        }
    }
    .table-pagination-cover{
        background-color: $dark-bg;
    }
    .portfolio-sec .portfolio-card .table-pagination-cover, .table-pagination-cover{
        border-color: #3E3E3E;
    }
    .table-pagination-cover{
        .select-block{
            color: $primary-light;
            .pagination-select{
                border-color: $border-grey;
                background-color: $dark-bg;
                color: $primary-light;
            }
        }
        .pagination .page-item .page-link{
           background-color: $dark-bg;
           border-color: #3E3E3E;
           color: $primary-light;
           img{
            filter: grayscale(1) brightness(4);
           }
           &:hover, &.active{
            background-color: #2D2D2D;
            color: $primary-light;
            border-color: #6F6F6F;
            img{
                filter: none;
            }
           }
        }
    } 
}
