@import "partials/partials";

$dark-bg: #000;
$dark-border: $dark-border;
$dark-border-2:#4E4E4E;
$dark-border-3: #696969;
$dark-border-4: #2B2B2B;
$dark-block: #151618;
$dark-block-2: #2B2C2E;
.theme-dark{
    color: $primary-light;
    background-color: $dark-bg;
    // bg dark
    .nav-block .navbar-collapse-block, .nav-block, .body-wrapper .content-block-outer, 
    .header-wrapper, .header-wrapper .header-title-block .live-active, .header-wrapper .right-block .buy-btn, 
    .header-wrapper .wallet-btn, .header-wrapper .login-btn, .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, 
    .filter-wrapper, .filter-wrapper .filter-nav-btn, .card-sec .h-card-block, .welcome-cover, .portfolio-sec .lg-graph, 
    .portfolio-sec .portfolio-card, .portfolio-sec .portfolio-card .table-pagination-cover, 
    .custom-modal .modal-content, .title-search-box .input-group, .title-search-box .input-group .form-control, 
    .header-wrapper .right-block .notify-dropdown .notify-btn, .sec-title-block .download-excel-btn, 
    .filter-dropdown-group .filter-dropdown-menu, .filter-dropdown-menu .filter-form-content .custom-inp, 
    .header-wrapper .right-block .my-acc-dropdown .dropdown-menu, .conect-wallet .walles-otr .wallet-btn, 
    .change-pass-modal .modal-dialog .modal-content, .header-wrapper .right-block .notify-dropdown .dropdown-menu, 
    .header-wrapper .right-block .buy-pros-dropdown .dropdown-menu, 
    .portfolio-sec .portfolio-card-sm, .header-wrapper .header-title-block .dropdown-menu, 
    .terms-sec
    {
        background-color: $dark-bg;
    }
    // text light
    .header-wrapper .info-block, .header-wrapper .header-title-block .live-active, .header-wrapper .wallet-btn, 
    .header-wrapper .login-btn, .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, 
    .filter-wrapper .filter-nav-btn, .card-sec .h-card-block, .card-sec .h-card-block .join-btn, .welcome-cover, 
    .portfolio-sec .lg-graph .graph-title-block .graph-title .graph-det p, 
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn, 
    .portfolio-sec .lg-graph .graph-table-block .graph-table tr td, .portfolio-sec .portfolio-card .title-wrapper .title-block h2, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .c-label, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .c-rate, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-tab-row .tab-label, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-tab-row .tab-val, 
    .portfolio-sec .portfolio-card .card-table th, .portfolio-sec .portfolio-card .card-table td, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .props-value .d-rate, 
    .table-pagination-cover .pagination-block .pagination .page-item .page-link-dots, .table-pagination-cover .entries-block, 
    .claim-reward-modal .claim-reward-modal-body .modal-title h4, .claim-reward-modal .claim-reward-modal-body .claim-count-block p, 
    .claim-reward-modal .claim-reward-modal-body .claim-count-block h4, .success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt, 
    .title-search-box .input-group .form-control, .filter-dropdown-group .filter-dropdown-btn, .card-sec .h-card-block p, 
    .header-wrapper .right-block .buy-pros-block .pros-label, .sec-title-block .download-excel-btn, .filter-dropdown-menu .filter-title h4, 
    .inp-block .form-label, .filter-dropdown-menu .filter-form-content .custom-inp, 
    .header-wrapper .right-block .my-acc-dropdown .dropdown-menu .dropdown-item, .conect-wallet .wallet-title, .conect-wallet p, 
    .login-wrapper .login-left-block .bottom-content .checkbox-container, .change-pass-modal .modal-dialog .modal-header .heading-top .modal-title, 
    .change-pass-modal .modal-dialog .modal-header .heading-top , .change-pass-modal .modal-dialog .modal-body .form-group .input-group label, 
    .change-pass-modal .modal-dialog .modal-body .form-group .input-group .form-control, 
    .change-pass-modal .modal-dialog .modal-header .heading-top h5, .fgt-modal .modal-dialog .modal-body .form-group .input-group .form-control, 
    .fgt-modal .modal-dialog .modal-body .form-group .btn-otr .back-login-btn, .header-wrapper .right-block .notify-dropdown .dropdown-menu .notify-title, 
    .header-wrapper .right-block .buy-pros-dropdown .buy-pros-btn, .header-wrapper .right-block .buy-pros-dropdown .dropdown-menu .dropdown-item, 
    .card-section-outer .top-block .progress-bar-section .progress-count, .nav-block .nav-footer-block .welcome-msg, 
    .welcome-cover .content-block .text-block h4, .portfolio-sec .portfolio-card-sm .label-block, .portfolio-sec .portfolio-card-sm .num-block, 
    .header-wrapper .header-title-block .dropdown-menu .dropdown-item, .terms-sec .terms-title h2, .terms-sec .terms-body-sec h3, 
    .terms-sec .terms-body-sec p
    {
        color: $primary-light !important;
    }

    // full border color 2
    .header-wrapper .header-title-block .live-active, .header-wrapper .right-block .buy-btn, 
    .header-wrapper .wallet-btn, .success-modal .modal-body .stake-detail, .title-search-box .input-group, 
    .sec-title-block .download-excel-btn, .portfolio-sec .portfolio-card-sm{
        border-color: $dark-border-2;
    }
    // full border
    .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, .portfolio-sec .portfolio-card, 
    .header-wrapper .right-block .notify-dropdown .notify-btn, .header-wrapper .right-block .buy-pros-block .buy-pros-btn, 
    .header-wrapper .right-block .buy-pros-dropdown .buy-pros-btn{
        border: solid 1px $dark-border-2;
    }

    // Blue block
    .card-sec .h-card-block .join-btn{
        background-color: $primary-blue;
    }
    // img white

    .header-wrapper .login-btn img, .portfolio-sec .portfolio-card .title-wrapper .title-block .title-icon img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-icon img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .props-value .icon-img, 
    .custom-modal .btn-close img, .fgt-modal .modal-dialog .modal-header .close-modal img
    {
        filter: grayscale(1) invert(1) brightness(2);
    }

    // img white
    .claim-reward-modal .claim-reward-modal-body .modal-title h4 .title-icon img, 
    .header-wrapper .right-block .buy-pros-block .buy-pros-btn img, .sec-title-block .download-excel-btn img, 
    .change-pass-modal .modal-dialog .modal-body .form-group .input-group .fgt-view-icon img, 
    .change-pass-modal .modal-dialog .modal-body .form-group .input-group img, .change-pass-modal .modal-dialog .modal-header .close-modal img, 
    .login-wrapper .login-left-block .form-group .input-group .icon-pass img, .login-wrapper .login-left-block .form-group .input-group img, 
    .fgt-modal .modal-dialog .modal-body .form-group .input-group .fgt-mail-icon, 
    .fgt-modal .modal-dialog .modal-body .form-group .btn-otr .back-login-btn img, 
    .header-wrapper .right-block .buy-pros-dropdown .buy-pros-btn .cart-mob, .header-wrapper .theme-toggle-btn-block .theme-toggle-btn img{
        filter: grayscale(1) brightness(4);
    }
    
    .react-loading-skeleton {
        --base-color: #262525 !important;
        --highlight-color: #262525 !important;
        background-color: #212020 !important;
    }
    .portfolio-sec .copy-btn
    {
        background: rgba(89, 89, 93, 0.55) !important;
        img
        {
            filter: grayscale(1) brightness(2);
        }
    }
    .nav-block{
        border-right: solid 1px $dark-border;
        border-top: solid 1px $dark-border;
    }
    .header-wrapper{
        border-bottom: solid 1px $dark-border;
    }
    .header-wrapper .right-block .my-acc-dropdown .my-acc-btn img{
        
        border-radius: 50%;
    }
    button.login-btn {
        border: 1px solid #4E4E4E !important;
    }
    .property-listing-cover{
        .filter-wrapper{
            border-radius: 0;
            border-bottom: solid 1px $dark-border;
        }
    }
    .filter-wrapper .filter-nav-btn{
        border: none;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            bottom: -14px;
            height: 3px;
            border-radius: 1.5px;
            background-color: $primary-blue;
            transition: .3s;
        }
        &.active, &:hover{
            &::after{
                width: 100%;
            }
        }
    }
    .card-sec .h-card-block {
        border: solid 1px $dark-border;
        .join-btn{
            border: solid 1px $primary-blue;
            &:hover{
                background-color: $primary-light;
                color: $primary-blue !important;
            }
        }
    }

    .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link{
        &::after{
            background-color: #0C121F;
        }
        &.active{
            color: $primary-blue;
            img{
                filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(7453%) hue-rotate(221deg) brightness(105%) contrast(101%);
            }
        }
    }
    // Portfolio
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover, 
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn{
        background-color: $dark-block;
    }
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn{
        &:hover, &.active{
            background-color: $dark-block-2;
        }
    }
    .portfolio-sec .lg-graph .graph-table-block .graph-table tr td{
        border: none;
        border-bottom: solid 1px #191919;
        background-color:$dark-black;
    }
    .portfolio-sec .lg-graph{
        border: solid 1px $dark-border-2;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-icon{
        background-color: $dark-block-2;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover{
        border-color: #2B2B2B;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title{
        background-color: #202020;
    }
    .portfolio-sec .portfolio-card .card-table th{
        background-color: $table-th;
    }
    .portfolio-sec .portfolio-card .card-table td{
        border: none !important;
        border-bottom: solid 1px #191919 !important;
        background-color:$dark-black;
    }
   
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td{
        border-bottom: none !important;
        &:last-child, &:first-child{
            border-radius: 0;
        }
    }
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td:first-child::after, 
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td:last-child::after{
        display: none;
    }
    // login dark
    .login-left-block
    {
        background: $dark-black;
        .logo-section-block
        {
            img.logo-img {
                display: none;
            }
            img.logo-img.d-none {
                display: block !important;
            }
            .welcome-text,.welcome-text h4,.form-group .input-group label,.bottom-content .checkbox-container
            {
                color:$primary-light;
    
            }
        }
        .form-group .input-group label
        {
            color:$primary-light;
        }
        .form-group .input-group .form-control
        {
                color:$primary-light !important;
                -webkit-text-fill-color:$primary-light!important;
                border: 1px solid $primary-light;
         }    
    }
    //fgt modal
    .fgt-modal
    {
        .modal-content {
            background:$dark-black;
        }
        .modal-dialog .modal-header
        {
            .heading-top h5,.heading-top .modal-title
            {
                color: $primary-light;
            }
            .input-group .form-control
            {
                border: 1px solid $primary-light;
            }
            
        }
        .modal-dialog .modal-body .form-group .input-group label
        {
            color: $primary-light;
        }
        .modal-dialog  .modal-body .form-group .input-group .form-control
        {
            border: 1px solid $primary-light;
        }
    }
    .success-modal .modal-dialog.modal-dialog-centered .modal-content {
        background:$dark-black;
    }
    // .success-modal .modal-body .modal-title h5, .success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt
    // {
    //     color: #9EB3CD;
    // }
    .success-modal .modal-body .modal-title h2,.success-modal .modal-body .stake-detail .stake-amt .stake-rupees
    {
        color:$primary-light;
    }
    .staking-dashboard-outer .welcome-stake-outer,.staking-dashboard-outer .total-value-outer
    {
       background-color:$dark-black;
       border:1px solid $dark-border 
    }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .props-badge .props-name
    {
        background:$bg-dark-blue;
    }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt h3,
    .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .txt-sec,
    .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-txt,
    .staking-dashboard-outer .total-value-outer .tot-detl-outer .total-inner .label-num,
    .card-section-outer .top-block .heading-txt .desc-content p.txt-content,
    .card-section-outer .top-block .timer-section label,
    .card-section-outer .top-block .timer-section ul li .label-count,
    .card-section-outer .top-block .list-order-outer .list-order .label-content,
    .staking-dashboard-outer .total-value-outer .stake-tot-locked .text-percent-count,
    .stake-modal .modal-body .crate-stake-modal-body .modal-title h2,
    .stake-modal .modal-body .pool-cap-txt .pool-label,
    .stake-modal .modal-body .pool-cap-txt .pool-cont,
    .stake-modal .modal-body .progress-bar-section .progress-count,
    .stake-modal .modal-body .btn-default,
    .stake-modal .modal-body .rwd-inner .detail-outer span,
    .stake-modal .modal-body .rwd-inner .detail-outer .cnt,
    .stake-modal .modal-body .rwd-inner.rwd-col-inner .detail-outer .props-col,
    .sec-title-block .sec-title
    {
        color:$primary-light;
    }
    .staking-dashboard-outer .welcome-stake-outer .detail-sec-stake .welcome-txt p
    {
        color:$light-grey-txt;
    }
    .staking-dashboard-outer .total-value-outer .stake-tot-locked
    {
        border-bottom: 1px solid $dark-border;
    }
    .card-section-outer .top-block .timer-section ul li
    {
        background: #2B2C2E;
    }
    .card-section-outer .top-block .timer-section ul li .num-txt
    {
        background: #151618;
        color: #A3A3A3;
    }
    .card-section-outer .top-block .btn-default
    {
        background: transparent;
        color:$primary-light;
        border: 1px solid #B4BFCD;
    }
    .card-section-outer .bottom-block::before
    {
        background-color: #353535;
    }
    .card-section-outer .bottom-block .btn-outr .btn-unstake {
        background: transparent;
        color:$primary-light;
    }
    button.login-btn.header-btn-web
    {
        border: 1px solid #4E4E4E;
    }
    .staking-dashboard-outer .total-value-outer .stake-tot-locked h3 .img-sec img
    {
        filter: grayscale(1) brightness(3);
    }
    .card-section-outer .top-block .icon-head-top .img-icon.d-none
    {
        display:block !important;
    }
    .card-section-outer .top-block .icon-head-top .img-icon-white
    {
        display:none !important;
    }
    .table-no-data p
    {
        color:$primary-light;
    }
    .stake-modal
    {
       .modal-content
        {
            border: 1px solid #272727;
            background:$dark-black;
        }
        .modal-body .btn-default
        {
            background: transparent;
        }
        .modal-body .btn-default
        {
            border: 1px solid #B2B2B2;
        }
        .modal-body .lock-period
        {
            color: #B2B2B2;
        }
        .modal-body .policy-stake {
            border: 1px solid #2B2B2B;
            background: #0F0F0F;
        }
        .modal-body .policy-stake .head-policy,.modal-body .policy-stake .policy-text
        {
            color: #B2B2B2;
        }
        .modal-body .input-group .form-control
        {
            background: transparent;
            border: 1px solid #3F3F3F;
        }
        .modal-body .input-group .badges .num-badge
        {
            border: 1px solid #B2B2B2;
            color:$primary-light;
            background-color: $dark-bg;
            &.max-active{
                background: $primary-blue;
            }
        }
        .modal-body .input-group .badges .max-active
        {
            border: 1px solid #2966FF;
        }
        .modal-body .crate-stake-modal-body .modal-title img
        {
            background: transparent;
            filter: grayscale(1) brightness(3);
        }
        .modal-body .policy-stake .head-policy img
        {
            filter: grayscale(1) brightness(3);
        }
        .modal-body .rwd-inner .detail-outer img
        {
            filter: grayscale(1) brightness(4);
        }
        .modal-body .input-group .form-control
        {
            color: #fff;
        }
        .modal-body .input-group{
            @include placeholder{
                color: #B2B2B2;
            }
        }
    }
    .stake-modal .modal-body .withdraw-btn {
        background: #EE8728;
    }
    .table-no-data .img-block .no-data-img.d-none
    {
        display:block !important;
    }
    .table-no-data .img-block .no-data-img
    {
        display:none !important;
    }
    .custom-modal.crate-stake-modal .inp-block-modal .custom-inp
    {
        border: 1px solid $dark-border;
        background: transparent;
        color:$primary-light;
    }
    .custom-modal.crate-stake-modal .inp-block-modal .form-label {
        color: #9EB3CD;
    }
    .crate-stake-modal .img-box-cover .img-name-block .img-name,
    .custom-modal.crate-stake-modal .modal-title h2
    {
        color:$primary-light;
    }
    .custom-modal.crate-stake-modal .btn-cover-modal .btn-border {
        color: #ffffff !important;
        border-color: #9EB3CD !important;
        background: transparent;
    }
    .custom-modal.crate-stake-modal .modal-info-cover .modal-info-block {
        background-color: #251E0D;
        color: #FBCB5E;
    }
    .crate-stake-modal .img-box-cover .img-select-btn
    {
        background-color: #242734;
        color:$primary-light;
    }
    .delete-confirm .btn-otr .btn-cancel
    {
        color: $primary-light;
        border: 1px solid #eae0e0;
        background: transparent;
    }
    .claim-reward-modal .claim-reward-modal-body .claim-det-cover .claim-det-row .claim-det-label,
    .claim-reward-modal .claim-reward-modal-body .claim-det-cover .claim-det-row .claim-det-count,
    .claim-reward-modal .claim-reward-modal-body .connected-wallet-block .wallet-label
    {
        color:$primary-light;
    }
    .claim-reward-modal .claim-reward-modal-body .modal-title h4 .title-icon
    {
        background-color: #242734;
    }
    .claim-reward-modal .claim-reward-modal-body .claim-det-cover .claim-det-row .claim-det-label img,
    .claim-reward-modal .claim-reward-modal-body .connected-wallet-block .wallet-label img
    {
        filter: grayscale(1) brightness(2);
    }
    .custom-modal.claim-reward-modal .modal-info-cover .modal-info-block {
        background-color: #251E0D;
        color: #FBCB5E;
    }
    .custom-modal .modal-info-cover .modal-info-block img
    {
        filter: grayscale(0) brightness(2);
    }
    .claim-reward-modal .claim-reward-modal-body .connected-wallet-block .wallet-addrs
    {
        border: 1px solid #3E3E3E;
        background: #1A1A1B;
        color: #E2E2E2;
    }
    .claim-reward-modal.aptos-modal .aptos-text-block
    {
        color: #9EB3CD;
    }
    .claim-reward-modal.aptos-modal .claim-reward-modal-body .modal-title h4 .title-icon img
    {
        filter: grayscale(0) brightness(6);
    }
    .custom-modal .modal-title h2
    {
        color:$primary-light;
    }
    .choose-avatar-modal .choose-avatar-modal-body .modal-title p
    {
        color: #809EC3;
    }
    .choose-avatar-modal .choose-avatar-modal-body .avatar-block-row .avatar-card .avatar-select-btn
    {
        border: 1px solid $dark-border;
    background:$dark-black;
    }
    .choose-avatar-modal .choose-avatar-modal-body .avatar-block-row .avatar-card .avatar-select-btn.active
    {
        background-color: #242B3A;
        border-color: #2966FF;
    }
    .choose-avatar-modal .choose-avatar-modal-body .avatar-block-row .avatar-card .avatar-select-btn.active .select-toggle
    {
        background-color: #2966FF !important;
        border-color: #2966FF !important;
    }
    .choose-avatar-modal .choose-avatar-modal-body .avatar-block-row .avatar-card .avatar-select-btn.active .select-toggle
    {
        box-shadow: inset 0 0 0px 3px #000;
    }
    .choose-avatar-modal .choose-avatar-modal-body .avatar-block-row .avatar-card .avatar-select-btn .select-toggle
    {
        border: solid 1px $dark-border;
        background-color: #242734;
    }

    // CreATE STAKEABLE
    .title-search-box .input-group{
        @include placeholder{
            color: $primary-light;
        }
    }
    .title-search-box .input-group img, .filter-dropdown-group .filter-dropdown-btn img{
        filter: grayscale(1) brightness(4);
    }
    .filter-dropdown-group .filter-dropdown-btn{
        border-color: $dark-border-2 !important;
    }
    .filter-dropdown-group .filter-dropdown-btn
    {
        background-color: $dark-bg !important;
    }


    // Table common
    .table-cover .custom-table thead th{
        background-color: $table-th;
        color: $primary-light;
        border-color: $table-bodrer !important;
    }
    .table-cover .custom-table .th-sort img{
        filter: grayscale(1) brightness(4);
    }
    .table-cover .custom-table tbody td{
        background-color: $dark-bg;
        color: $primary-light;
        border-color: $table-bodrer;
    }
    .table-cover .custom-table .text-dark{
        color: $primary-light !important;
    }
    .table-sec{
        border-color: #3E3E3E;
        background-color: $dark-bg;
    }
    .table-cover .custom-table .td-action-btn{
        border-color: $dark-bg;
        background-color: $dark-bg;
        .icon-light{
            display: none;
        }
        .icon-dark{
            display: block;
        }
    }
    .table-cover .custom-table .td-action-btn .edit-icon{
        filter: grayscale(1) invert(1) brightness(2);
        border-color: $primary-light;
        &:hover{
            border-color: $dark-bg;
        }
    }
    .table-cover .custom-table .tr-completed{
        td{
            background-color: #031A0B;
        }
    }
    .table-pagination-cover{
        background-color: $dark-bg;
    }
    .portfolio-sec .portfolio-card .table-pagination-cover, .table-pagination-cover{
        border-color: #3E3E3E;
    }
    .table-pagination-cover{
        .select-block{
            color: $primary-light;
            .pagination-select{
                border-color: #3e3e3e;
                background-color: $dark-bg;
                color: $primary-light;
            }
        }
        .pagination .page-item .page-link{
           background-color: $dark-bg !important;
           border-color: #3E3E3E !important;
           color: $primary-light !important;
           img{
            filter: grayscale(1) brightness(4);
           }
           &:hover, &.active{
            background-color: #2966FF !important;
            color: $primary-light !important;
            border-color: #608EFF !important;
            img{
                filter: none;
            }
           }
        }
    } 
    .header-wrapper .right-block .notify-dropdown .notify-btn .notify-icon img{
        filter: grayscale(1) brightness(4);        
    }
    .portfolio-sec .portfolio-card .tokenomics-graph-block{
        .img-light{
            display: none;
        }
        .img-dark{
            display: block;
        }
    }

    .sec-title-block .create-btn{
        border: solid 1px $dark-border-2;
    }
    .card-section-outer .filter-wrapper{
        border-radius: 0;
        border-bottom: solid 1px $dark-border;        
    }
    .table-cover{
        .copy-btn{
            background-color: #2d2d2d;
            img{
                filter: grayscale(1) brightness(4);
            }
        }
    }

    // Filter Dropdown
    .filter-dropdown-group .filter-dropdown-menu{
        border: solid 1px $dark-border;
    }
    .filter-dropdown-menu .filter-form-content .custom-inp, .filter-dropdown-menu .filter-title, 
    .filter-dropdown-menu .filter-form-content .btn-block{
        border-color: $dark-border;
    }
    .filter-dropdown-menu .filter-form-content .btn-block .btn.btn-reset{
        border: 1px solid #9EB3CD;
        background: $dark-bg;
        color: $primary-light;
    }
    .inp-block .custom-selectbox {
        background-image: url(../img/select-arrw-light.svg);
    }
    .header-wrapper .right-block .my-acc-dropdown .dropdown-menu, .header-wrapper .header-title-block .dropdown-menu{
        border: solid 1px $dark-border;
    }
    .header-wrapper .right-block .my-acc-dropdown .dropdown-menu .dropdown-item, 
    .header-wrapper .header-title-block .dropdown-menu .dropdown-item{
        &:hover{
            background-color: #131313;
        }
    }
    

    // Calendar
    .ant-picker .ant-picker-input >input, .ant-picker .ant-picker-separator
    {
        color: $primary-light;
    }
    .ant-picker-suffix .anticon svg{
        color: $primary-light;
    }
    .ant-picker-dropdown .ant-picker-panel-container{
        background-color: $dark-bg;
        border: solid 1px $dark-border;
    }
    .ant-picker-dropdown .ant-picker-header-view button{
        color: $primary-light;
    }
    .ant-picker-dropdown .ant-picker-content th, .ant-picker-dropdown .ant-picker-content td{
        color: $primary-light;
    }
    .ant-picker-dropdown .ant-picker-range-arrow::before{
        background: $dark-bg;
    }
    .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before{
        background: #131313;
    }
    .ant-picker-dropdown .ant-picker-header{
        border-bottom-color: $dark-border;
    }
    .custom-modal .modal-content, .change-pass-modal .modal-dialog .modal-content{
        border: solid 1px $table-bodrer;
    }
    .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range::before{
        background: #2A384A;
    }
   .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before, 
   .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
        background:  #2A384A;
    }
   .ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-in-range:hover .ant-picker-cell-inner::after {
       background: $light-dark;
    }
    .anticon.anticon-close-circle{
        background: $dark-bg;
        svg{
            fill: $primary-light;
        }
    }
   .ant-picker .ant-picker-input  {
        @include placeholder{
            color: $primary-light !important;
        }
    }

    // Select
    .filter-dropdown-menu .react-custom-select .css-13cymwt-control, 
    .filter-dropdown-menu .react-custom-select .css-t3ipsp-control{
        background: $dark-bg;
        border-color: $dark-border !important;
    }
    .filter-dropdown-menu .react-custom-select .css-1jqq78o-placeholder{
        color: $primary-light;
    }
    .react-custom-select .css-1xc3v61-indicatorContainer{
        svg{
            fill: $primary-light;
        }
    }
    .react-custom-select {
        .css-19bb58m, .css-1dimb5e-singleValue{
            color: $primary-light;
        }
        .css-1jj59y3-MenuList2{
            background: $nav-dark !important;
        }
        .css-1nmdiq5-menu{
            background: $nav-dark !important;
        }
        .css-d7l1ni-option{
            background-color: $bg-dark-blue;
        }
    }
    .conect-wallet .walles-otr .wallet-btn{
        border-color: $dark-border;
        color: #B2B2B2;
        background-color: $dark-bg !important;
        &.active{
            color: $primary-light;
            border-color: $primary-light;
            background-color: $dark-bg !important;
        }
        &:hover{
            border-color: $primary-light;
        }
    }
    .login-wrapper .login-left-block .bottom-content .checkbox-container input:checked ~ .checkmark{
        background-color: $dark-bg;
        border: solid 1px $bg-color-check;
    }
    .change-pass-modal .modal-dialog .modal-body .form-group .input-group .form-control{
        color: #fff !important;
        -webkit-text-fill-color: #fff !important;
        border: 1px solid #fff;
    }
    .header-wrapper .right-block .notify-dropdown .dropdown-menu{
        border: 1px solid $dark-border;
        .notify-title .count{
            color: $primary-light;
            background-color: $primary-blue;
        }
        .dropdown-item{
            border-color: $dark-border;
            background-color: $dark-bg;
            &.unread{
                background-color: #121622;
            }
            .icon{
                background-color: #1B2439 !important;
            }
            .det {
                p, .time{
                    color: $primary-light;
                }
                
            }
        }
    }
    .header-wrapper .right-block .buy-pros-dropdown .dropdown-menu{
        border: solid 1px $dark-border;
        .dropdown-item:hover{
            background-color: #131313;
        }
    }
    .logout-modal .btn-block .btn-black.btn-border{
        border-color: #FFF !important;
        background-color: $dark-bg;
        color: #fff;
    }
    .custom-modal .success-btn-block .btn-border{
        border-color: #FFF !important;
        background-color: $dark-bg;
        color: #fff;
        img{
            filter: grayscale(1) brightness(4);
        }
    }
    .ant-picker-dropdown .ant-picker-time-panel-column>li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
        color: white !important;
    }
    .ant-picker-dropdown .ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
        background-color: $primary-blue !important;

    }
    .ant-picker-dropdown .ant-picker-cell-disabled{
        opacity: 0.3;
    }
    .ant-btn-primary:disabled{
        opacity: 0.5;
    }
    .ant-btn-primary:disabled, .ant-btn{
        color: $primary-light;
    }
    .ant-picker-dropdown .ant-picker-time-panel-column>li.ant-picker-time-panel-cell-disabled .ant-picker-time-panel-cell-inner {
        opacity: 0.3;
    }
    .portfolio-sec .portfolio-card .card-table .txt-blue{
        color: #5B8AFF !important;
    }
    .progress-bar-block .progress {
        background-color: #383A3D !important;
    }
    .portfolio-sec .lg-graph .graph-title-block .graph-title .g-logo img{
        filter: brightness(0);
    }
    .card-section-outer .top-block .timer-section ul .dot-seprator{
        color: $primary-light;
    }
    .card-section-outer .bottom-block .btn-outr {
        .btn-stake, .btn-unstake{
            &.not-allowed{
                opacity: .6;
            }
        }
    }
    .body-wrapper .nav-block .nav-logo-wrapper{
        border-color: $dark-border;
    }
    .nav-block .nav-logo-wrapper .nav-toggle-btn{
        border: solid 1px $dark-border;
    }
    .nav-block .nav-logo-wrapper .nav-toggle-btn{
        background-color: $dark-bg;
    }
    .portfolio-sec .lg-graph .graph-title-block .graph-title .g-logo .g-logo-block{
        background-color: $primary-light;
    }
    .filter-wrapper .filter-nav-btn.active{
        color: $primary-blue !important;
    }
    .welcome-cover .content-block .img-block {
        .wlcm-dark{
            display: block;
        }
        .wlcm-white{
            display: none;
        }
    }
    .nav-block .nav-logo-wrapper .nav-toggle-btn .nav-line{
        background-color: $primary-light;
    }
    .nav-block .nav-logo-wrapper .nav-logo img, .nav-block .nav-footer-block .nav-footer-logo a img, 
    .nav-block .nav-footer-block .nav-soc-block .nav-soc img, .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link img{
        filter: none;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:focus{
        -webkit-text-fill-color: #fff;
        -webkit-background-clip: text;
        box-shadow: inset 0 0 20px 20px #000 !important;
    }
    .custom-modal.crate-stake-modal .inp-block-modal .custom-inp:-webkit-autofill{
        -webkit-text-fill-color: #fff;
    }
    .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link .nav-label{
        color: $primary-light;
    }
    .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link.active .nav-label {
        color: $primary-blue;
    }
    .welcome-cover .content-block .text-block p{
        color: #9e9e9e;
    }
    .header-wrapper .right-block:before{
        background-color: #484848;
    }
    .header-wrapper .right-block .my-acc-dropdown .my-acc-btn {
        img{
            filter: grayscale(1) brightness(4);
        }
        .acc-icon{
            background: #282829;
            // border-color: #4E4E4E;
        }
    }
    input, textarea{
        caret-color: $primary-light;
    }
    .staking-app-badge{
        background-color: #353113;
        border-color: #60591C;
        color: #FFEE57;
    }
    .staking-app-badge .badge-close img{
        filter: brightness(0) saturate(100%) invert(78%) sepia(83%) saturate(340%) hue-rotate(354deg) brightness(106%) contrast(101%);
    }
    .portfolio-sec .portfolio-card-sm .label-block .icon{
        background-color: #202020;
        img{
            filter: none;
        }
    }
    .welcome-cover{
        border-color: $dark-border;
    }
    .custom-modal .banner-img-block .inp-banner-box .banner-img-inp-label {
        background-color: #111217;
        .def-img{
            filter: none;
        }
    }
    .custom-modal .inp-block-modal .custom-inp-disable{
        background-color: #242734 !important;
    }
    .header-wrapper .wallet-btn-cover .wallet-btn-copy{
        background-color: #282829;
        img{
            filter: grayscale(1) brightness(4);
        }
    }
    .nav-block .navbar-collapse-block .mob-nav-btn-block .wallet-btn{
        border-color: $dark-border-2;
        color: $primary-light;
    }
    .nav-block .navbar-collapse-block .mob-nav-btn-block .wallet-btn-cover .wallet-btn-copy{
        background-color: #282829;
        img{
            filter: grayscale(1) brightness(4);
        }
    }
    .custom-scroll {
        &::-webkit-scrollbar-track {
          background: #232E33;
        }
      
        &::-webkit-scrollbar-thumb {
          background: #2966ff;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #608EFF;
        }
    }
    .terms-sec .terms-title{
        border-color: #373737;
    }
    .body-wrapper .nav-block .nav-logo-wrapper{
        @media (max-width: 991px) {
            background-color: #000;
        }
    }
    .stake-modal .modal-body .stake-min-row .stake-min-block{
        color: #B2B2B2;
    }
    .fgt-modal .modal-dialog .modal-body .form-group .input-group{
        @include placeholder{
            color: $primary-light;
        }
    }
}