@import "partials/partials";

$dark-bg: #000;
$dark-border: #484848;
$dark-border-2:#4E4E4E;
$dark-border-3: #696969;
$dark-border-4: #2B2B2B;
$dark-block: #151618;
$dark-block-2: #2B2C2E;
.theme-dark{
    color: $primary-light;
    background-color: $dark-bg;
    // bg dark
    .nav-block .navbar-collapse-block, .nav-block, .body-wrapper .content-block-outer, 
    .header-wrapper, .header-wrapper .header-title-block .live-active, .header-wrapper .right-block .buy-btn, 
    .header-wrapper .wallet-btn, .header-wrapper .login-btn, .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, 
    .filter-wrapper, .filter-wrapper .filter-nav-btn, .card-sec .h-card-block, .welcome-cover, .portfolio-sec .lg-graph, 
    .portfolio-sec .portfolio-card
    {
        background-color: $dark-bg;
    }
    // text light
    .header-wrapper .info-block, .header-wrapper .header-title-block .live-active, .header-wrapper .wallet-btn, 
    .header-wrapper .login-btn, .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, 
    .filter-wrapper .filter-nav-btn, .card-sec .h-card-block, .card-sec .h-card-block .join-btn, .welcome-cover, 
    .portfolio-sec .lg-graph .graph-title-block .graph-title .graph-det p, 
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn, 
    .portfolio-sec .lg-graph .graph-table-block .graph-table tr td, .portfolio-sec .portfolio-card .title-wrapper .title-block h2, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .c-label, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-det .c-rate, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-tab-row .tab-label, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-tab-row .tab-val, 
    .portfolio-sec .portfolio-card .card-table th, .portfolio-sec .portfolio-card .card-table td

    {
        color: $primary-light;
    }

    // full border color 2
    .header-wrapper .header-title-block .live-active, .header-wrapper .right-block .buy-btn, 
    .header-wrapper .wallet-btn{
        border-color: $dark-border-2;
    }
    // full border
    .header-wrapper .right-block .my-acc-dropdown .my-acc-btn, .portfolio-sec .portfolio-card{
        border: solid 1px $dark-border-2;
    }

    // Blue block
    .header-wrapper .wallet-btn, .card-sec .h-card-block .join-btn{
        background-color: $primary-blue;
    }
    // text blue
    .portfolio-sec .lg-graph .graph-title-block .graph-title .graph-det .g-rate span{
        color: $primary-blue;
    }

    // img white

    .header-wrapper .login-btn img, .portfolio-sec .portfolio-card .title-wrapper .title-block .title-icon img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-icon img, 
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title img{
        filter: grayscale(1) invert(1) brightness(2);
    }


    .nav-block{
        border-right: solid 1px $dark-border;
        border-top: solid 1px $dark-border;
    }
    .header-wrapper{
        border-bottom: solid 1px $dark-border;
    }
    .header-wrapper .right-block .my-acc-dropdown .my-acc-btn img{
        border: solid 1px $dark-border-2;
        border-radius: 50%;
    }
    .property-listing-cover{
        margin-bottom: 20px;
        .filter-wrapper{
            margin-bottom: 0;
            border-bottom: solid 1px $dark-border;
        }
    }
    .filter-wrapper .filter-nav-btn{
        border: none;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            width: 0;
            bottom: -15px;
            height: 3px;
            border-radius: 1.5px;
            background-color: $primary-blue;
            transition: .3s;
        }
        &.active, &:hover{
            &::after{
                width: 100%;
            }
        }
    }
    .card-sec .h-card-block {
        border: solid 1px $dark-border;
        .join-btn{
            border: solid 1px $primary-blue;
            &:hover{
                background-color: $primary-light;
                color: $primary-blue;
            }
        }
    }

    .nav-block .navbar-collapse-block .navbar-ul .nav-item .nav-link{
        &::after{
            background-color: #0C121F;
        }
        &.active{
            color: $primary-blue;
            img{
                filter: brightness(0) saturate(100%) invert(51%) sepia(78%) saturate(7453%) hue-rotate(221deg) brightness(105%) contrast(101%);
            }
        }
    }
    // Portfolio
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover, 
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn{
        background-color: $dark-block;
    }
    .portfolio-sec .lg-graph .graph-title-block .g-filter-block .filter-btn-cover .filter-btn{
        &:hover, &.active{
            background-color: $dark-block-2;
        }
    }
    .portfolio-sec .lg-graph .graph-table-block .graph-table tr td{
        border: none;
        border-bottom: solid 1px #191919;
    }
    .portfolio-sec .lg-graph{
        border: solid 1px $dark-border-2;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover .coin-det-row .c-icon{
        background-color: $dark-block-2;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .coin-det-cover{
        border-color: $dark-border-3;
    }
    .portfolio-sec .portfolio-card .my-portfolio-content .sm-table-block .locked-title{
        background-color: #202020;
    }
    .portfolio-sec .portfolio-card .card-table th{
        background-color: #1A1A1B;
    }
    .portfolio-sec .portfolio-card .card-table td{
        border: none;
        border-bottom: solid 1px #191919;
    }
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td:first-child::after, 
    .portfolio-sec .portfolio-card .card-table tbody tr:last-child td:last-child::after{
        display: none;
    }
    // login dark
    .login-left-block
    {
        background: $dark-black;
        .logo-section-block
        {
            img.logo-img {
                display: none;
            }
            img.logo-img.d-none {
                display: block !important;
            }
            .welcome-text,.welcome-text h4,.form-group .input-group label,.bottom-content .checkbox-container
            {
                color:$primary-light;
    
            }
        }
        .form-group .input-group label
        {
            color:$primary-light;
        }
        .form-group .input-group .form-control
        {
                color:$primary-light !important;
                -webkit-text-fill-color:$primary-light!important;
                border: 1px solid $primary-light;
         }    
    }
    //fgt modal
    .fgt-modal
    {
        .modal-content {
            background: #000;
        }
        .modal-dialog .modal-header
        {
            .heading-top h5,.heading-top .modal-title
            {
                color: #ffffff;
            }
            .input-group .form-control
            {
                border: 1px solid #ffffff;
            }
            
        }
        .modal-dialog .modal-body .form-group .input-group label
        {
            color: #ffffff;
        }
        .modal-dialog  .modal-body .form-group .input-group .form-control
        {
            border: 1px solid #ffffff;
        }
    }
    .success-modal .modal-dialog.modal-dialog-centered .modal-content {
        background: #000;
    }
    .success-modal .modal-body .modal-title h5,.success-modal .modal-body .stake-detail .stake-amt .stake-amt-txt
    {
        color: #9EB3CD;
    }
    .success-modal .modal-body .modal-title h2,.success-modal .modal-body .stake-detail .stake-amt .stake-rupees
    {
        color:#fff;
    }
}
