@import "partials/partials";

.liq-pool-body-outer{
    .liq-tab-wrapper{
        border-radius: 0;
        border-bottom: solid 1px #484848;
        background-color: #fff;
    }

    .liq-pool-title-wrapper{
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        .title-left-block{
            h4{
                color: $primary-blue;
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            p{
                margin: 0;
                font-size: 14px;
                color: #697081;
            }
        }
        .title-center-block{
            .pool-tab-btn-block{
                border-radius: 16px;
                background-color: #0E0E10;
                padding: 8px;
                .pool-tab-btn{
                    border-radius: 11px;
                    min-width: 190px;
                    text-align: center;
                    padding: 11px;
                    background-color: transparent;
                    color: #9696C5;
                    transition: .3s;
                    font-size: 20px;
                    font-weight: 500;
                    margin: 1px;
                    &.active, &:hover{
                        background-color: $primary-blue;
                        color: #fff;
                    }
                }
            }
        }
        .title-right-block{
            display: flex;
            .primary-btn{
                font-size: 15px;
                padding: 14px;
                min-width: 188px;
                &:last-child{
                    margin-left: 18px;
                }
            }
        }
    }
    .pools-table-sec{
        overflow: visible !important;
        border: none !important;
        .table-cover{
            border: none !important;
            .pools-table-container{
                overflow-y: visible !important;

            }
        }
        .custom-table {
            thead th{
                background: transparent !important;
                padding: 20px 15px;
                border: none !important;
                .th-info{
                    margin-top: -2px;
                }
            }
            .pool-td-block{
                display: flex;
                align-items: center;
                .td-logo-block{
                    display: flex;
                    align-items: center;
                    .logo-icn{
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        padding: 7px;
                        background-color: #26282C;
                        &:nth-child(2){
                            background-color: #181A1C;
                            margin-left: -10px;
                        }
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
                .txt-block{
                    padding-left: 20px;
                    h4{
                        color: #fff;
                        margin-bottom: 0;
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        margin: 0;
                        color: #697081;
                        font-size: 12px;
                    }
                }
            }
            .pool-td-btn-block{
                display: flex;
                .sm-btn{
                    margin-right: 10px;
                }
                .earnings-dropdown{
                    .dropdown-menu{
                        min-width: 210px;
                        background: #1C1C20;
                        border-radius: 15px;
                        padding: 15px;
                        h4{
                            color: #fff;
                            font-size: 12px;
                            margin-bottom: 15px;
                        }
                        .earnings-item{
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            background-color: #222227;
                            padding: 12px 7px;
                            border-radius: 5px;
                            .drp-icon{
                                margin-right: 8px;
                                flex-shrink: 1;
                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                width: 26px;
                                height: 26px;
                                border-radius: 50%;
                                padding: 7px;
                                background-color: #2C2C32;
                                img{
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                            .txt-data{
                                h4{
                                    margin-bottom: 0;
                                    font-size: 12px;
                                    font-weight: 600;
                                    color: #fff;
                                }
                                p{
                                    margin: 0;
                                    color: #96A1BE;
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                            }
                        }
                        .withdraw-fee-btn{
                            width: 100%;
                            font-size: 12px;
                            font-weight: 500;
                        }
                    }
                }
            }
            tbody{
                tr{
                    border-bottom: solid 15px #000;
                }
            }
            td{
                background: #0E0E10 !important;
                padding-top: 25px;
                padding-bottom: 25px;
                border: none !important;
                &:first-child{
                    border-radius: 8px 0 0 15px;
                }
                &:last-child{
                    border-radius: 0 8px 15px 0;
                }
            }
        }
    }
}