@import "partials/partials";
.login-wrapper
{
    display:flex;
    width: 100%;
    .login-left-block
    {
        width: 750px;
        padding: 94px 94px 30px;
        background: #292D32;
        display:flex;
        flex-direction:column;
        @media(max-width:1679px)
        {
            padding: 55px 74px 30px;
        }
        .logo-section-block
        {
            .logo-img
            {
                height: 35px;
                @media(max-width:1679px)
                {
                    height: 28px;
                }
            }
            .welcome-text {
                color: #fff;
                margin-top:30px;
                margin-bottom: 75px;
                font-size: 25px;
                @media(max-width:1679px)
                {
                    margin-top: 25px;
                    margin-bottom: 60px;
                    font-size: 21px;
                }
                span
                {
                    font-weight:700;
                }
            }
        }
        .form-group
        {
            .input-group
            {
                margin-bottom: 25px;
                position: relative;
                label
                {
                    color: #697F9B;
                    font-size: 15px;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                }
                .form-control
                {
                    width: 100%;
                    background: transparent;
                    border: 1px solid #5E6C84;
                    border-radius: 50px !important;
                    height: 60px;
                    margin-top:15px;
                    color: #fff;
                    padding: 7px 44px 7px 56px;
                    @media(max-width:1679px)
                    {
                        height: 50px;
                        margin-top: 15px;
                    }
                }
                .icon-left
                {
                    position: absolute;
                    left: 30px;
                    top:60px;
                    @media(max-width:1679px)
                    {
                        left: 24px;
                        top: 52px;
                    }
                }
                .icon-left-ps
                {
                    position: absolute;
                    left: 30px;
                    top: 58px;
                    @media(max-width:1679px)
                    {
                        left: 24px;
                        top: 49px;
                    }
                }
                img.icon-pass {
                    position: absolute;
                    right: 18px;
                    top: 61px;
                    cursor: pointer;
                    @media(max-width:1679px)
                    {
                        top: 54px;
                    }
                }
                
               
            }
            .login-btn {
                background: #fff;
                width: 100%;
                margin-top: 40px;
                border-radius: 35px;
                height: 60px;
                font-weight: 500;
                font-size: 20px;
                @media(max-width:1679px)
                {
                    margin-top: 30px;
                    height: 55px;
                    font-size: 17px;
                }
            }
            
        }
        .bottom-content
            {
                margin-top:52px;
                display: flex;
                justify-content: space-between;
                @media(max-width:1679px)
                {
                    margin-top: 40px;
                }
                .fgt-link {
                    color: #D3E3F8;
                    font-size: 15px;
                    cursor: pointer;
                    @media(max-width:1679px)
                    {
                        font-size: 14px;
                    }
                }
                /* The container */
                .checkbox-container {
                    display: block;
                    position: relative;
                    padding-left: 35px;
                    margin-bottom: 12px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    color: #D3E3F8;
                    font-size: 15px;
                    @media(max-width:1679px)
                    {
                        font-size: 14px;
                    }
                }
                
                /* Hide the browser's default checkbox */
                .checkbox-container input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
                
                /* Create a custom checkbox */
                .checkbox-container .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 22px;
                    width: 22px;
                    background-color: #eee;
                    border-radius: 4px;
                }
                
                /* On mouse-over, add a grey background color */
                .checkbox-container:hover input ~ .checkmark {
                    background-color: #ccc;
                }
                
                /* When the checkbox is checked, add a blue background */
                .checkbox-container input:checked ~ .checkmark {
                    background-color: #ffffff;
                }
                
                /* Create the checkmark/indicator (hidden when not checked) */
                .checkbox-container  .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
                
                /* Show the checkmark when checked */
                .checkbox-container input:checked ~ .checkmark:after {
                    display: block;
                }
                
                /* Style the checkmark/indicator */
                .checkbox-container .checkmark:after {
                    left: 9px;
                    top: 2px;
                    width: 6px;
                    height: 15px;
                    border: solid #697F9B;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
    }
    .login-right-block
    {
        background-image:url("../img/login-bg.svg");
        flex-grow: 1;
        background-size:cover;
        .login-welcome-txt {
            color: #ffffff;
            padding-left: 150px;
            margin-top: 150px;
            width: 630px;
            font-size: 15px;
            font-weight: 400;
            @media(max-width:1679px)
            {
                padding-left: 100px;
                margin-top: 102px;
                width: 500px;
            }
        }
    }
    .copyright-login {
        color: #5E6C84;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        font-size: 15px;
        @media(max-width:1679px)
        {
            font-size: 14px;
        }
    }
}
.fgt-modal
{
    .modal-dialog {
        max-width:700px !important;

        .modal-content
        {
            padding: 54px;
            border-radius: 25px;
        }
        .modal-header
        {
            border-bottom: 0;
            padding-bottom: 0;
            .close
            {
                position: absolute;
                right: 14px;
                top: 20px;
            }
            .heading-top {
                display: flex;
                .modal-title
                {
                    font-family: Poppins;
                    font-size: 20px;
                    font-weight: 300;
                    margin-bottom: 3px;
                    span
                    {
                        font-weight: 600;
                    }
                }
                h5
                {
                    font-size: 12px;
                    color: #292D32;
                    padding-right: 15px;
                }
                .icon-sec
                {
                    img
                    {
                        height: 150px;
                        margin-top: -42px;
                    }
                }
            }
        }
        .modal-body
        {
            padding-top: 0;
            .form-group
            {
                .input-group
                {
                    flex-direction: column;
                    label
                    {
                        color: #697F9B;
                    }
                    .form-control
                    {
                        width: 100%;
                        background: transparent;
                        border: 1px solid #5E6C84;
                        border-radius: 50px !important;
                        height: 60px;
                        margin-top: 15px;
                        color: #333;
                        padding-left: 53px;
                    }
                    .fgt-mail-icon
                    {
                        position: absolute;
                        top: 63px;
                        left: 22px
                    }
                }
                .btn-otr
                {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 40px;
                  .back-login-btn
                    {
                        background: transparent;
                        color: #697F9B;
                        font-size: 16px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        img
                        {
                            margin-right: 9px;
                        }
                    }
                    .send-btn
                    {
                        background: #292D32;
                        font-size: 16px;
                        color: #fff;
                        height: 52px;
                        padding: 15px 15px;
                        min-width: 155px;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}
.reset-modal
{
    .modal-dialog
    {
        max-width:550px !important;
        .modal-header 
        {
            padding-left: 0;
            .heading-top
            {
                width: 100%;
            }
        }
        .modal-body
        {
            .form-group {
                margin-top: 30px;
            }
            .input-group {
                margin-bottom: 19px;
                .form-control
                {
                    padding-right: 48px;
                }
            }
            .fgt-mail-icon
            {
                top: 59px;
            }
            .fgt-view-icon
            {
                position: absolute;
                right: 21px;
                top: 62px;
            }
            .send-btn
            {
                width: 100%;
            }
        }
    }
}