@import "partials/partials";
.props-price-mob-sec{
    background-color: #000;
    padding: 0 20px;
    .title-row{
        display: flex;
        font-family: $font-primary;
        margin-bottom: 15px;
        justify-content: space-between;
        .data-block{
            padding: 15px;
            min-height: 90px;
            background-color: #0E0E10;
            border-radius: 9px;
            width: calc(50% - 6px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width: 350px) {
                margin-left: 5vw;
            }
            &:first-child{
                margin-left: 0;
            }
            
            p{
                font-family: $font-primary;
                font-size: 14px;
                color: #9FAAC6;
                margin-bottom: 8px;
            }
            h4{
                font-family: $font-primary;
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 600;
                color: #fff;
                &.txt-grn{
                    color: #0DAD4D;
                }
                &.txt-red{
                    color: #FC5252;
                }
            }
        }
    }
    .graph-block{
        width: 100%;
        height: 300px;
    }
    .g-filter-block{
        margin-bottom: 15px;
        .filter-btn-cover{
            border-radius: 4px;
            background: #151618;
            padding: 5px;
            display: flex;
            justify-content: center;
            .filter-btn{
                margin: 1px;
                padding: 5px 15px;
                font-size: 12px;
                font-weight: 500;
                transition: .3s;
                border-radius: 5px;
                color: #fff;
                background: #151618;
                &:hover{
                    background-color: #2B2C2E;
                }
                &.active{
                    background-color: #2B2C2E;
                }
            }
        }
    }
}