@import "partials/partials";
.filter-wrapper
{
    margin-bottom:20px;
    @media(max-width:1679px){
        margin-bottom:15px;
    }
}
.staking-dashboard-outer
{
    display:flex;
    @media(max-width:1199px)
    {
            flex-direction: column;
    }
    .welcome-stake-outer
    {
        background: $primary-light;
        margin-right: 15px;
        padding:50px 50px;
        display: flex;
        align-items: center;
        border-radius:6px;
        @media(max-width:1679px)
        {
            padding:20px 30px;
        }
        @media(max-width:1199px)
        {
            margin-top: 0px;
            margin-right: 0px;
        }
        @media(max-width:575px)
        {
            flex-direction: column;
            padding: 20px 20px;
        }
        .img-sec-stake
        {
            img
            {
                height: 130px;
            }
            @media(max-width:575px)
            {
                order: 2;
            }
        }
        .detail-sec-stake
        {
            padding-left:45px;
            @media(max-width:1150px)
            {
                padding-left:8px;
            }
            @media(max-width:575px)
            {
                padding-left:0px;
            }
            .props-badge
            {
                .props-name
                {
                    background: #A5B6DD;
                    display: inline-flex;
                    align-items: center;
                    padding: 6px 17px;
                    border-radius: 50px;
                    color:  $primary-light;
                    margin-bottom: 13px;
                    font-size: 14px;
                    font-weight:500;
                    img{
                        margin-right: 10px;
                    }
                    @media(max-width:1679px)
                    {
                        font-size: 12px;
                    }
                }
            }
            .welcome-txt
            {
                h3
                {
                    font-size: 20px;
                    margin-top: 10px;
                    font-weight: 600;
                    color: #2E4276;
                    @media(max-width:1679px)
                    {
                        font-size: 16px;
                    }
                    @media(max-width:991px)
                    {
                        font-size: 14px;
                    }
                }
                p
                {
                    color:$text-grey;
                    font-size: 14px;
                    @media(max-width:1679px)
                    {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .total-value-outer
    {
        background: $primary-light;
        padding: 30px 22px;
        border-radius:6px;
        flex: 0 0 28%;
        @media(max-width:1679px)
        {
            flex: 0 0 35%;
            padding:20px 22px;
        }
        @media(max-width:1441px)
        {
            flex: 0 0 40%;
            padding:20px 22px;
        }
        @media(max-width:1199px)
        {
            flex: 0 0 35%;
        // }
        // @media(max-width:1100px)
        // {
            margin-top: 15px;
        }
        .stake-tot-locked
        {
            border-bottom: 1px solid $border-grey;
            padding-bottom: 14px;
            display: flex;
            justify-content: space-between;
            align-items:center;
            @media(max-width:991px)
            {
                padding-bottom: 8px;
            }
            .text-percent-count
            {
                font-weight: 500;
                font-size: 20px;
                color: #2E4276;
                @media(max-width:1679px)
                {
                    font-size:17px;
                }
            }
            h3
            {
                font-size:20px;
                font-weight: 600;
                color: #292D32;
                display: flex;
                align-items: center;
                @media(max-width:1679px)
                {
                    font-size: 17px;
                }
                @media(max-width:1199px)
                {
                    font-size: 15px;
                }
                .txt-sec
                {
                    display: inline-block;
                    margin-left: 6px;
                    margin-top: 3px;
                    font-size: 16px;
                    @media(max-width:1679px)
                    {
                        font-size:14px;
                    }
                }
                .img-sec img
                {
                    height: 30px;
                    margin-right: 6px;    
                    @media(max-width:1679px){
                        height: 26px;
                    }
                }
            }
            h2
            {
                font-weight: 700;
                font-size: 23px;
                @media(max-width:1679px)
                {
                    font-size:19px;
                }
                @media(max-width:1199px)
                {
                    font-size: 17px;
                }
            }
        }
        .tot-detl-outer
        {
            padding-top: 20px;
            @media(max-width:991px)
            {
                padding-top: 0px;
            }
            .total-inner {
                margin-bottom: 25px;
                display: flex;
                justify-content: space-between;
                &:last-child{
                    margin-bottom: 8px;
                }
                @media(max-width:1679px)
                {
                    margin-bottom: 20px;
                }
                @media(max-width:991px)
                {
                    margin-bottom:0px;
                    padding-top: 15px;
                }
                .label-txt
                {
                    padding-right: 10px;
                    color:$text-grey;
                    font-size: 15px;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                }
                .label-num {
                    color:$label-num;
                    font-weight:600;
                    font-size:16px;
                    text-align: right;
                    @media(max-width:1679px)
                    {
                        font-size: 14px;
                    }
                    @media(max-width:1199px)
                    {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}
.filter-wrapper
{
    @media(max-width:475px)
    {
        padding: 13px 10px;
    }
    .filter-nav-btn
    {
        @media(max-width:475px)
        {
            min-width: 45px;
            padding: 7px 12px;
        }
    }
}
.card-section-outer
{
    padding-top: 15px;
    
    .h-card-col
    {
        // padding-right: 15px;
        // padding-left: 0;
        @media(max-width:1350px)
        {
            width: 50%;
        }
        @media(max-width:1199px)
        {
            padding-right: 12px !important;
            padding-left: 4px !important;
        }
        @media(max-width:991px)
        {
            margin-bottom: 15px;
        }
        @media(max-width:700px)
        {
            width: 100%;
        }
        .h-card-block
        {
            border-radius: 6px;
            @media(max-width:1800px)
            {
                padding: 25px 30px;
            }
            @media(max-width:1679px)
            {
                padding: 25px 20px;
            }
            @media(max-width:767px)
            {
                padding: 25px 19px;
            }
            
        }
    }
    .staking-outer
    {
        // display: flex;
        // padding-left: 0;
        // padding-right: 0;
        // flex-wrap: wrap;
        @media(max-width:1350px)
        {
            flex-wrap: wrap;
        }
        
    }
    .top-block
    {
        .icon-head-top
        {
            justify-content: end;
            align-items: center;
            .certik-label{
                padding-left: 9px;
                font-size: 12px;
                font-style: italic;
            }
            .img-icon
            {
                @media(max-width:1679px)
                {
                    height: 22px;
                }
            }
        }
        .banner-img-block{
            aspect-ratio: 1.779;
            width: 100%;
            margin-bottom: 17px;
            @media (max-width: 767px) {
                max-height: 230px;
            }
            img{
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .heading-txt
        {
            padding-top: 15px;
            display:flex;
            margin-bottom: 15px;
            @media (max-width: 1679px) {
                padding-top: 8px;
            }
            .img-txt
            {
                // display:flex;
                // align-items: center;
                flex-shrink: 0;
            }
            @media(max-width:991px)
            {
                margin-bottom:20px;
            }
            img
            {
                max-height: 90px;
                @media(max-width:991px){
                    max-height: 75px;
                }
            }
            .desc-content
            {
                padding-top: 10px;
                h2
                {
                    display: flex;
                    align-items: center;
                    word-break: break-word;
                    text-transform: capitalize;
                }
                p.txt-content
                {
                    margin-top: 5px;
                    padding-left: 12px;
                    // max-height: 40px;
                    overflow: hidden;
                    text-align: left;
                }
            }
            h2
            {
                margin-bottom: 0;
                padding-left: 11px;
                font-size:19px;
                @media(max-width:1679px)
                {
                    font-size: 15px;
                }
            }
        }
        .txt-content
        {
            margin-top: 13px;
            font-size: 13px;
           margin-bottom: 0;
        }
        .timer-section
        {
            font-size: 13px;
            label
            {
                color: #4D6090;
                font-size: 15px;
                 @media(max-width:1679px)
                {
                    font-size: 12px;
                }
            }
            ul
            {
                padding: 0;
                list-style: none;
                display: flex;
                margin-top: 15px;
                .dot-seprator
                {
                    width: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #4D6090;
                    font-size: 31px;
                    margin-right: 8px;
                    margin-left: 8px;
                    margin-top: -10px;
                    @media(max-width:1679px)
                    {
                        font-size: 25px;
                        margin-right: 2px;
                        margin-left: 2px;
                    }
                }
                li
                {
                    background: #E6EEFF;
                    border-radius: 8px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .label-count {
                        color: #4D6090;
                        padding: 10px 0px;
                        font-weight: 400;
                        font-size: 16px;
                        @media(max-width:1679px)
                        {
                            font-size: 13px;

                        }
                    }
                    .num-txt {
                        background: #C8D9FF;
                        width: 100%;
                        text-align: center;
                        padding: 2px 0px 2px;
                        color: #4D6090;
                        font-weight: 400;
                        font-size: 14px;
                        border-radius: 0px 0px 10px 10px;
                        span
                        {
                            border-bottom:2px solid #4D6090;
                        }
                        @media(max-width:1679px)
                        {
                            padding: 2px 0px 1px;
                            font-size: 11px;
                        }
                    }
                }
            }
        }
        ul
        {
            padding-left: 31px;
            li
            {
                font-size: 15px;
                margin-bottom: 10px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
        }
        .pool-cap-txt
        {
            margin-top: 20px;
            display: flex;
            .pool-label
            {
                font-weight: 600;
                font-size: 16px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
            .pool-cont
            {
                font-weight: 600;
                font-size: 20px;
                @media(max-width:1679px)
                {
                    font-size: 16px;
                }
            }
        }
        .progress-bar-section {
            display: flex;
            margin-top: 8px;
            margin-bottom: 12px;
            align-items: center;
            .progress-bar-block{
                flex: 1 1 auto;
                .CircularProgressbar .CircularProgressbar-text{
                    fill: #2e4276;
                }
            }
            .progress-count {
                flex: 0 0 auto;
                color:#0C15F9;
                font-weight: 600;
                font-size: 15px;
                padding-left: 15px;
                @media(max-width:1800px)
                {
                    font-size: 13px;
                }
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
        }
        .btn-outer
        {
            display:flex;
            @media(max-width:450px)
            {
                flex-direction: column;
            }
        }
        .btn-default
        {
            border-radius: 28px;
            border: 1px solid $border-grey-1;
            font-size: 15px;
            font-weight: 500;
            width: 50%;
            padding: 9px 5px;
            background: #fff;
            margin-right: 10px;
            @media(max-width:1679px)
            {
                margin-right: 5px;
                font-size: 12px;
            }
            @media(max-width:1481px){
                font-size: 12px;
            }
            @media(max-width:450px)
            {
                width: 100%;
                margin-bottom: 13px;
                margin-right: 0;
            }
        }
        .btn-duration{
            margin-right: 0;
        }
        .list-order-outer {
            margin-top: 20px;
            .list-order {
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;
                .label-content {
                    color:$label-txt-blue;
                    font-weight: 500;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                    @media(max-width:370px)
                    {
                        font-size: 12px;
                    }
                }
                .data-content {
                    font-size: 15px;
                    font-weight: 500;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                    @media(max-width:370px)
                    {
                        font-size: 12px;
                    }
                }
            }
        }
       
    }
    .bottom-block
    {
        margin-top: 15px;
        // border-top: 1px solid $border-grey;
        padding-top: 24px !important;
        position: relative;
        &::before{
            position: absolute;
            top: 0;
            background-color: $border-grey;
            content: '';
            left: -40px;
            width: calc(100% + 80px);
            height: 1px;
            display: block;
            @media(max-width:1679px){
                left: -25px;
                width: calc(100% + 50px);
            }
            @media(max-width:767px){
                left: -19px;
                width: calc(100% + 38px);
            }
        }
        .badge-staking-date span {
            border: 1px solid $btn-border-green;
            background: $light-green;
            padding: 7px 26px;
            border-radius: 50px;
            margin-bottom: 17px;
            margin-top: 12px;
            color:$btn-green-text;
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            @media(max-width:1679px)
            {
                font-size: 11px;
            }
            @media(max-width:575px)
            {
                padding: 7px 12px;
            }
        }
        .btn-outr {
            display: flex;
            @media(max-width:375px)
            {
                flex-direction: column;
            }
            .btn-stake
            {
                margin-right:10px;
                background-color:$primary-blue;
                color: #fff;
                padding: 12px 15px;
                border: solid 1px $primary-blue;
                width: 50%;
                text-align: center;
                text-decoration: none;
                border-radius: 50px;
                &.not-allowed{
                    opacity: .5;
                }
                @media(max-width:1679px)
                {
                    padding:8px 15px;
                    font-size: 14px;
                }
                @media(max-width:375px)
                {
                    width: 100%;
                    margin-bottom: 13px;
                    margin-right: 0;
                }
            }
            .btn-unstake
            {
                background: $primary-light;
                color: $label-txt-blue;
                padding: 12px 15px;
                border: 1px solid $border-grey-1;
                width: 50%;
                text-align: center;
                text-decoration: none;
                border-radius: 50px;
                &.not-allowed{
                    opacity: .5;
                }
                @media(max-width:1679px)
                { 
                    padding:6px 12px;
                    font-size: 14px;
                    line-height: 26px;
                }
                @media(max-width:375px)
                {
                    width: 100%;
                }
            }
        }
    }
}
.stake-modal
{
    .modal-header
    {
        @media(max-width:1679px)
        {
            padding-top: 5px;
        }
    }
    .modal-dialog
    {
        max-width: 800px;
        @media(max-width:1679px)
        {
            max-width: 700px;
        }
        @media(max-width:991px)
        {
            max-width:96%;
        }
    }
    .modal-body
    {
        padding: 0px 50px 45px;
        @media(max-width:1679px)
        {
            padding: 0px 45px 28px;
        }
        @media(max-width:767px)
        {
            padding: 0px 25px 28px;
        }
        @media(max-width:767px)
        {
            padding: 0px 15px 28px;
        }
        .crate-stake-modal-body
        {
            .modal-title
            {
                h2
                {
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    @media(max-width:1679px)
                    {
                        margin-bottom: 15px;
                        font-size: 18px;
                    }
                    @media(max-width:767px)
                    {
                        font-size: 16px;
                    }
                    @media(max-width:575px)
                    {
                        font-size: 15px;
                    }
                }
                img
                {
                    background: #F3F4FA;
                    border-radius: 50px;
                    padding: 6px;
                    height: 38px;
                    margin-right: 8px;

                }
            }
        }
        .stake-min-row{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
            @media (max-width: 1679px) {
                margin-bottom: 15px;
            }
            .stake-min-block{
                font-size: 14px;
                color: #8393BA;
                margin-bottom: 10px;
                @media (max-width: 1679px) {
                    font-size: 13px;
                }
                @media (max-width: 579px) {
                    font-size: 12px;
                }
                &:first-child{
                    margin-right: 65px;
                    @media (max-width: 579px) {
                        margin-right: 35px;
                    }
                }
                .val{
                    display: inline-block;
                    padding-left: 6px;
                }
            }
        }
        .lock-period
        {
            color: $text-primary-light;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
            span{
                font-weight: 500;
            }
            @media(max-width:1679px)
            {
                font-size: 13px;
                margin-top:8px;
                margin-bottom:2px;
            }
            @media(max-width:767px)
            {
                margin-top: 0px;
            }
        }
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
            margin-top:25px;
            margin-bottom: 20px;
            @include placeholder{
                color: $text-primary-light;
            }
            .form-control
            {
                color: $text-primary-dark;
                border: 1px solid #B4BFCD;
                border-radius: 50px !important;
                height: 60px;
                padding: 20px;
                padding-left: 27px;
                font-size:14px;
                font-weight: 600;
                @media(max-width:1679px)
                {
                    height: 50px;
                }
                @media(max-width:479px){
                    padding-left: 15px;
                    height: 46px;
                    font-size: 13px;
                }
            }
            .badges {
                position: absolute;
                right: 2px;
                display: flex;
                top: 9px;
                cursor: pointer;
                z-index:9;
                @media(max-width:1679px)
                {
                    top: 6px;
                }
                @media(max-width:575px)
                {
                    top: 9px;
                }
                .num-badge {
                    border-radius: 25px;
                    padding: 9px 28px;
                    border: solid 1px $border-grey-1;
                    color: $text-primary-dark;
                    background-color: $primary-light;
                    margin-right: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    z-index: 99;
                    transition: .3s;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                        padding: 9px 21px;
                    }
                    @media(max-width:575px)
                    {
                        padding: 6px 15px;
                        font-size: 11px;
                        margin-right: 4px;
                    }
                    @media(max-width:479px){
                        padding: 6px;
                        font-size: 10px;
                        margin-right: 2px;
                    }
                    &:hover{
                        border-color: $primary-blue !important;
                    }
                }
                .max-active
                {
                    background: $primary-blue;
                    color:$primary-light;
                }
            }
        }
        .rwd-inner {
            margin-top: 25px;
            margin-bottom: 18px;
            @media(max-width:1679px)
            {
                margin-top: 15px;
                margin-bottom: 9px;
            }
            .detail-outer {
                margin-bottom: 20px;
                display:flex;
                .props-col
                {
                    color: #FF5050;
                }
                @media(max-width:1679px)
                {
                    margin-bottom: 12px;
                }
                img
                {
                    margin-right:15px;
                    max-width: 19px;
                }
                span
                {
                    color: $text-primary-light;
                    font-size: 16px;
                    font-weight: 500;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                }
                .cnt{
                    color: $text-primary-dark;
                    font-weight: 600;
                    padding-left: 10px;
                }
                .props-col, .prop-num{
                    font-weight: 600;
                    color: $text-primary-dark;
                }
                .penalty-cnt{
                    color: #FC5252 !important;
                }
                .withdraw-cnt{
                    color: #0DAD4D !important;
                }
              
            }
            &.rwd-col-inner{
                display: flex;
                flex-wrap: wrap;
                .detail-outer{
                    width: 50%;
                    flex-wrap: wrap;
                    margin-bottom: 30px;
                    @media(max-width:1679px)
                    {
                        margin-bottom: 20px;
                    }
                    @media(max-width:420px)
                    {
                        width: 100%;
                    }
                    .props-col{
                        padding-top: 6px;
                        width: 100%;
                    }
                }
            }
        }
        .pool-cap-txt
        {
            color: $text-primary-dark;
            display: flex;
            align-items: center;
            .current-pool-label{
                display: flex;
                align-items: center;
            }
            @media(max-width:579px)
            {
                flex-wrap: wrap;
            }
            @media(max-width:991px)
            {
                margin-top: 20px;
            }
            .pool-label
            {
                color: $text-primary-dark;
                font-weight: 600;
                font-size: 16px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
            .pool-cont
            {
                color: $text-primary-dark;
                font-weight: 600;
                font-size: 20px;
                @media(max-width:1679px)
                {
                    font-size: 16px;
                }
                @media(max-width:579px)
                {
                    font-size: 15px;
                }
            }
            .rem-pool-label{
                margin-left: auto;
                padding-right: 40px;
                display: flex;
                align-items: center;
                @media(max-width:579px){
                    width: 100%;
                    padding-top: 5px;
                }
                .pool-cont{
                    padding-left: 2px;
                }
            }
        }
        .progress-bar-section {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            margin-bottom: 15px;
            .progress-count {
                color:$primary-blue;
                font-weight: 600;
                font-size: 15px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
        }
        .btn-outer
        {
            display:flex;
            @media(max-width:450px)
            {
                flex-direction: column;
            }
        }
        .btn-stake
        {
            border-radius: 24px;
            background: $primary-blue;
            color: $primary-light;
            display: inline-block;
            width: 100%;
            height: 52px;
            text-align: center;
            line-height: 48px;
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            &:hover{
                opacity: .8;
            }
            @media(max-width:1679px)
            {
                height: 50px;
                font-size:14px;
            }
            @media(max-width:579px)
            {
                height: 46px;
            }
        }
        .withdraw-btn
        {
            background: #DFAB45;
        }
        .btn-default
        {
            border-radius: 28px;
            border: 1px solid $border-grey-1;
            color: $text-primary-dark;
            font-size: 15px;
            font-weight: 500;
            width: 47%;
            padding: 9px;
            background: #fff;
            margin-right: 10px;
            height: 50px;
            span{
                font-weight: 600;
            }
            @media(max-width:1679px)
            {
                font-size: 13px;
                height: 40px;
            }
            @media(max-width:450px)
            {
                width: 100%;
                margin-bottom: 13px;
                margin-right: 0;
            }
        }
        .policy-stake {
            border-radius: 12px;
            background: #FFF6E1;
            margin-top: 30px;
            padding: 20px 22px;
            @media(max-width:1679px)
            {
                margin-top:15px;
                padding: 10px 15px;
            }
            @media(max-width:575px)
            {
                margin-top: 13px;
            }
            .head-policy {
                color: #8B7645;
                font-weight: 600;
                font-size: 14px;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                @media(max-width:1679px)
                {
                    font-size: 12px;
                    margin-bottom:10px;
                }
                img
                {
                    margin-right: 9px;
                    height: 15px;
                    margin-top: -1px;

                }
            }
            .policy-text
            {
                color: #85744C;
                font-weight: 400;
                font-size: 12px;
                @media(max-width:1679px)
                {
                    font-size: 11px;
                }
                p
                {
                    margin-bottom:8px;
                }
            }
        }
    }
}

.card-section-outer .top-block .progress-bar-section .progress-bar-block{
    .progress{
        height: 16px;
        @media(max-width:1679px){
            height: 14px;
        }
        @media(max-width:1481px){
            height: 12px;
        }
    }
}

.progress-bar-section {
    display: flex;
    margin-top: 8px;
    margin-bottom: 12px;
    align-items: center;
    .progress-bar-block{
        flex: 1 1 auto;
    }
    .progress-count {
        flex: 0 0 auto;
        color:$primary-blue;
        font-weight: 600;
        font-size: 15px;
        padding-left: 15px;
        @media(max-width:1679px)
        {
            font-size: 13px;
        }
    }
}

.staking-card-block{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 1px solid #fff;
    background: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (max-width: 700px) {
        width: 100%;
        max-width: 460px;
        margin: 0 auto;
    }
    .card-banner-block{
        aspect-ratio: 3.198;
        width: 100%;
        min-height: 110px;
        position: relative;
        border-radius: 14px;
        overflow: hidden;
        margin-bottom: 15px;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 19, 46, 0.00) 3.5%, #00132E 91%);
        }
        .bnr-img-sm{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .logo-block{
            z-index: 2;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .coin-logo{
            display: inline-flex;
            align-items: center;
            .img-coin{
                width: 40px;
            }
            .img-coin-txt{
                margin-left: 8px;
                max-height: 22px;
            }
        }
        .certic-label{
            color: #fff;
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            font-style: italic;
            img{
                margin-left: 8px;
            }
        }
    }
    .title-block{
        margin-bottom: 20px;
        h4{
            font-size: 22px;
            font-weight: 600;
            color: #2E4276;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        p{
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            color: #4D6090;
            margin-bottom: 0;
            font-size: 15px;
        }
    }
    .timer-card-cover{
        margin-bottom: 15px;
        border-radius: 23px;
        overflow: hidden;
        border: 1px solid #E3E4F3;
        .start-label{
            border-radius: 22px 22px 0 0;
            padding: 3px 10px;
            text-align: center;
            width: 100%;
            color: #fff;
            background-color: $primary-blue;
            font-size: 12px;
        }
        .timer-wrapper{
            display: flex;
            align-items: center;
            padding: 8px 25px;
            .time-col{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                .timer-cnt{
                    width: 53px;
                    height: 53px;
                    flex-shrink: 0;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 0;
                    margin-bottom: 5px;
                    border: solid 1px #E3E4F3;
                    font-size: 19px;
                    background-color: transparent;
                    color: #4D6090;
                    &.active{
                        border-color: #E6EEFF;
                        background-color: #E6EEFF;
                    }
                }
                .time-label{
                    text-align: center;
                    font-size: 12px;
                    color: #4D6090;
                }
            }
            .dot-seprator{
                align-self: flex-start;
                padding-top: 2px;
                font-size: 30px;
                color: #4D6090;                
                margin: 0 15px;
                
            }
        }
    }
    .progress-sm-sec{
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;
        .progress-col{
            border-radius: 15px;
            border: 1px solid #E3E4F3;
            
            overflow: hidden;
            &.progress-col-left{
                width: calc(60% - 10px);
            }
            &.progress-col-right{
                width: 40%;
            }
        }
        .dur-cover{
            height: 100%;
            width: 100%;
            text-align: center;
            .dur-itm-block{
                width: 100%;
                height: 50%;
                min-height: 52px;
                font-weight: 300;
                color: #2E4276;
                font-size: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
                span{
                    font-weight: 700;
                }
            }
            .apy-block{
                background-color: $primary-blue;
                color: #fff;
            }
            .dur-block{
                flex-direction: column;
            }
        }
        .progress-bar-block{
            display: flex;
            align-items: center;
            height: 100%;
            padding: 0 !important;
        }
        .text-block{
            flex: 1 1 auto;
        }
        .text-block-inner{
            border-bottom: solid 1px #E3E4F3;
            padding: 7px 5px 7px 10px;
            &:last-child{
                padding-top: 5px;
                border-bottom: 0;
            }
        }
        .progress-label{
            font-size: 14px;
            color: $primary-blue;
            margin-bottom: 3px;
        }
        h5{
            font-size: 16px;
            font-weight: 600;
            color: #2E4276;
            margin-bottom: 0;
        }
        .progress-block{
            flex: 0 0 auto;
            width: 90px;
            height: 100%;
            border-left: solid 1px #E3E4F3;
            padding: 5px;
        }
    }
    .table-block-cover{
        width: 100%;
        display: flex;
        border-radius: 15px;
        border: 1px solid #E3E4F3;
        flex-wrap: wrap;
        margin-bottom: 15px;
        .table-card{
            padding: 10px 15px;
            position: relative;
            width: 50%;
            &.expected-reward{
                background-color: $primary-blue;
                border-radius: 0 15px 15px 0;
                .info{
                    border-color: #fff;
                    color: #fff;
                    img{
                        filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(133deg) brightness(105%) contrast(105%) !important;
                    }
                }
                .tab-label{
                    color: #fff;
                }
                .tab-val{
                    color: #fff;
                }
            }
            &:nth-child(odd){
                border-right: 1px solid #E3E4F3;
            }
            &.card-br-b{
                border-bottom: 1px solid #E3E4F3;
            }
            .info{
                border-radius: 15px;
                border: 1px solid #697F9B;
                border: none !important;
                width: 15px;
                height: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                line-height: 0;
                flex-shrink: 0;
                position: absolute;
                right: 8px;
                top: 8px;
                font-size: 10px;
                font-weight: 500;
                color: #697F9B;
                img{
                    max-width: 100%;
                    filter: brightness(0) saturate(100%) invert(51%) sepia(10%) saturate(1217%) hue-rotate(174deg) brightness(94%) contrast(83%);

                }
            }
            .tab-label{
                font-size: 14px;
                font-style: normal;
                font-weight: 300;;
                color: #697F9B;
                margin-bottom: 8px;
            }
            .tab-val{
                color: #2E4276;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
            }
        }
    }
    .card-btm-sec{
        flex: 0 0 auto;
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding-top: 15px;
        flex-wrap: wrap;
        .badge-staking-date {
            width: 100%;
            span {
                border: 1px solid $btn-border-green;
                background: $light-green;
                padding: 7px 26px;
                border-radius: 50px;
                margin-bottom: 17px;
                margin-top: 12px;
                color:$btn-green-text;
                display: inline-block;
                font-size: 13px;
                font-weight: 500;
                @media(max-width:1679px)
                {
                    font-size: 11px;
                }
                @media(max-width:575px)
                {
                    padding: 7px 12px;
                }
            }
        }
        .stake-btn{
            padding: 12px 15px;
            text-decoration: none;
            width: calc(50% - 5px);
            display: block;
            text-align: center;
            &.not-allowed{
                opacity: .5;
            }
            &.btn-border{
                color: $primary-blue;
                border: 1px solid $primary-blue !important;
            }
        }
    }
}
@media($sm-1679){
    .staking-card-block .progress-sm-sec h5{
        font-size: 12px;
    }
    .staking-card-block .progress-sm-sec .progress-label{
        font-size: 12px;
    }
    .staking-card-block .card-banner-block .coin-logo .img-coin {
        width: 32px;
    }
    .staking-card-block .card-banner-block .coin-logo .img-coin-txt {
        max-height: 18px;
    }
    .staking-card-block .card-banner-block .certic-label{
        font-size: 12px;
    }
    .staking-card-block .card-banner-block .certic-label img{
        width: 20px;
    }
    .staking-card-block .title-block h4 {
        font-size: 18px;
    }
    .staking-card-block .title-block p{
        font-size: 13px;
    }
    .staking-card-block .timer-card-cover .timer-wrapper .time-col .timer-cnt {
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
    .staking-card-block .timer-card-cover .timer-wrapper .time-col .time-label{
        font-size: 10px;
    }
    .staking-card-block .timer-card-cover .timer-wrapper .dot-seprator {
        font-size: 24px;
        padding-top: 2px;
    }
    .staking-card-block{
        padding: 15px;
    }
    .staking-card-block .progress-sm-sec .dur-cover .dur-itm-block{
        font-size: 13px;
        min-height: 30px;
    }
    .staking-card-block .table-block-cover .table-card .tab-val{
        font-size: 14px;
    }
    .staking-card-block .table-block-cover .table-card .tab-label{
        margin-bottom: 4px;
        font-size: 12px;
    }
    .staking-card-block .table-block-cover .table-card {
        padding: 9px 12px;
    }
    .staking-card-block .progress-sm-sec, .staking-card-block .table-block-cover, 
    .staking-card-block .timer-card-cover {
        margin-bottom: 10px;
    }
    .staking-card-block .card-btm-sec .stake-btn{
        font-size: 14px;
    }
    .staking-card-block .card-banner-block{
        max-height: 110px;
        margin-bottom: 12px;
    }
    .staking-card-block .title-block {
        margin-bottom: 12px;
    }
    .staking-card-block .table-block-cover .table-card .tab-val{
        margin-bottom: 0;
    }
    .staking-card-block .card-btm-sec{
        padding-top: 10px;
    }
    .staking-card-block .progress-sm-sec .dur-cover .apy-block{
        padding: 5px;
    }
    .staking-card-block .progress-sm-sec .dur-cover .dur-itm-block.dur-block{
        padding: 10px 5px;
    }
    .staking-card-block .card-btm-sec .stake-btn {
        padding: 10px 15px;
    }
}
@media($sm-1481){
    .staking-card-block .progress-sm-sec .progress-block{
        width: 85px;
    }
    .staking-card-block .timer-card-cover .timer-wrapper .dot-seprator {
        font-size: 20px;
        padding-top: 2px;
    }
    .staking-card-block .card-banner-block{
        max-height: 100px;
        min-height: 95px;
    }
    .staking-card-block .card-banner-block .logo-block{
        padding: 10px;
    }
    .staking-card-block .card-banner-block .coin-logo .img-coin {
        width: 25px;
    }
    .staking-card-block .card-banner-block .coin-logo .img-coin-txt {
        max-height: 15px;
    }
    .staking-card-block .card-banner-block .certic-label img {
        width: 19px;
    }
    .staking-card-block .card-banner-block .certic-label{
        font-size: 11px;
    }
    .staking-card-block .title-block h4 {
        font-size: 16px;
    }
    .staking-card-block .title-block p {
        font-size: 12px;
    }
    .staking-card-block .progress-sm-sec .progress-bar-block {
        padding: 10px 10px;
    }
    .staking-card-block .progress-sm-sec .dur-cover .dur-itm-block {
        font-size: 12px;
        min-height: 26px;
        line-height: 15px;
    }
    .staking-card-block .table-block-cover .table-card .tab-label {
        margin-bottom: 3px;
    }
    .staking-card-block .timer-card-cover .timer-wrapper .time-col .timer-cnt {
        width: 38px;
        height: 38px;
        font-size: 14px;
    }
    .staking-card-block .table-block-cover .table-card .info {
        width: 13px;
        height: 13px;
        font-size: 8px;
        right: 5px;
        top: 5px;
    }
}
@media(max-width: 1350px){
    .staking-card-block .table-block-cover .table-card .info {
        width: 14px;
        height: 14px;
    }
    .staking-card-block .card-banner-block {
        max-height: 160px;
    }
}
@media($sm-991){
    .staking-card-block .timer-card-cover .timer-wrapper{
        max-width: 420px;
        margin: 0 auto;
    }
}
@media($sm-767){
    .staking-card-block .table-block-cover .table-card{
        padding-right: 15px;
    }
    .staking-card-block .table-block-cover .table-card .info {
        width: 12px;
        height: 12px;
        right: 4px;
        top: 4px;
    }
}
@media($sm-579){
    .staking-card-block .card-btm-sec .stake-btn {
        padding: 11px 15px;
        font-size: 13px;
    }
    .staking-card-block .timer-card-cover .timer-wrapper .time-col .timer-cnt{
        margin-bottom: 2px;
    }
}
@media($sm-479){
    .staking-card-block .progress-sm-sec .progress-label {
        font-size: 11px;
    }
    .staking-card-block {
        padding: 15px 12px;
    }
}
@media(max-width: 400px){
    .staking-card-block .progress-sm-sec .progress-block {
        width: 80px;
    }
}
@media(max-width: 380px){
    .staking-card-block .timer-card-cover .timer-wrapper {
        padding: 8px 10px;
    }
    .staking-card-block .timer-card-cover .timer-wrapper .dot-seprator{
        margin: 0 5px;
    }
    .staking-card-block .card-banner-block{
        max-height: 85px;
        min-height: 70px;
    }
}
@media(max-width: 349px){
    .staking-card-block .progress-sm-sec .progress-block {
        width: 90px;
    }
    .staking-card-block .table-block-cover .table-card .tab-label {
        font-size: 11px;
    }
    .staking-card-block .table-block-cover .table-card .tab-val {
        font-size: 12px;
    }
    .staking-card-block .progress-sm-sec{
        flex-wrap: wrap;
    }
    .staking-card-block .progress-sm-sec .progress-col{
        width: 100% !important;
    }
    .staking-card-block .progress-sm-sec .progress-col.progress-col-left{
        margin-bottom: 10px;
    }
// }
// @media(max-width: 340px){
    .staking-card-block .table-block-cover{
        flex-wrap: wrap;
    }
    .staking-card-block .table-block-cover .table-card{
        width: 100%;
        border-bottom: 1px solid #E3E4F3;
        &:last-child{
            border-bottom: 0;
        }
    }
    .staking-card-block .table-block-cover .table-card.expected-reward{
        border-radius: 0 0 15px 15px;
    }
    .staking-card-block .table-block-cover .table-card:nth-child(odd){
        border-right: 0;
    }
    .staking-card-block .table-block-cover .table-card .info {
        right: 7px;
        top: 6px;
    }
    .staking-card-block .card-btm-sec .stake-btn {
        width: calc(50% - 3px);

    }
}

.filter-wrapper{
    .block-left{
        max-width: 100%;
    }
}
@media(max-width:579px){
    .filter-wrapper {
        padding: 13px 10px;
    }
}
.filter-nav-btn-wrapper.filter-nav-scroll{
    @media(max-width:767px){
        overflow: hidden;
        overflow-x: auto;
        .filter-nav-btn{
            margin-right: 8px;
            text-wrap: nowrap;
            min-width: auto;
            &::after{
                bottom: 0 !important;
            }
        }
    }
    @media(max-width:579px){
        .filter-nav-btn{
            margin-right: 3px;
            margin-bottom: 5px;
            padding: 7px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
.welcome-stake-outer-new{
    margin-right: 15px;
    padding:50px 50px;
    display: flex;
    align-items: flex-start;
    border-radius:6px;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
    padding: 23px 20px 30px;
    background: linear-gradient(93deg, #0153C9 0.77%, #0007B8 99.69%);
    @media (max-width: 1199px) {
        margin-right: 0;
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 40%;
        background: {
            image: url('../img/soon-bg-left.svg');
            repeat: no-repeat;
            position: left;
            size: cover;
        };
        background-position: calc(100% + 20px);
    }
    &::after{
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        height: 100%;
        width: 240px;
        background: {
            image: url('../img/soon-bg-right.svg');
            repeat: no-repeat;
            position: right;
        };
    }
    .logo-bg{
        position: absolute;
        height: 100%;
        top: 5px;
        left: auto;
        right: 28%;
        opacity: .5;
        img{
            max-height: calc(100% - 20px);
        }
    }
    .certic-block{
        position: absolute;
        display: inline-flex;
        align-items: center;
        background-color: #00117E;
        border-radius: 20px;
        padding: 5px 10px;
        right: 12px;
        top: 20px;
        font-style: italic;
        font-size: 14px;
        z-index: 3;
        color: $primary-light;
        img{
            margin-left: 8px;
        }
    }
    .content-block{
        width: 70%;
        max-width: 460px;
        margin-left: auto;
        margin-right: 15%;
        position: relative;
        z-index: 2;
        .logo-block{
            margin-bottom: 12px;
        }
        h2{
            margin-bottom: 12px;
            font-size: 35px;
            font-weight: 600;
            color: $primary-light;
        }
        h3{
            font-size: 28px;
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            color: $primary-light;
            img{
                margin-right: 8px;
            }
        }
        p{
            font-size: 16px;
            margin-bottom: 0;
            color: $primary-light;
        }
    }
}
@media(max-width:1679px){
    .welcome-stake-outer-new .content-block h2{
        font-size: 26px;
    }
    .welcome-stake-outer-new .content-block h3 {
        font-size: 21px;
    }
    .welcome-stake-outer-new .content-block h3 img{
        width: 32px;
    }
    .welcome-stake-outer-new .content-block .logo-block img{
        height: 25px;
    }
    .welcome-stake-outer-new .content-block p {
        font-size: 14px;
    }
    .welcome-stake-outer-new .content-block {
        max-width: 370px;
    }
    .welcome-stake-outer-new .certic-block{
        font-size: 12px;
        top: 14px;
        img{
            width: 20px;
        }
    }
    .welcome-stake-outer-new::before{
        width: 30%;
        background-position: calc(100% + 50px);
        background-size: auto 248px;
    }
}
@media(max-width:1481px){
    .welcome-stake-outer-new .content-block .logo-block img {
        height: 22px;
    }
    .welcome-stake-outer-new .content-block h2 {
        font-size: 24px;
    }
    .welcome-stake-outer-new .content-block h3 {
        font-size: 19px;
    }
    .welcome-stake-outer-new .content-block h3 img {
        width: 30px;
    }
    .welcome-stake-outer-new .content-block p {
        font-size: 13px;
    }
    .welcome-stake-outer-new{
        align-items: center;
    }
    .welcome-stake-outer-new .content-block {
        max-width: 338px;
        margin-right: 12%;
    }
    .welcome-stake-outer-new::before {
        background-position: calc(100% + 35px);
        background-size: auto 200px;
    }
}
@media(max-width:1400px){
    .welcome-stake-outer-new::before {
        background-position: calc(100% + 25px);
        background-size: auto 180px;
    }
}
@media(max-width:1300px){
    .welcome-stake-outer-new::before {
        background-position: calc(100% + 0px);
        background-size: contain;
    }
    .welcome-stake-outer-new .content-block {
        margin-right: 8%;
    }
}
@media(max-width:1199px){
    .welcome-stake-outer-new .content-block {
        margin-right: 20%;
    }
    .welcome-stake-outer-new::before{
        width: 35%;
    }
    .welcome-stake-outer-new .content-block h2 {
        font-size: 22px;
    }
    .welcome-stake-outer-new .content-block h3 {
        font-size: 18px;
    }
}
@media(max-width:767px){
    .welcome-stake-outer-new::before{
        width: 30%;
    }
    .welcome-stake-outer-new .content-block {
        margin-right: 15%;
    }
    .staking-card-block .table-block-cover .table-card{
        padding-top: 12px;
        padding-bottom: 14px;
    }
}
@media(max-width:640px){
    .welcome-stake-outer-new::before{
        display: none;
    }
    .welcome-stake-outer-new .content-block{
        width: 100%;
        margin-right: 0;
        margin-left: 10%;
    }
    .welcome-stake-outer-new .logo-bg {
        left: 18%;
        right: auto;
        opacity: .5;
    }
}
@media(max-width:579px){
    .welcome-stake-outer-new .content-block{
        margin-left: 0;
    }
    .welcome-stake-outer-new .content-block h2 {
        font-size: 20px;
    }
    .welcome-stake-outer-new .content-block h3 {
        font-size: 16px;
    }
    .welcome-stake-outer-new .content-block h3 img {
        width: 26px;
    }
    .welcome-stake-outer-new .logo-bg {
        left: 12%;
    }
    .welcome-stake-outer-new .logo-bg{
        height: 90%;
    }
    .staking-card-block .title-block {
        margin-bottom: 20px;
    }
    .staking-card-block .card-banner-block {
        margin-bottom: 14px;
    }
    .staking-card-block .timer-card-cover{
        margin-bottom: 12px;
    }
    .staking-card-block .table-block-cover .table-card .tab-label{
        margin-bottom: 8px;
    }
}
@media(max-width:479px){
    .welcome-stake-outer-new .certic-block {
        font-size: 11px;
    }
    .welcome-stake-outer-new .content-block .logo-block img {
        height: 19px;
    }
    .welcome-stake-outer-new .content-block h2 {
        font-size: 18px;
    }
    .welcome-stake-outer-new .content-block h3 {
        font-size: 14px;
    }
    .welcome-stake-outer-new .content-block h3 img {
        width: 24px;
    }
    .welcome-stake-outer-new .content-block p {
        font-size: 12px;
    }
}
.card-section-outer{
    .pool-title{
        padding-top: 5px;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 0;
        color: #2E4276;
        margin-bottom: 10px;
        @media(max-width:1679px){
            font-size: 17px;
        }
        @media(max-width:1199px){
            font-size: 16px;
        }
        @media(max-width:579px){
            font-size: 15px;
        }
    }
}