@import "partials/partials";
.filter-wrapper
{
    margin-bottom:15px;
}
.staking-dashboard-outer
{
    display:flex;
    @media(max-width:1100px)
    {
            flex-direction: column;
    }
    .welcome-stake-outer
    {
        background: $primary-light;
        margin-right: 15px;
        padding:50px 50px;
        display: flex;
        align-items: center;
        border-radius:6px;
        @media(max-width:1679px)
        {
            padding:20px 30px;
        }
        @media(max-width:1100px)
        {
            margin-top: 0px;
            margin-right: 0px;
        }
        @media(max-width:575px)
        {
            flex-direction: column;
            padding: 20px 20px;
        }
        .img-sec-stake
        {
            img
            {
                height: 130px;
            }
            @media(max-width:575px)
            {
                order: 2;
            }
        }
        .detail-sec-stake
        {
            padding-left:45px;
            @media(max-width:1150px)
            {
                padding-left:8px;
            }
            @media(max-width:575px)
            {
                padding-left:0px;
            }
            .props-badge
            {
                .props-name
                {
                    background: #657181;
                    display: inline-block;
                    padding: 6px 17px;
                    border-radius: 50px;
                    color:  $primary-light;
                    margin-bottom: 13px;
                    font-size: 14px;
                    font-weight:500;
                    @media(max-width:1679px)
                    {
                        font-size: 12px;
                    }
                }
            }
            .welcome-txt
            {
                h3
                {
                    font-size: 20px;
                    margin-top: 10px;
                    font-weight: 600;
                    @media(max-width:1679px)
                    {
                        font-size: 16px;
                    }
                    @media(max-width:991px)
                    {
                        font-size: 14px;
                    }
                }
                p
                {
                    color:$text-grey;
                    font-size: 14px;
                    @media(max-width:1679px)
                    {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .total-value-outer
    {
        background: $primary-light;
        padding: 30px 22px;
        border-radius:6px;
        flex: 0 0 28%;
        @media(max-width:1679px)
        {
            padding:20px 22px;
        }
        @media(max-width:1199px)
        {
            flex: 0 0 35%;
        }
        @media(max-width:1100px)
        {
            margin-top: 15px;
        }
        .stake-tot-locked
        {
            border-bottom: 1px solid $border-grey;
            padding-bottom: 14px;
            @media(max-width:991px)
            {
                padding-bottom: 8px;
            }
            
            h3
            {
                font-size:20px;
                font-weight: 600;
                color: #292D32;
                display: flex;
                align-items: center;
                @media(max-width:1679px)
                {
                    font-size: 17px;
                }
                @media(max-width:1199px)
                {
                    font-size: 15px;
                }
                .txt-sec
                {
                    display: inline-block;
                    margin-left: 6px;
                    margin-top: 3px;
                }
                .img-sec img
                {
                    @media(max-width:1679px)
                    {
                        height: 16px;
                    }
                }
            }
            h2
            {
                font-weight: 700;
                font-size: 23px;
                @media(max-width:1679px)
                {
                    font-size:19px;
                }
                @media(max-width:1199px)
                {
                    font-size: 17px;
                }
            }
        }
        .tot-detl-outer
        {
            padding-top: 30px;
            @media(max-width:991px)
            {
                padding-top: 0px;
            }
            .total-inner {
                margin-bottom: 25px;
                display: flex;
                justify-content: space-between;
                @media(max-width:1679px)
                {
                    margin-bottom: 20px;
                }
                @media(max-width:991px)
                {
                    margin-bottom:0px;
                    padding-top: 15px;
                }
                .label-txt
                {
                    color:$label-txt-blue;
                    font-size:14px;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                }
                .label-num {
                    color:$dark-black;
                    font-weight:600;
                    font-size:16px;
                    @media(max-width:1679px)
                    {
                        font-size: 14px;
                    }
                    @media(max-width:1199px)
                    {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}
.card-section-outer
{
    padding-top: 15px;
    .h-card-col
    {
        padding-right: 15px;
        padding-left: 0;
        @media(max-width:1199px)
        {
            width:100%;
            padding-left:15px;
        }
        @media(max-width:991px)
        {
            margin-bottom: 15px;
        }
        &:nth-child(1) {
          
            padding-left: 15px !important;
        }
        .h-card-block
        {
            border-radius: 6px;
            @media(max-width:1679px)
            {
                padding: 25px 25px 50px;
            }
            @media(max-width:991px)
            {
                padding-bottom:30px;
            }
            @media(max-width:767px)
            {
                padding: 25px 19px 50px;
            }
            
        }
    }
    .top-block
    {
        .heading-txt
        {
            display:flex;
            align-items: center;
            margin-bottom:35px;
            @media(max-width:991px)
            {
                margin-bottom:20px;
            }
            img
            {
                height:40px;
            }
            h2
            {
                margin-bottom: 0;
                padding-left: 11px;
                font-size:19px;
                @media(max-width:1679px)
                {
                    font-size: 17px;
                }
            }
        }
        .txt-content
        {
            font-size: 15px;
            margin-top: 13px;
            @media(max-width:1679px)
            {
                font-size: 13px;
            }
        }
        ul
        {
            padding-left: 31px;
            li
            {
                font-size: 15px;
                margin-bottom: 10px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
        }
        .pool-cap-txt
        {
            margin-top:50px;
            @media(max-width:991px)
            {
                margin-top: 20px;
            }
            .pool-label
            {
                font-weight: 600;
                font-size: 16px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
            .pool-cont
            {
                font-weight: 600;
                font-size: 20px;
                @media(max-width:1679px)
                {
                    font-size: 16px;
                }
            }
        }
        .progress-bar-section {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            margin-bottom: 12px;
            .progress-count {
                color:$success-green;
                font-weight: 600;
                font-size: 15px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
        }
        .btn-outer
        {
            display:flex;
            @media(max-width:450px)
            {
                flex-direction: column;
            }
        }
        .btn-default
        {
            border-radius: 28px;
            border: 1px solid $border-grey-1;
            font-size: 15px;
            font-weight: 500;
            width: 47%;
            padding: 9px;
            background: #fff;
            margin-right: 10px;
            @media(max-width:1679px)
            {
                font-size: 13px;
            }
            @media(max-width:450px)
            {
                width: 100%;
                margin-bottom: 13px;
                margin-right: 0;
            }
        }
        .list-order-outer {
            margin-top: 20px;
            border-bottom: 1px solid $border-grey;
            padding-bottom: 14px;
            .list-order {
                display: flex;
                justify-content: space-between;
                margin-bottom: 12px;
                .label-content {
                    color:$label-txt-blue;
                    font-weight: 500;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                    @media(max-width:370px)
                    {
                        font-size: 12px;
                    }
                }
                .data-content {
                    font-size: 15px;
                    font-weight: 500;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                    @media(max-width:370px)
                    {
                        font-size: 12px;
                    }
                }
            }
        }
       
    }
    .bottom-block
    {
        .badge-staking-date span {
            border: 1px solid $btn-border-green;
            background: $light-green;
            padding: 7px 26px;
            border-radius: 50px;
            margin-bottom: 17px;
            margin-top: 12px;
            color:$btn-green-text;
            display: inline-block;
            font-size: 13px;
            font-weight: 500;
            @media(max-width:1679px)
            {
                font-size: 11px;
            }
            @media(max-width:575px)
            {
                padding: 7px 12px;
            }
        }
        .btn-outr {
            display: flex;
            @media(max-width:375px)
            {
                flex-direction: column;
            }
            .btn-stake
            {
                margin-right:11px;
                background-color:$success-green;
                color: #fff;
                padding: 12px 15px;
                border: solid 1px $success-green;
                width: 50%;
                text-align: center;
                text-decoration: none;
                border-radius: 50px;
                @media(max-width:1679px)
                {
                    padding:8px 15px;
                    font-size: 14px;
                }
                @media(max-width:375px)
                {
                    width: 100%;
                    margin-bottom: 13px;
                    margin-right: 0;
                }
            }
            .btn-unstake
            {
                background: $primary-light;
                color: $label-txt-blue;
                padding: 12px 15px;
                border: 1px solid $border-grey-1;
                width: 50%;
                text-align: center;
                text-decoration: none;
                border-radius: 50px;
                @media(max-width:1679px)
                { 
                    padding:6px 12px;
                    font-size: 14px;
                    line-height: 26px;
                }
                @media(max-width:375px)
                {
                    width: 100%;
                }
            }
        }
    }
}
.stake-modal
{
    .modal-header
    {
        @media(max-width:1679px)
        {
            padding-top: 5px;
        }
    }
    .modal-dialog
    {
        max-width: 800px;
        @media(max-width:1679px)
        {
            max-width: 700px;
        }
        @media(max-width:991px)
        {
            max-width:96%;
        }
    }
    .modal-body
    {
        padding: 0px 50px 45px;
        @media(max-width:1679px)
        {
            padding: 0px 45px 28px;
        }
        @media(max-width:767px)
        {
            padding: 0px 25px 28px;
        }
        @media(max-width:767px)
        {
            padding: 0px 15px 28px;
        }
        .crate-stake-modal-body
        {
            .modal-title
            {
                h2
                {
                    font-size: 22px;
                    display: flex;
                    align-items: center;
                    @media(max-width:1679px)
                    {
                        margin-bottom: 20px;
                        font-size: 18px;
                    }
                    @media(max-width:767px)
                    {
                        font-size: 16px;
                    }
                    @media(max-width:575px)
                    {
                        font-size: 15px;
                    }
                }
                img
                {
                    background: #F3F4FA;
                    border-radius: 50px;
                    padding: 6px;
                    height: 38px;
                    margin-right: 8px;

                }
            }
        }
        .lock-period
        {
            color: #697F9B;
            font-weight: 500;
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
            @media(max-width:1679px)
            {
                font-size: 14px;
            }
            @media(max-width:767px)
            {
                margin-top: 0px;
            }
        }
        .input-group {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            width: 100%;
            margin-top:25px;
            
            .form-control
            {
                border: 1px solid #B4BFCD;
                border-radius: 50px !important;
                height: 60px;
                padding: 20px;
                font-size:14px;
                @media(max-width:1679px)
                {
                    height: 50px;
                }
            }
            .badges {
                position: absolute;
                right: 2px;
                display: flex;
                top: 9px;
                cursor: pointer;
                z-index:9;
                @media(max-width:1679px)
                {
                    top: 6px;
                }
                @media(max-width:575px)
                {
                    top: 9px;
                }
                .num-badge {
                    border-radius: 25px;
                    background: #EFF0F9;
                    padding: 9px 28px;
                    margin-right: 8px;
                    font-size: 14px;
                    font-weight: 500;
                    z-index: 99;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                        padding: 9px 21px;
                    }
                    @media(max-width:575px)
                    {
                        padding: 6px 15px;
                        font-size: 11px;
                        margin-right: 4px;
                    }
                }
                .max-active
                {
                    background: #0DAD4D;
                    color:#fff;
                }
            }
        }
        .rwd-inner {
            margin-top: 25px;
            margin-bottom: 18px;
            @media(max-width:1679px)
            {
                margin-top: 15px;
                margin-bottom: 18px;
            }
            .detail-outer {
                margin-bottom: 20px;
                display:flex;
                .props-col
                {
                    color: #FF5050;
                }
                @media(max-width:1679px)
                {
                    margin-bottom: 16px;
                }
                img
                {
                    margin-right:5px;
                }
                span
                {
                    color: #697F9B;
                    font-size: 16px;
                    font-weight: 500;
                    @media(max-width:1679px)
                    {
                        font-size: 13px;
                    }
                }
              
            }
        }
        .pool-cap-txt
        {
            @media(max-width:991px)
            {
                margin-top: 20px;
            }
            .pool-label
            {
                font-weight: 600;
                font-size: 16px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
            .pool-cont
            {
                font-weight: 600;
                font-size: 20px;
                @media(max-width:1679px)
                {
                    font-size: 16px;
                }
            }
        }
        .progress-bar-section {
            display: flex;
            justify-content: space-between;
            margin-top: 8px;
            margin-bottom: 15px;
            .progress-count {
                color:$success-green;
                font-weight: 600;
                font-size: 15px;
                @media(max-width:1679px)
                {
                    font-size: 13px;
                }
            }
        }
        .btn-outer
        {
            display:flex;
            @media(max-width:450px)
            {
                flex-direction: column;
            }
        }
        .btn-stake
        {
            border-radius: 24px;
            background: #0DAD4D;
            color: #fff;
            display: inline-block;
            width: 100%;
            height: 52px;
            text-align: center;
            line-height: 48px;
            text-decoration: none;
            @media(max-width:1679px)
            {
                height: 50px;
                font-size:14px;
            }
        }
        .withdraw-btn
        {
            background: #DFAB45;
        }
        .btn-default
        {
            border-radius: 28px;
            border: 1px solid $border-grey-1;
            font-size: 15px;
            font-weight: 500;
            width: 47%;
            padding: 9px;
            background: #fff;
            margin-right: 10px;
            height: 50px;
            @media(max-width:1679px)
            {
                font-size: 13px;
                height: 45px;
            }
            @media(max-width:450px)
            {
                width: 100%;
                margin-bottom: 13px;
                margin-right: 0;
            }
        }
        .policy-stake {
            border-radius: 12px;
            background: #FFF6E1;
            margin-top: 30px;
            padding: 20px 22px;
            @media(max-width:1679px)
            {
                margin-top: 20px;
            }
            @media(max-width:575px)
            {
                margin-top: 13px;
            }
            .head-policy {
                color: #8B7645;
                font-weight: 600;
                font-size: 14px;
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                @media(max-width:1679px)
                {
                    font-size: 12px;
                    margin-bottom:10px;
                }
                img
                {
                    margin-right: 9px;
                    height: 15px;
                    margin-top: -1px;

                }
            }
            .policy-text
            {
                color: #85744C;
                font-weight: 400;
                font-size: 12px;
                @media(max-width:1679px)
                {
                    font-size: 11px;
                }
            }
        }
    }
}
