@import "partials/partials";
.terms-sec{
    padding: 40px 140px;
    .terms-title{
        border-bottom: solid 1px #D6DCEE;
        margin-bottom: 30px;
        h2{
            padding-bottom: 30px;
            color: #2E4276;
            margin-bottom: 0;
            font-size: 27px;
            font-weight: 700;
        }
    }
    .terms-body-sec{
        
    }
}